<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Danh sách tổ dân phố</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
                <button class="ui-button-success" style="margin-top:15px; float:left" type="text" (click)="create()" pButton icon="fa-plus" label="Thêm"></button>

                <div class="toolbox">

                    <div class="filter fsearch">
                        <label>Từ khóa</label>
                        <div class="ui-g">
                            <input placeholder="tên..." #gb type="text" pInputText>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <p-dataTable [value]="items" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                    <p-column styleClass="stt" header="STT">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column field="name" header="Tên"></p-column>
                    <p-column field="population" header="Số dân">
                        <template let-item="rowData" pTemplate="body">
                            {{ item.population |  number: '.0-2'}}
                        </template>
                    </p-column>
                    <p-column field="mainJob" header="Nghề chính"></p-column>
                    <p-column field="distance" header="Khoảng cách (km)">
                        <template let-item="rowData" pTemplate="body">
                            {{ item.distance |  number: '.0-2'}}
                        </template>
                    </p-column>
                    <p-column field="price" header="Phân khúc giá (VNĐ)">
                        <template let-item="rowData" pTemplate="body">
                            {{ item.price |  number: '.0-2'}}
                        </template>
                    </p-column>
                    <p-column styleClass="col-2 text-center" header="Chức năng">
                        <template let-item="rowData" pTemplate="body"> 
                            <button style="width: 25px" type="button" pButton (click)="update(item)" icon="fa-eye"></button>
                            <button style="width: 25px" type="button" pButton (click)="delete(item)" icon="fa-trash-o" class="ui-button-danger"></button>
                        </template>
                    </p-column>
                </p-dataTable>

            </div>
        </div>
    </div>
</div>

<p-dialog header="{{title}}" [(visible)]="displayForm">
    <form (ngSubmit) = "onSubmit(form.value)" [formGroup]="form" >
        <div class="ui-g form-group">
            <input type="hidden" pInputText formControlName="id"/>
            <div class="ui-g-12 ui-md-4 ui-xs-12">
                <label>Tên <span class="color-red">*</span></label>
            </div>
            <div class="ui-g-12 ui-md-8 ui-xs-12">
                <input formControlName="name" type="text" pInputText/>
                <div *ngIf="form.controls['name'].touched">
                    <div *ngIf="form.controls['name'].hasError('required')" class="alert-error">Bạn cần nhập tên</div>
                    <div *ngIf="form.controls['name'].hasError('minlength')" class="alert-error">Tên cần lớn hơn 3 ký tự</div>
                    <div *ngIf="form.controls['name'].hasError('maxlength')" class="alert-error">Tên cần nhỏ hơn 50 ký tự</div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-4 ui-xs-12">
                <label>Số dân <span class="color-red">*</span></label>
            </div>
            <div class="ui-g-12 ui-md-8 ui-xs-12">
                <input formControlName="population" type="number" pInputText/>
                <div *ngIf="form.controls['population'].touched">
                    <div *ngIf="form.controls['population'].hasError('required')" class="alert-error">Bạn cần nhập số dân</div>
                    <div *ngIf="form.controls['population'].hasError('pattern')" class="alert-error">Số dân phải là số</div>
                </div>
            </div>

            <div class="ui-g-12 ui-md-4 ui-xs-12">
                <label>Khoảng cách đến siêu thị (km) <span class="color-red">*</span></label>
            </div>
            <div class="ui-g-12 ui-md-8 ui-xs-12">
                <input formControlName="distance" type="number" pInputText step="0.1"/>
                <div *ngIf="form.controls['distance'].touched">
                    <div *ngIf="form.controls['distance'].hasError('pattern')" class="alert-error">Bạn cần điền số</div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-4 ui-xs-12">
                <label>Phân khúc giá</label>
            </div>
            <div class="ui-g-12 ui-md-8 ui-xs-12">
                <input formControlName="price" type="number" pInputText/>
                <div *ngIf="form.controls['price'].touched">
                    <div *ngIf="form.controls['price'].hasError('pattern')" class="alert-error">Bạn cần điền số</div>
                </div>
            </div>

            <div class="ui-g-12 ui-md-4 ui-xs-12">
                <label>Ngành nghề chính</label>
            </div>
            <div class="ui-g-12 ui-md-8 ui-xs-12">
                <input formControlName="mainJob" type="text" pInputText/>
                <div *ngIf="form.controls['mainJob'].touched">
                    <div *ngIf="form.controls['mainJob'].hasError('minlength')" class="alert-error">Tên cần lớn hơn 5 ký tự</div>
                    <div *ngIf="form.controls['mainJob'].hasError('maxlength')" class="alert-error">Tên cần nhỏ hơn 50 ký tự</div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
            </div>
            <div class="ui-g-12 ui-md-8">
                <button [disabled]="!form.valid" type="submit" pButton icon="fa-check" label="{{title}}" class="ui-button-success"></button>
                <button type="text" (click)="displayForm=false" pButton icon="fa-close" label="Thoát"></button>
            </div>
        </div>
    </form>
</p-dialog>

<p-dialog header="Thông báo" [(visible)]="displayDel">
    <p>Bạn có chắc muốn xóa tổ dân phố?</p>
    <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button  class="ui-button-danger" type="button" pButton icon="fa-check" (click)="acceptDel()" label="Đồng ý"></button>
                <button type="button" pButton icon="fa-close" (click)="displayDel=false" label="Thoát"></button>
                
            </div>
        </p-footer>
</p-dialog>

