<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Quản lý thông tin địa bàn</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
                 <button class="ui-button-success" style="margin-top:15px; float:left" type="text" (click)="create()" pButton icon="fa-plus"
                    label="Thêm"></button>

                <div class="toolbox">
                    <div class="filter fsearch">
                        <label>Tìm kiếm</label>
                        <div class="ui-g">
                            <input #gb type="text" pInputText>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <p-dataTable [value]="areas" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb"
                    #dt>
                    <p-column header="STT" styleClass="stt">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column field="address" header="Địa chỉ"></p-column>
                    <p-column field="staffName" header="Nhân viên phụ trách"></p-column>
                    <p-column field="shopFriendly" header="Loại thị trường">
                        <template let-item="rowData" pTemplate="body">
                            <a href="#">{{item.shopFriendly | status: 'area'}}</a>
                        </template>
                    </p-column>
                    <p-column styleClass="text-center" header="Tổ dân phố">
                        <template let-item="rowData" pTemplate="body">
                            <a type="button" pButton [routerLink]="['/population-group', item.payAreaCode]" label="Xem"></a>
                        </template>
                    </p-column>
                    <p-column field="population" header="Số dân">
                        <template let-cus="rowData" pTemplate="body">
                            {{ cus.population | number: '.0-2'}}
                        </template>
                    </p-column>
                    <p-column field="distance" header="Khoảng cách đến siêu thị (km)">
                        <template let-cus="rowData" pTemplate="body">
                            {{ cus.distance | number: '.0-2'}}
                        </template>
                    </p-column>
                    <p-column styleClass="text-center col-2" header="Chức năng">
                        <template let-cus="rowData" pTemplate="body">
                            <button type="button" pButton (click)="update(cus)" icon="fa-eye"></button>
                            <button class="ui-button-danger" type="button" pButton (click)="delete(cus)" icon="fa-trash-o"></button>
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div> 
</div> 

<p-dialog header="{{title}}" [(visible)]="displayForm">
    <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
        <div class="ui-g form-group">
            <input type="hidden" pInputText formControlName="id" />
            <div class="ui-g-12 ui-md-4">
                <label>Tỉnh <span class="color-red">*</span></label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <p-dropdown filter="filter" [style]="{'width': '100%'}" (onChange)="CityDropDownChange()" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedCity"
                    [options]="cities" defaultLabel="Chọn tỉnh"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-4">
                <label>Huyện <span class="color-red">*</span></label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <p-dropdown filter="filter" [style]="{'width': '100%'}" (onChange)="DistrictDropDownChange()" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedDistrict"
                    [options]="districts"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-4">
                <label>Xã <span class="color-red">*</span></label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <p-dropdown filter="filter" [style]="{'width': '100%'}" [options]="wards" formControlName="payAreaCode"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-4 ui-xs-12">
                <label>Khoảng cách đến siêu thị(km) <span class="color-red">*</span></label>
            </div>
            <div class="ui-g-12 ui-md-8 ui-xs-12">
                <input style="width: 200px" type="number" formControlName="distance" pInputText min="0" step="0.01"/>
                <div *ngIf="form.controls['distance'].hasError('required') && form.controls['distance'].touched" class="alert-error">Bạn cần nhập khoảng cách</div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <label>Loại thị trường <span class="color-red">*</span></label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <p-dropdown [options]="loais" formControlName="shopFriendly" [style]="{'width':'200px'}" [autoWidth]="false"></p-dropdown>
                <div *ngIf="form.controls['shopFriendly'].hasError('required') && form.controls['shopFriendly'].touched" class="alert-error">Bạn cần chọn loại thị trường</div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <label>Nhân viên <span class="color-red">*</span></label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <p-dropdown [options]="staffs" formControlName="staffId" [style]="{'width':'200px'}" [autoWidth]="false"></p-dropdown>
                <div *ngIf="form.controls['staffId'].hasError('required') && form.controls['staffId'].touched" class="alert-error">Bạn cần chọn nhân viên</div>
            </div>
            <div class="ui-g-12 ui-md-4">
            </div>
            <div class="ui-g-12 ui-md-6">
                <button [disabled]="!form.valid" class="ui-button-success" type="submit" pButton icon="fa-check" label="{{title}}"></button>
                <button type="button" (click)="displayForm=false" pButton icon="fa-close" label="Hủy"></button>
            </div>
            <div style="height:200px;"></div>
        </div>
    </form>
</p-dialog>

<p-dialog header="Thông báo" [(visible)]="displayDel">
    <p>Bạn có chắc muốn xóa?</p>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="displayDel=false" label="Thoát"></button>
            <button class="ui-button-danger" type="button" pButton icon="fa-check" (click)="acceptDel()" label="Đồng ý"></button>
        </div>
    </p-footer>
</p-dialog>