<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Chi tiết chương trình truyền thông</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
                <p-tabView>
                    <p-tabPanel header="Kế hoạch truyền thông">
                        <div class="ui-g form-group">
                            <div class="ui-g-12 ui-md-2">
                                <label>Tên</label>
                            </div>
                            <div class="ui-g-12 ui-md-10" style="font-weight:bold; font-size: 17px">
                                {{program.name}}

                            </div>
                            <div class="ui-g-12 ui-md-2">
                                <label>Thời gian</label>
                            </div>
                            <div class="ui-g-12 ui-md-10">
                                Từ {{program.startDate | date: "dd-MM-y"}} đến {{program.endDate | date: "dd-MM-y"}}

                            </div>

                            <div class="ui-g-12 ui-md-2">
                                <label>Ngân sách</label>
                            </div>
                            <div *ngIf="program.sourceId == 1" class="ui-g-12 ui-md-10">
                                {{ program.deltaBudget | number: '.0-2'}} VNĐ
                            </div>
                            <div *ngIf="program.sourceId == 0" class="ui-g-12 ui-md-10">
                                {{ program.budget | number: '.0-2'}} VNĐ
                            </div>
                            <div class="ui-g-12 ui-md-2">
                                <label>Chi phí truyền thông</label>
                            </div>
                            <div class="ui-g-12 ui-md-10">
                                {{ program.totalCost | number: '.0-2'}} VNĐ
                            </div>

                            <div class="ui-g-12 ui-md-2">
                                <label>Doanh thu tổng</label>
                            </div>
                            <div class="ui-g-12 ui-md-10">
                                {{ program.expectedResult | number: '.0-2'}} VNĐ
                            </div>
                            <div class="ui-g-12 ui-md-2">
                                <label>Lãi dự gộp kiến</label>
                            </div>
                            <div class="ui-g-12 ui-md-10">
                                {{ program.expectProfit}}%
                            </div>
                        </div>
                        <h2 class="h2tit">Chỉ tiêu sản phẩm</h2>
                        <p-dataTable [value]="doanhthuSp" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb"
                            #dt>
                            <p-column styleClass="stt" field="name" header="STT">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template>
                            </p-column>
                            <p-column field="GOODS_NAME" header="Sản phẩm">
                            </p-column>
                            <p-column field="TARGET_NUMBER" header="Doanh thu">
                                <template let-cus="rowData" pTemplate="body">
                                    {{ cus.TARGET_NUMBER | number: '.0-2'}}
                                </template>
                            </p-column>
                        </p-dataTable>
                        <h2 class="h2tit">Chỉ tiêu nhóm hàng</h2>
                        <p-dataTable [value]="doanhthuNhom" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]">
                            <p-column styleClass="stt" field="name" header="STT">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template>
                            </p-column>
                            <p-column field="GOODS_NAME" header="Nhóm hàng"></p-column>
                            <p-column field="PAY_AREA_NAME" header="Địa bàn"></p-column>
                            <p-column field="TARGET_NUMBER" header="Doanh thu">
                                <template let-cus="rowData" pTemplate="body">
                                    {{ cus.TARGET_NUMBER | number: '.0-2'}}
                                </template>
                            </p-column>
                        </p-dataTable>

                        <h2 class="h2tit">Chỉ tiêu siêu thị</h2>
                        <p-dataTable [value]="doanhthuTong" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb"
                            #dt>
                            <p-column styleClass="stt" field="name" header="STT">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template>
                            </p-column>
                            <p-column field="PAY_AREA_NAME" header="Địa bàn">
                            </p-column>
                            <p-column field="STAFF_NAME" header="NV phụ trách">
                            </p-column>
                            <p-column field="TARGET_NUMBER" header="Chỉ tiêu tổng">
                                <template let-cus="rowData" pTemplate="body">
                                    {{ cus.TARGET_NUMBER | number: '.0-2'}}
                                </template>
                            </p-column>
                        </p-dataTable>


                        <h2 class="h2tit">Quản lý kênh truyền thông</h2>
                        <p-dataTable [value]="diaban" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb"
                            #dt>
                            <p-column styleClass="stt" field="name" header="STT">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template>
                            </p-column>
                             <p-column field="address" header="Địa bàn"></p-column>
                            <p-column field="staffName" header="Nhân viên"></p-column>
                            <p-column field="mediaName" header="Hình thức"></p-column>

                            <p-column field="" header="Bắt đầu">
                                <template pTemplate="body" let-cus="rowData">
                                    {{cus.startDate | date:'dd-MM-y'}}
                                </template>
                            </p-column>
                            <p-column field="" header="Kết thúc">
                                <template pTemplate="body" let-cus="rowData">
                                    {{cus.endDate | date:'dd-MM-y'}}
                                </template>
                            </p-column>
                            <p-column field="quantity" header="Số lượng"></p-column>
                            <p-column field="amount" header="Tổng tiền (VNĐ)">
                                <template pTemplate="body" let-cus="rowData">
                                    {{ cus.amount | number: '.0-2'}}
                                </template>
                            </p-column>

                            <p-column field="description" header="Mô tả"></p-column>
                        </p-dataTable>
                    </p-tabPanel>
                    <p-tabPanel header="Đánh giá siêu thị">
                        <h2 class="h2tit">Đánh giá sản phẩm</h2>
                        <p-dataTable [value]="doanhthuSp" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb"
                            #dt>
                            <p-column styleClass="stt" field="name" header="STT">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template>
                            </p-column>

                            <p-column field="GOODS_NAME" header="Sản phẩm"></p-column>
                            <p-column field="TARGET_NUMBER" header="Chỉ tiêu"></p-column>
                            <p-column field="RESULT_NUMBER" header="Đạt được"></p-column>
                            <p-column field="" header="Lũy kế">
                                <template let-item="rowData" pTemplate="body">
                                    {{ (item.RESULT_NUMBER/item.TARGET_NUMBER)*100 | round}}%
                                </template>
                            </p-column>
                            <p-column field="" header="Đánh giá">
                                <template let-item="rowData" pTemplate="body">
                                    <div *ngIf="(item.RESULT_NUMBER/item.TARGET_NUMBER)*100 >= 100">Đạt</div>
                                    <div *ngIf="item.TARGET_NUMBER == 0 || (item.RESULT_NUMBER/item.TARGET_NUMBER)*100 < 100">Chưa đạt</div>
                                </template>
                            </p-column>
                        </p-dataTable>

                        <h2 class="h2tit">Đánh giá theo nhóm hàng</h2>
                        <p-dataTable [value]="doanhthuNhom" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb"
                            #dt>
                            <p-column styleClass="stt" field="name" header="STT">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template>
                            </p-column>
                            <p-column field="PAY_AREA_NAME" header="Địa bàn"></p-column>
                            <p-column field="STAFF_NAME" header="Nhân viên"></p-column>
                            <p-column field="GOODS_NAME" header="Nhóm hàng"></p-column>
                            <p-column field="TARGET_NUMBER" header="Chỉ tiêu"></p-column>
                            <p-column field="RESULT_NUMBER" header="Đạt được"></p-column>
                            <p-column field="" header="Lũy kế">
                                <template let-item="rowData" pTemplate="body">
                                    {{ (item.RESULT_NUMBER/item.TARGET_NUMBER)*100 | round}}%
                                </template>
                            </p-column>
                            <p-column field="" header="Đánh giá">
                                <template let-item="rowData" pTemplate="body">
                                    <div *ngIf="(item.RESULT_NUMBER/item.TARGET_NUMBER)*100 >= 100">Đạt</div>
                                    <div *ngIf="item.TARGET_NUMBER == 0 || (item.RESULT_NUMBER/item.TARGET_NUMBER)*100 < 100">Chưa đạt</div>
                                </template>
                            </p-column>
                        </p-dataTable>

                        <h2 class="h2tit">Đánh giá theo tất cả ngành hàng</h2>
                        <p-dataTable [value]="doanhthuTong" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb"
                            #dt>
                            <p-column styleClass="stt" field="name" header="STT">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template>
                            </p-column>
                            <p-column field="PAY_AREA_NAME" header="Địa bàn"></p-column>
                            <p-column field="STAFF_NAME" header="Nhân viên"></p-column>

                            <p-column field="TARGET_NUMBER" header="Chỉ tiêu"></p-column>
                            <p-column field="RESULT_NUMBER" header="Đạt được"></p-column>
                            <p-column field="" header="Lũy kế">
                                <template let-item="rowData" pTemplate="body">
                                    {{ (item.RESULT_NUMBER/item.TARGET_NUMBER)*100 | round}}%
                                </template>
                            </p-column>
                            <p-column field="" header="Đánh giá">
                                <template let-item="rowData" pTemplate="body">
                                    <div *ngIf="(item.RESULT_NUMBER/item.TARGET_NUMBER)*100 >= 100">Đạt</div>
                                    <div *ngIf="item.TARGET_NUMBER == 0 || (item.RESULT_NUMBER/item.TARGET_NUMBER)*100 < 100">Chưa đạt</div>
                                </template>
                            </p-column>
                            <p-column field="COST_RESULT" header="Hiệu quả chi phí"></p-column>
                        </p-dataTable>

                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
    </div>
</div>