<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Tạo chương trình truyền thông</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>

                <div class="ui-g-4"><b>Lãi gộp dự kiến:</b> {{info.EXPECT_PROFIT | number: '.0-2'}} %</div>
                <div class="ui-g-4"><b>Delta doanh thu:</b> {{info.DELTA_BUDGET | number: '.0-2'}} VNĐ</div>
                <div class="ui-g-4"><b>Chi phí truyền thông:</b> {{info.TOTAL_COST | number: '.0-2'}} VNĐ</div>
                <p-tabView (onChange)="onTabChange($event)">
                    <p-tabPanel header="Kênh truyền thông">
                        <p-dropdown [style]="{'width': '500px'}" [options]="channels" [(ngModel)]="selectedChannel" filter="filter"></p-dropdown>
                        <button style="width: 100px" class="ui-button-success" type="button" pButton icon="fa-plus" (click)="addChannel()" label="Thêm"></button>

                        <div class="clearfix"></div>
                        <p-dataTable [value]="channelsInRequest" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                            <p-column header="STT" styleClass="stt">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template>
                            </p-column>
                            <p-column field="name" header="Tên"></p-column>
                            <p-column [style]="{'width': '200px'}" styleClass="text-center" header="Chức năng">
                                <template let-cus="rowData" pTemplate="body">
                                    <button class="ui-button-danger" style="width: 25px" type="button" pButton (click)="deleteChannel(cus)" icon="fa-trash-o"></button>
                                </template>
                            </p-column>
                        </p-dataTable> 
                    </p-tabPanel>

                    <p-tabPanel header="Sản phẩm">
                        <button class="ui-button-success" style="margin-top:15px; float:left" type="text" (click)="addGoods()" pButton icon="fa-plus" label="Thêm"></button>

                        <button style="float:right; margin-top:15px" class="ui-button-success" type="button" pButton (click)="hoanhthanh()" label="Hoàn thành"></button>

                        <div class="clearfix"></div>
                        <h2 class="h2tit">Mặt hàng</h2>
                        <div class="toolbox">
                            <div class="filter fsearch">
                                <label>Tìm kiếm</label>
                                <div class="ui-g">
                                    <input #sgoods type="text" pInputText>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <p-dataTable [value]="goodsInRequest" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="sgoods">
                            <p-column header="STT" styleClass="stt">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template>
                            </p-column>
                            <p-column field="goodsName" header="Tên"></p-column>
                            <p-column field="goodsIds" header="Mã mặt hàng"></p-column>
                            <p-column [style]="{'width': '200px'}" styleClass="text-center" header="Chức năng">
                                <template let-cus="rowData" pTemplate="body">
                                    
                                    <button class="ui-button-danger" style="width: 25px" type="button" pButton (click)="deleteGoods(cus)" icon="fa-trash-o"></button>
                                </template>
                            </p-column>
                        </p-dataTable>


                        <h2 class="h2tit">Nhóm hàng</h2>
                        <div class="toolbox">
                            <div class="filter fsearch">
                                <label>Tìm kiếm</label>
                                <div class="ui-g">
                                    <input #sgoodgroups type="text" pInputText>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <p-dataTable [value]="goodGroupsInRequest" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="sgoodgroups">
                            <p-column header="STT" styleClass="stt">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template>
                            </p-column>
                            <p-column field="goodsName" header="Tên nhóm"></p-column>
                            <p-column field="goodsIds" header="Mã nhóm"></p-column>
                            <p-column [style]="{'width': '200px'}" styleClass="text-center" header="Chức năng">
                                <template let-cus="rowData" pTemplate="body">
                                    
                                    <button class="ui-button-danger" style="width: 25px" type="button" pButton (click)="deleteGoods(cus)" icon="fa-trash-o"></button>
                                </template>
                            </p-column>
                        </p-dataTable>

                    </p-tabPanel>

                    <p-tabPanel header="Địa bàn">
                        <h2 style="margin-top:10px">Chi tiết địa bàn</h2>
						<button class="ui-button-success" style="margin-top:15px; float:right" (click)="create()" pButton icon="fa-plus" label="Thêm địa bàn"></button>
						<div class="clearfix"></div>
                        <p-dataTable [value]="diaban" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]">
                            <p-column styleClass="stt" field="name" header="STT">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template>
                            </p-column>
                            <p-column field="address" header="Địa bàn"></p-column>
                            <p-column field="staffName" header="Nhân viên"></p-column>


                            <p-column field="" header="Bắt đầu">
                                <template pTemplate="body" let-cus="rowData">
                                    {{cus.startDate | date:'dd-MM-y'}}
                                </template>
                            </p-column>
                            <p-column field="" header="Kết thúc">
                                <template pTemplate="body" let-cus="rowData">
                                    {{cus.endDate | date:'dd-MM-y'}}
                                </template>
                            </p-column>
                            <p-column field="mediaName" header="Hình thức"></p-column>
                            <p-column field="quantity" header="Số lượng"></p-column>
                            <p-column field="amount" header="Tổng tiền (VNĐ)">
                                <template pTemplate="body" let-cus="rowData">
                                    {{ cus.amount | number: '.0-2'}}
                                </template>
                            </p-column>
                            <p-column field="description" header="Mô tả"></p-column>
                            <p-column *ngIf="program.STATUS == 1 || program.STATUS == 4" styleClass="text-center col-2" header="Chức năng">
                                <template let-item="rowData" pTemplate="body"> 
                                    <button class="ui-button-primary" style="width: 25px" type="button" pButton (click)="updateArea(item)" icon="fa-eye"></button>
                                    <button class="ui-button-danger" style="width: 25px" type="button" pButton (click)="delete(item)" icon="fa-trash-o"></button>
                                </template>
                            </p-column>
                        </p-dataTable>
                    </p-tabPanel>


                    <p-tabPanel header="Doanh thu">
                        
                        <button *ngIf="user.staffRole != 'TTT'" class="ui-button-success" style="margin-top:15px; float:left" type="text" (click)="displayFormUploadSieuthi=true" pButton icon="fa-plus" label="Import file"></button>

                        <button *ngIf="user.staffRole != 'TTT'" (click)="exportFile()" class="ui-button-success" style="margin-top:15px; float:right" type="text" pButton label="Tải file mẫu"></button>
                        <div class="clearfix"></div>

                        <h2>Doanh thu tổng của các địa bàn</h2>
                        <p-dataTable [value]="doanhthuTong" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                            <p-column header="STT" styleClass="stt">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template>
                            </p-column>
                            <p-column field="PAY_AREA_NAME" header="Địa bàn"></p-column>
                            <p-column field="TARGET_NUMBER" header="Doanh thu tổng">
                                <template pTemplate="body" let-cus="rowData">
                                    {{ cus.TARGET_NUMBER |  number: '.0-2'}} 
                                </template>
                            </p-column>
                            <p-column [style]="{'width': '200px'}" styleClass="text-center" header="Chức năng">
                                <template let-cus="rowData" pTemplate="body">
                                    <button style="width: 25px" type="button" pButton (click)="updateDoanhthu(cus)" icon="fa-eye"></button>
                                </template>
                            </p-column>
                        </p-dataTable>

                        <h2 style="margin-top:20px">Doanh thu của các nhóm hàng tương ứng với địa bàn</h2>
                        <p-dataTable [value]="doanhthuNhom" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                            <p-column header="STT" styleClass="stt">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template>
                            </p-column>
                            <p-column field="PAY_AREA_NAME" header="Địa bàn"></p-column>
                            <p-column field="GOODS_CODE" header="Nhóm hàng"></p-column>
                            <p-column field="TARGET_NUMBER" header="Doanh thu">
                                <template pTemplate="body" let-cus="rowData">
                                    {{ cus.TARGET_NUMBER |  number: '.0-2'}} 
                                </template>
                            </p-column>
                            
                            <p-column [style]="{'width': '200px'}" styleClass="text-center" header="Chức năng">
                                <template let-cus="rowData" pTemplate="body">
                                    <button style="width: 25px" type="button" pButton (click)="updateDoanhthu(cus)" icon="fa-eye"></button>
                                </template>
                            </p-column>
                        </p-dataTable>


                        <h2 style="margin-top:20px;">Doanh thu của từng sản phẩm</h2>
                        <p-dataTable [value]="doanhthuSanpham" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                            <p-column header="STT" styleClass="stt">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template>
                            </p-column>
                            <p-column field="GOODS_NAME" header="Sản phẩm"></p-column>
                            <p-column field="TARGET_NUMBER" header="Doanh thu">
                                <template pTemplate="body" let-cus="rowData">
                                    {{ cus.TARGET_NUMBER |  number: '.0-2'}} 
                                </template>
                            </p-column>
                            <p-column [style]="{'width': '200px'}" styleClass="text-center" header="Chức năng">
                                <template let-cus="rowData" pTemplate="body">
                                    <button style="width: 25px" type="button" pButton (click)="updateDoanhthu(cus)" icon="fa-eye"></button>
                                </template>
                            </p-column>
                        </p-dataTable>
                        <br>
                        <div *ngIf="program.STATUS == 1 || program.STATUS == 4">
                            <button class="ui-button-success" type="button" (click)="guiDuyet()" pButton icon="fa-check" label="Gửi duyệt"></button>
                        </div>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
    </div>
</div>

<p-dialog header="{{title}}" [(visible)]="displayFormGoods">
    <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
        <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-12">
                <p-dropdown filter="filter" [style]="{'width':'100%'}" [options]="domains" formControlName = "selectedDomains" (onChange)="ProductTypeChange()"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-12">
                <p-dropdown filter="filter" [style]="{'width':'100%'}" [options]="goodsGroups" formControlName = "selectedGoodsGroups" (onChange)="GoodGroupChange()"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-12">
                <p-dropdown filter="filter" [style]="{'width':'100%'}" [options]="goods" formControlName="selectedGoods"></p-dropdown>
            </div>
            
            <div class="ui-g-12 ui-md-12">
                <button [disabled]="!form.valid" class="ui-button-success" type="submit" pButton icon="fa-check" label="{{title}}"></button>
                <button type="button" (click)="displayFormGoods=false" pButton icon="fa-close" label="Hủy"></button>
            </div>
        </div>
        <div style="margin-bottom: 200px"></div>
    </form>
</p-dialog>

<p-dialog header="Doanh thu" [(visible)]="displayFormDoanhthu">
    <form (ngSubmit)="onSubmitDoanhthu(formDoanhthu.value)" [formGroup]="formDoanhthu">
        <div class="ui-g form-group">
            <input type="hidden" pInputText formControlName="id"/>
            <div class="ui-g-12 ui-md-3 ui-xs-12">
                <label>Doanh thu</label>
            </div>
            <div class="ui-g-12 ui-md-9">
                <input type="number" pInputText formControlName="targetNumber"/>
                <div *ngIf="formDoanhthu.controls['targetNumber'].hasError('required') && formDoanhthu.controls['targetNumber'].touched" class="alert-error">Bạn cần nhập doanh thu</div>
            </div>
            <div class="ui-g-12 ui-md-3 ui-xs-12">
            </div>
            <div class="ui-g-12 ui-md-9">
                <button [disabled]="!formDoanhthu.valid" class="ui-button-success" type="submit" pButton icon="fa-check" label="Cập nhật"></button>
                <button type="button" (click)="displayFormDoanhthu=false" pButton icon="fa-close" label="Hủy"></button>
            </div>
        </div>
    </form>
</p-dialog>
 
<p-dialog header="Ngân sách" [(visible)]="displayUpdateNgansach">
    <form (ngSubmit)="onSubmitNgansach(formNgansach.value)" [formGroup]="formNgansach">
        <div class="ui-g form-group">
            <input type="hidden" pInputText formControlName="id"/>
            <div class="ui-g-12 ui-md-3 ui-xs-12">
                <label>Ngân sách</label>
            </div>
            <div class="ui-g-12 ui-md-9">
                <input type="number" pInputText formControlName="budget"/>
                <div *ngIf="formNgansach.controls['budget'].hasError('required') && formNgansach.controls['budget'].touched" class="alert-error">Bạn cần nhập ngân sách</div>
            </div>
            <div class="ui-g-12 ui-md-3 ui-xs-12">
            </div>
            <div class="ui-g-12 ui-md-9">
                <button [disabled]="!formNgansach.valid" class="ui-button-success" type="submit" pButton icon="fa-check" label="Cập nhật"></button>
                <button type="button" (click)="displayUpdateNgansach=false" pButton icon="fa-close" label="Hủy"></button>
            </div>
        </div>
    </form>
</p-dialog>

<p-dialog header="Tải file lên" [(visible)]="displayFormUploadSieuthi">
    <div class="ui-g-12 ui-md-12">
        <p-fileUpload name="file" #upfile    (onSelect)="onSelect($event, filename.doanhthu)" (onBeforeSend)="beforeSend($event)" (onBeforeUpload)="onBeforeUpload($event)" url="{{api}}mediashopareatarget/uploadfile?campaignRequestId={{id}}" (onUpload)="onUpload($event)"></p-fileUpload>
    </div>
    <div class="ui-g-12 ui-md-6">
        <button type="text" (click)="displayFormUploadSieuthi=false" pButton icon="fa-close" label="Thoát"></button>
    </div>
</p-dialog>

<p-dialog header="Tải file lên" [(visible)]="displayFormUploadNgansach">
    <div class="ui-g-12 ui-md-12">
        <p-fileUpload name="file" (onBeforeUpload)="onBeforeUpload($event)" url="{{api}}bdkhmediacampaign/uploadfile?campaignRequestId={{id}}" (onUpload)="onUploadNgansach($event)"></p-fileUpload>
    </div>
    <div class="ui-g-12 ui-md-6">
        <button type="text" (click)="displayFormUploadNgansach=false" pButton icon="fa-close" label="Thoát"></button>
    </div>
</p-dialog>

<p-dialog header="{{title}}" [(visible)]="displayForm">
    <form (ngSubmit)="onSubmitArea(formArea.value)" [formGroup]="formArea">
        <div class="ui-g form-group">
			<input type="hidden" pInputText formControlName="id" />
			<div *ngIf="formCreate">
				<div class="ui-g-12 ui-md-3">
					<label>Địa bàn <span class="color-red">*</span></label>
				</div>
				<div class="ui-g-12 ui-md-9">
					<p-dropdown formControlName="areaShopId" [options]="areas" [style]="{'width': '100%'}"></p-dropdown>
					<div *ngIf="formArea.controls['areaShopId'].hasError('required') && formArea.controls['areaShopId'].touched" class="alert-error">Bạn cần chọn địa bàn</div>
				</div>
				<div class="ui-g-12 ui-md-3">
					<label>Bắt đầu <span class="color-red">*</span></label>
				</div>
				<div class="ui-g-12 ui-md-9">
					<p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" formControlName="startDate" id="showIcon" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
		
					<div *ngIf="formArea.controls['startDate'].hasError('required') && formArea.controls['startDate'].touched" class="alert-error">Bạn cần nhập ngày bắt đầu</div>
					
				</div>
				<div class="ui-g-12 ui-md-3">
					<label>Kết thúc <span class="color-red">*</span></label>
				</div>
				<div class="ui-g-12 ui-md-9">
					<p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" formControlName="endDate" id="showIcon" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
					<div *ngIf="formArea.controls['endDate'].hasError('required') && formArea.controls['endDate'].touched" class="alert-error">Bạn cần nhập cần nhập ngày kết thúc</div>
				</div>

				<div class="ui-g-12 ui-md-3">
					<label>Mô tả</label>
				</div>
				<div class="ui-g-12 ui-md-9">
					<textarea formControlName="description" pInputTextarea cols="40"></textarea>
					<div *ngIf="formArea.controls['description'].touched">
						<div *ngIf="formArea.controls['description'].hasError('required')" class="alert-error">Bạn cần nhập mô tả</div>
						<div *ngIf="formArea.controls['description'].hasError('minlength') || formArea.controls['description'].hasError('maxlength')" class="alert-error">Mô tả quá ngắn hoặc quá dài</div>
					</div>
				</div>
			</div>

			<div class="ui-g-12 ui-md-3">
                <label>Tổng giá</label>
            </div>
			<div class="ui-g-12 ui-md-9">
				{{ formArea.controls['amount'].value | number: '.0-2'}} VNĐ
			</div>
			<div>
				<div class="ui-g-12 ui-md-12">
					<label>Hình thức</label>
				</div>
				<p-dataTable  [editable]="true" [value]="channelsInRequest" [rows]="20" [paginator]="false" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb"
						#dt>
					<p-column field="name" header="Hình thức"></p-column>
					<p-column field="quantity" header="Số lượng" [editable]="true" [style]="{'overflow':'visible'}">
						<template let-col let-car="rowData" pTemplate="editor">
							<input (change)="suane()" type="number" min="0" pInputText [(ngModel)]="car[col.field]" [ngModelOptions]="{standalone: true}"/>
						</template>
					</p-column>
				</p-dataTable>
			</div>
            <div class="ui-g-12 ui-md-3">
            </div>
            <div class="ui-g-12 ui-md-6">
				<button type="submit" pButton icon="fa-check" label="{{title}}" class="ui-button-success"></button>
                <button type="text" (click)="displayForm=false" pButton icon="fa-close" label="Thoát"></button>
            </div>
        </div>
    </form>
</p-dialog>

<p-dialog header="Thông báo" [(visible)]="displayDel">
    <p>Bạn có chắc muốn xóa?</p>
    <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                
                <button type="button" pButton icon="fa-close" (click)="displayDel=false" label="Thoát"></button>
                <button class="ui-button-danger" type="button" pButton icon="fa-check" (click)="acceptDel()" label="Đồng ý"></button>
            </div>
        </p-footer>
</p-dialog>