<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Yêu cầu tạo chương trình truyền thông</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
                <div class="toolbox">
                    <div class="filter fsearch">
                        <label>Từ khóa</label>
                        <div class="ui-g">
                            <input #gb type="text" pInputText>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <p-dataTable [value]="items" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb"
                    #dt>
                    <p-column header="STT" styleClass="stt">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column field="name" header="Tên"></p-column>
                    <p-column field="content" header="Nội dung"></p-column>

                    <p-column field="startDate" header="Ngày bắt đầu">
                        <template pTemplate="body" let-cus="rowData">
                            {{cus.startDate | date:'dd-MM-y'}}
                        </template>
                    </p-column>
                    <p-column field="endDate" header="Ngày kết thúc">
                        <template pTemplate="body" let-cus="rowData">
                            {{cus.endDate | date:'dd-MM-y'}}
                        </template>
                    </p-column>

                    
    
                    <p-column field="createDate" header="Ngày gửi">
                        <template pTemplate="body" let-cus="rowData">
                            {{cus.createDate | date:'dd-MM-y'}}
                        </template>
                    </p-column>
                    <p-column styleClass="text-center col-1" header="Chức năng">
                        <template let-cus="rowData" pTemplate="body">
                            <a type="button" [routerLink]="['add-program', cus.id]" label="Tạo"></a>
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>

<p-dialog header="{{title}}" [(visible)]="displayForm">
    <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
        <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-3">
                <label>Tên</label>
            </div>
            <div class="ui-g-12 ui-md-9">
                <input type="hidden" pInputText formControlName="id"/>
                <input type="text" pInputText formControlName="name"/>
                <div *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched" class="alert-error">Bạn cần nhập tên</div>
                <div *ngIf="form.controls['name'].hasError('minlength') && form.controls['name'].touched" class="alert-error">Tên cần lớn hơn 3 ký tự</div>
                <div *ngIf="form.controls['name'].hasError('maxlength') && form.controls['name'].touched" class="alert-error">Tên cần nhỏ hơn 250 ký tự</div>
            </div>

           <div class="ui-g-12 ui-md-3">
                <label>Bắt đầu</label>
            </div>
            <div class="ui-g-12 ui-md-9">
                <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" id="showIcon" formControlName="startDate" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
                <div *ngIf="form.controls['startDate'].hasError('required') && form.controls['startDate'].touched" class="alert-error">Bạn cần nhập ngày bắt đầu</div>
            </div>
            <div class="ui-g-12 ui-md-3">
                <label>Kết thúc</label>
            </div>
            <div class="ui-g-12 ui-md-9">
                 <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" id="showIcon" formControlName="endDate" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
                <div *ngIf="form.controls['endDate'].hasError('required') && form.controls['endDate'].touched" class="alert-error">Bạn cần nhập cần nhập ngày kết thúc</div>
            </div>
             <div class="ui-g-12 ui-md-3">
            </div>
            <div class="ui-g-12 ui-md-6">
    
                <button *ngIf="formCreate == true || form.controls['status'].value==4 || form.controls['status'].value == 1" [disabled]="!form.valid" type="submit" pButton icon="fa-check" label="{{title}}" class="ui-button-success"></button>
                <button type="text" (click)="displayForm=false" pButton icon="fa-close" label="Thoát"></button>
            </div>
            <div style="margin-top:300px"></div>
        </div>
    </form>
</p-dialog>