<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Yêu cầu tạo chương trình truyền thông</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
                 <p-tabView (onChange)="onTabChange($event)">
                    <p-tabPanel header="Kênh truyền thông">
                        <p-dropdown [style]="{'width': '500px'}" [options]="channels" [(ngModel)]="selectedChannel" filter="filter"></p-dropdown>
                        <button style="width: 100px" class="ui-button-success" type="button" pButton icon="fa-plus" (click)="addChannel()" label="Thêm"></button>
                
                        <div class="clearfix"></div>
                        <p-dataTable [value]="channelsInRequest" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                            <p-column header="STT" styleClass="stt">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template> 
                            </p-column>
                            <p-column field="name" header="Tên"></p-column>
                            <!--<p-column [style]="{'width': '200px'}" styleClass="text-center" header="Chức năng">
                                <template let-cus="rowData" pTemplate="body">
                                    <button class="ui-button-danger" style="width: 25px" type="button" pButton (click)="deleteChannel(cus)" icon="fa-trash-o"></button>
                                </template>
                            </p-column>-->
                        </p-dataTable>
                    </p-tabPanel>
                    <p-tabPanel header="Sản phẩm">
                        <button class="ui-button-success" style="margin-top:15px; float:left" type="text" (click)="addGoods()" pButton icon="fa-plus" label="Thêm"></button>
                        <div class="clearfix"></div>
                        <h2 class="h2tit">Mặt hàng</h2>
                        <div class="toolbox">
                            <div class="filter fsearch">
                                <label>Tìm kiếm</label>
                                <div class="ui-g">
                                    <input #sgoods type="text" pInputText>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <p-dataTable [value]="goodsInRequest" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="sgoods">
                            <p-column header="STT" styleClass="stt">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template>
                            </p-column>
                            <p-column field="goodsName" header="Tên"></p-column>
                            <p-column field="goodsIds" header="Mã mặt hàng"></p-column>
                            <!--<p-column [style]="{'width': '200px'}" styleClass="text-center" header="Chức năng">
                                <template let-cus="rowData" pTemplate="body">
                                    
                                    <button class="ui-button-danger" style="width: 25px" type="button" pButton (click)="deleteGoods(cus)" icon="fa-trash-o"></button>
                                </template>
                            </p-column>-->
                        </p-dataTable>


                        <h2 class="h2tit">Nhóm hàng</h2>
                        <div class="toolbox">
                            <div class="filter fsearch">
                                <label>Tìm kiếm</label>
                                <div class="ui-g">
                                    <input #sgoodgroups type="text" pInputText>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <p-dataTable [value]="goodGroupsInRequest" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="sgoodgroups">
                            <p-column header="STT" styleClass="stt">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template>
                            </p-column>
                            <p-column field="goodsName" header="Tên nhóm"></p-column>
                            <p-column field="goodsIds" header="Mã nhóm"></p-column>
                            <!--<p-column [style]="{'width': '200px'}" styleClass="text-center" header="Chức năng">
                                <template let-cus="rowData" pTemplate="body">
                                    
                                    <button class="ui-button-danger" style="width: 25px" type="button" pButton (click)="deleteGoods(cus)" icon="fa-trash-o"></button>
                                </template>
                            </p-column>-->
                        </p-dataTable>

                        

                    </p-tabPanel>
                    <p-tabPanel header="Siêu thị">
                        <button *ngIf="user.staffRole != 'TTT'" class="ui-button-success" style="margin-top:15px; float:left" type="text" (click)="displayFormUploadNgansach=true" pButton icon="fa-plus" label="Import file"></button>


                        <button *ngIf="user.staffRole != 'TTT'" (click)="exportFileNganSach()" class="ui-button-success" style="margin-top:15px; float:right" type="text" pButton label="Tải file mẫu"></button>

  
                        <div class="clearfix"></div>
                        <form (ngSubmit)="addShop(formShop.value)" [formGroup]="formShop">
                            <div class="ui-g-3 ui-md-3 pleft">
								<p-multiSelect [options]="areas" defaultLabel="Chọn vùng" formControlName="selectedAreas" (onChange)="AreaChange()"></p-multiSelect>
							</div>
							<div class="ui-g-3 ui-md-3">
								<p-multiSelect [options]="provinces" defaultLabel="Chọn tỉnh" formControlName="selectedProvinces" (onChange)="ProvinceChange()"></p-multiSelect>
							</div>
							<div class="ui-g-5 ui-md-5 pright">
								<p-multiSelect [options]="shops" defaultLabel="Chọn siêu thị" formControlName="selectedShops"></p-multiSelect>
							</div>
                            <div class="ui-g-1 ui-md-1">
                                <button [disabled]="!formShop.valid" class="ui-button-success" type="submit" pButton label="Thêm"></button>
                            </div>
                        </form>
                        <div class="toolbox">
                            <div class="filter fsearch">
                                <label>Từ khóa</label>
                                <div class="ui-g">
                                    <input #gb type="text" pInputText>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <p-dataTable [value]="shopsInRequest" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                            <p-column header="STT" styleClass="stt">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template>
                            </p-column>
                            <p-column field="shopCode" header="Mã siêu thị"></p-column>
                            <p-column field="shopName" header="Tên"></p-column>
                            <p-column field="" header="Ngân sách (VNĐ)">
                                <template let-cus="rowData" pTemplate="body">
                                    {{ cus.budget |  number: '.0-2'}}
                                </template>
                            </p-column> 
                            <p-column [style]="{'width': '200px'}" styleClass="text-center" header="Chức năng">
                                <template let-cus="rowData" pTemplate="body">
                                    <button style="width: 25px" type="button" pButton (click)="update(cus)" icon="fa-eye"></button>
                                </template>
                            </p-column>
                        </p-dataTable>
                    </p-tabPanel>

                    <p-tabPanel header="Doanh thu siêu thị">
                        <h2>Doanh thu tổng của các siêu thị</h2>
                        <button *ngIf="user.staffRole != 'TTT'" class="ui-button-success" style="margin-top:15px; float:left" type="text" (click)="displayFormUploadSieuthi=true" pButton icon="fa-plus" label="Import file"></button>

                         <button *ngIf="user.staffRole != 'TTT'" (click)="exportFile()" class="ui-button-success" style="margin-top:15px; float:left; margin-left: 5px" type="text" pButton label="Tải file mẫu"></button>
                     
                        <div class="toolbox">
                            <div class="filter fsearch">
                                <label>Từ khóa</label>
                                <div class="ui-g">
                                    <input #sDoanhthuTong type="text" pInputText>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <p-dataTable [value]="doanhthuTong" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="sDoanhthuTong">
                            <p-column header="STT" styleClass="stt">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template>
                            </p-column>
                            <p-column field="SHOP_CODE" header="Mã siêu thị"></p-column>
                            <p-column field="SHOP_NAME" header="Siêu thị"></p-column>
                            <p-column field="TARGET_NUMBER" header="Doanh thu">
                                <template let-cus="rowData" pTemplate="body">
                                    {{ cus.TARGET_NUMBER |  number: '.0-2'}}
                                </template>
                            </p-column>
                            <!--<p-column [style]="{'width': '200px'}" styleClass="text-center" header="Chức năng">
                                <template let-cus="rowData" pTemplate="body">
                                    <button style="width: 25px" type="button" pButton (click)="updateDoanhthu(cus)" icon="fa-eye"></button>
                                </template>
                            </p-column>-->
                        </p-dataTable>

                        <h2 style="margin-top:20px">Doanh thu của từng nhóm hàng</h2>
              
                        <div class="toolbox">
                            <div class="filter fsearch">
                                <label>Từ khóa</label>
                                <div class="ui-g">
                                    <input #sDoanhthuNhom type="text" pInputText>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <p-dataTable [value]="doanhthuNhom" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="sDoanhthuNhom">
                            <p-column header="STT" styleClass="stt">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template>
                            </p-column>
                            <p-column field="SHOP_CODE" header="Mã siêu thị"></p-column>
                            <p-column field="SHOP_NAME" header="Siêu thị"></p-column>
                            <p-column field="GOODS_NAME" header="Nhóm hàng"></p-column>
                            <p-column field="TARGET_NUMBER" header="Doanh thu">
                                <template let-cus="rowData" pTemplate="body">
                                    {{ cus.TARGET_NUMBER |  number: '.0-2'}}
                                </template>
                            </p-column>
                            <!--<p-column [style]="{'width': '200px'}" styleClass="text-center" header="Chức năng">
                                <template let-cus="rowData" pTemplate="body">
                                    <button style="width: 25px" type="button" pButton (click)="updateDoanhthu(cus)" icon="fa-eye"></button>
                                </template>
                            </p-column>-->
                        </p-dataTable>


                        <h2 style="margin-top:20px">Doanh thu của từng sản phẩm</h2>

                        <div class="toolbox">
                            <div class="filter fsearch">
                                <label>Từ khóa</label>
                                <div class="ui-g">
                                    <input #sDoanhthuSp type="text" pInputText>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <p-dataTable [value]="doanhthuSanpham" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="sDoanhthuSp">
                            <p-column header="STT" styleClass="stt">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template>
                            </p-column>
                            <p-column field="SHOP_CODE" header="Mã siêu thị"></p-column>
                            <p-column field="SHOP_NAME" header="Siêu thị"></p-column>
                            <p-column field="GOODS_NAME" header="Sản phẩm"></p-column>
                            <p-column field="TARGET_NUMBER" header="Doanh thu">
                                <template let-cus="rowData" pTemplate="body">
                                    {{ cus.TARGET_NUMBER |  number: '.0-2'}}
                                </template>
                            </p-column>
                            <!--<p-column [style]="{'width': '200px'}" styleClass="text-center" header="Chức năng">
                                <template let-cus="rowData" pTemplate="body">
                                    <button style="width: 25px" type="button" pButton (click)="updateDoanhthu(cus)" icon="fa-eye"></button>
                                </template>
                            </p-column>-->
                        </p-dataTable>
                    </p-tabPanel>
                    
                    <p-tabPanel header="Các chương trình truyên thông">

                        <div class="toolbox">
                            <div class="filter fsearch">
                                <label>Từ khóa</label>
                                <div class="ui-g">
                                    <input #sCampaignShops type="text" pInputText>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <p-dataTable [value]="campaignShops" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="sCampaignShops">
                            <p-column header="STT" styleClass="stt">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template>
                            </p-column>
                            <p-column field="SHOP_CODE" header="Mã siêu thị"></p-column>
                            <p-column field="SHOP_NAME" header="Tên siêu thị"></p-column>
                            <!--<p-column field="VERIFY_DATE" header="Ngày gửi duyệt">
                                <template pTemplate="body" let-cus="rowData">
                                    {{cus.VERIFY_DATE | date:'dd-MM-y'}}
                                </template> 
                            </p-column>-->
          
                            <p-column styleClass="text-center col-status" field="STATUS" header="Trạng thái">
                                <template  pTemplate="body" let-item="rowData">
                                    <div [innerHTML]="item.STATUS | status : 'program'"></div>
                                </template>
                            </p-column>
                            <p-column [style]="{'width': '200px'}" styleClass="text-center" header="Chức năng">
                                <template let-cus="rowData" pTemplate="body">
                                    <a type="button" pButton  [routerLink] = "['/plan-media-campaign', cus.ID]" label="Kế hoạch"></a>
                                </template>
                            </p-column>
                        </p-dataTable>
                    </p-tabPanel>
                   
                    <p-tabPanel header="Đánh giá chương trình">
                        <h2 class="h2tit">Đánh giá sản phẩm</h2>
                        <div class="toolbox">
                            <div class="filter fsearch">
                                <label>Từ khóa</label>
                                <div class="ui-g">
                                    <input #sShopsInRequest type="text" pInputText>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <p-dataTable [value]="doanhthuSanpham" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="sShopsInRequest" #dt>
                            <p-column header="STT" styleClass="stt">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template>
                            </p-column>
                            <p-column field="SHOP_NAME" header="Siêu thị"></p-column>
                            <p-column field="GOODS_NAME" header="Sản phẩm"></p-column>
                            <p-column field="TARGET_NUMBER" header="Chỉ tiêu"></p-column> 
                            <p-column field="RESULT_NUMBER" header="Kết quả"></p-column> 
                            <p-column field="" header="Lũy kế">
                                <template let-item="rowData" pTemplate="body">
                                    {{ (item.RESULT_NUMBER/item.TARGET_NUMBER)*100 | round}}%
                                </template>
                            </p-column> 
                            <p-column field="" header="Đánh giá">
                                <template let-item="rowData" pTemplate="body">
                                    <div *ngIf="(item.RESULT_NUMBER/item.TARGET_NUMBER)*100 >= 100">Đạt</div>
                                    <div *ngIf="item.TARGET_NUMBER == 0 || (item.RESULT_NUMBER/item.TARGET_NUMBER)*100 < 100">Chưa đạt</div>
                                </template>
                            </p-column> 
                        </p-dataTable>

                        <h2 class="h2tit">Đánh giá nhóm hàng</h2>
                        <div class="toolbox">
                            <div class="filter fsearch">
                                <label>Từ khóa</label>
                                <div class="ui-g">
                                    <input #gb type="text" pInputText>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <p-dataTable [value]="doanhthuNhom" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                            <p-column header="STT" styleClass="stt">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template>
                            </p-column>
                            <p-column field="SHOP_NAME" header="Siêu thị"></p-column>
                            <p-column field="GOODS_NAME" header="Nhóm hàng"></p-column>
                            <p-column field="TARGET_NUMBER" header="Chỉ tiêu"></p-column> 
                            <p-column field="RESULT_NUMBER" header="Kết quả"></p-column> 
                            <p-column field="" header="Lũy kế">
                                <template let-item="rowData" pTemplate="body">
                                    {{ (item.RESULT_NUMBER/item.TARGET_NUMBER)*100 | round}}%
                                </template>
                            </p-column> 
                            <p-column field="" header="Đánh giá">
                                <template let-item="rowData" pTemplate="body">
                                    <div *ngIf="(item.RESULT_NUMBER/item.TARGET_NUMBER)*100 >= 100">Đạt</div>
                                    <div *ngIf="item.TARGET_NUMBER == 0 || (item.RESULT_NUMBER/item.TARGET_NUMBER)*100 < 100">Chưa đạt</div>
                                </template>
                            </p-column>
                        </p-dataTable>

                        <h2 class="h2tit">Đánh giá tổng thể</h2>
                        <div class="toolbox">
                            <div class="filter fsearch">
                                <label>Từ khóa</label>
                                <div class="ui-g">
                                    <input #gb type="text" pInputText>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <p-dataTable [value]="doanhthuTong" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                            <p-column header="STT" styleClass="stt">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template>
                            </p-column>
                            <p-column field="SHOP_NAME" header="Siêu thị"></p-column>
                            <p-column field="TARGET_NUMBER" header="Chỉ tiêu"></p-column> 
                            <p-column field="RESULT_NUMBER" header="Kết quả"></p-column> 
                            <p-column field="" header="Lũy kế">
                                <template let-item="rowData" pTemplate="body">
                                    {{ (item.RESULT_NUMBER/item.TARGET_NUMBER)*100 | round}}%
                                </template>
                            </p-column>  
                            <p-column field="" header="Đánh giá">
                                <template let-item="rowData" pTemplate="body">
                                    <div *ngIf="(item.RESULT_NUMBER/item.TARGET_NUMBER)*100 >= 100">Đạt</div>
                                    <div *ngIf="item.TARGET_NUMBER == 0 || (item.RESULT_NUMBER/item.TARGET_NUMBER)*100 < 100">Chưa đạt</div>
                                </template>
                            </p-column>
                            <p-column field="COST_RESULT" header="Hiệu quả chi phí"></p-column>
                        </p-dataTable>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
    </div>
</div>

<p-dialog header="{{title}}" [(visible)]="displayFormGoods">
    <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
        <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-12">
                <p-dropdown filter="filter" [style]="{'width':'100%'}" [options]="domains" formControlName = "selectedDomains" (onChange)="ProductTypeChange()"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-12">
                <p-dropdown filter="filter" [style]="{'width':'100%'}" [options]="goodsGroups" formControlName = "selectedGoodsGroups" (onChange)="GoodGroupChange()"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-12">
                <p-dropdown filter="filter" [style]="{'width':'100%'}" [options]="goods" formControlName="selectedGoods"></p-dropdown>
            </div>
            
            <div class="ui-g-12 ui-md-12">
                <button [disabled]="!form.valid" class="ui-button-success" type="submit" pButton icon="fa-check" label="{{title}}"></button>
                <button type="button" (click)="displayFormGoods=false" pButton icon="fa-close" label="Hủy"></button>
            </div>
        </div>
        <div style="margin-bottom: 200px"></div>
    </form>
</p-dialog>

<p-dialog header="Doanh thu" [(visible)]="displayFormDoanhthu">
    <form (ngSubmit)="onSubmitDoanhthu(formDoanhthu.value)" [formGroup]="formDoanhthu">
        <div class="ui-g form-group">
            <input type="hidden" pInputText formControlName="id"/>
            <div class="ui-g-12 ui-md-3 ui-xs-12">
                <label>Doanh thu</label>
            </div>
            <div class="ui-g-12 ui-md-9">
                <input type="number" pInputText formControlName="targetNumber"/>
                <div *ngIf="formDoanhthu.controls['targetNumber'].hasError('required') && formDoanhthu.controls['targetNumber'].touched" class="alert-error">Bạn cần nhập doanh thu</div>
            </div>
            <div class="ui-g-12 ui-md-3 ui-xs-12">
            </div>
            <div class="ui-g-12 ui-md-9">
                <button [disabled]="!formDoanhthu.valid" class="ui-button-success" type="submit" pButton icon="fa-check" label="Cập nhật"></button>
                <button type="button" (click)="displayFormDoanhthu=false" pButton icon="fa-close" label="Hủy"></button>
            </div>
        </div>
    </form>
</p-dialog>
 
 <p-dialog header="Ngân sách" [(visible)]="displayUpdateNgansach">
    <form (ngSubmit)="onSubmitNgansach(formNgansach.value)" [formGroup]="formNgansach">
        <div class="ui-g form-group">
            <input type="hidden" pInputText formControlName="id"/>
            <div class="ui-g-12 ui-md-3 ui-xs-12">
                <label>Ngân sách</label>
            </div>
            <div class="ui-g-12 ui-md-9">
                <input type="number" pInputText formControlName="budget"/>
                <div *ngIf="formNgansach.controls['budget'].hasError('required') && formNgansach.controls['budget'].touched" class="alert-error">Bạn cần nhập ngân sách</div>
            </div>
            <div class="ui-g-12 ui-md-3 ui-xs-12">
            </div>
            <div class="ui-g-12 ui-md-9">
                <button [disabled]="!formNgansach.valid" class="ui-button-success" type="submit" pButton icon="fa-check" label="Cập nhật"></button>
                <button type="button" (click)="displayUpdateNgansach=false" pButton icon="fa-close" label="Hủy"></button>
            </div>
        </div>
    </form>
</p-dialog>

 <p-dialog header="Tải file lên" [(visible)]="displayFormUploadSieuthi">
    <div class="ui-g-12 ui-md-12">
        <p-fileUpload #upfile1 name="file" (onSelect)="onSelect($event, filename.doanhthu)" (onBeforeSend)="beforeSend($event)" (onBeforeUpload)="onBeforeUpload($event)" url="{{api}}bdkhmediashoptarget/uploadfile?campaignRequestId={{id}}" (onUpload)="onUpload($event)"></p-fileUpload>
    </div>
    <div class="ui-g-12 ui-md-6">
        <button type="text" (click)="displayFormUploadSieuthi=false" pButton icon="fa-close" label="Thoát"></button>
    </div>
</p-dialog>


<p-dialog header="Tải file lên" [(visible)]="displayFormUploadNgansach">
    <div class="ui-g-12 ui-md-12">
        <p-fileUpload #upfile name="file" (onSelect)="onSelect($event, filename.ngansach)" (onBeforeSend)="beforeSend($event)" (onBeforeUpload)="onBeforeUpload($event)" url="{{api}}bdkhmediacampaign/uploadfile?campaignRequestId={{id}}" (onUpload)="onUploadNgansach($event)"></p-fileUpload>
    </div>
    <div class="ui-g-12 ui-md-6">
        <button type="text" (click)="displayFormUploadNgansach=false" pButton icon="fa-close" label="Thoát"></button>
    </div>
</p-dialog>