<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Survey</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
                
                <button *ngIf="user.staffRole == 'NVTT'" class="ui-button-success" style="margin-top:15px; float:left" type="text" (click)="create()" pButton icon="fa-plus" label="Thêm"></button>
                <div class="toolbox">

                    <!--<div class="filter fbutton">
                        <button style="width: 50px" type="button" label="Xóa" class="ui-button-primary" pButton></button>
                    </div>-->
                    <div class="filter fsearch">
                        <label>Từ khóa</label>
                        <div class="ui-g">
                            <input #gb type="text" pInputText>
                        </div>
                    </div> 
                </div>
                <div class="clearfix"></div>
               
                <p-dataTable [value]="items" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                    <p-column header="STT" styleClass="stt">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column field="name" header="Tên"></p-column>
                    <p-column field="description" header="Mô tả"></p-column>
                    <p-column field="status" header="Trạng thái">
                        <template let-item="rowData" pTemplate="body">
                            {{ item.status | status: 'survey'}}
                        </template>
                    </p-column>
                    <p-column styleClass="text-center" header="Chức năng" [style]="{'width':'250px'}">
                        <template let-item="rowData" pTemplate="body">
                            <a type="button" pButton [routerLink]="['/fill-survey', item.id]" label="Xem"></a>
                            <a *ngIf="item.status == 1" type="button" pButton [routerLink]="['/survey-detail', item.id]" label="Câu hỏi"></a>
                            <!--<button style="width: 25px" type="button" pButton (click)="update(item)" icon="fa-eye"></button>
                            <button class="ui-button-danger" style="width: 25px" type="button" pButton (click)="delete(item)" icon="fa-trash-o"></button>-->
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>

<p-dialog header="{{title}}" [(visible)]="displayForm">
    <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
        <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-2">
                <label>Tên <span class="color-red">*</span></label>
            </div>
            <div class="ui-g-12 ui-md-10">
                <input type="hidden" pInputText formControlName="id"/>
                <input type="text" pInputText formControlName="name"/>
                <div *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched" class="alert-error">Bạn cần nhập tên</div>
                <div *ngIf="form.controls['name'].hasError('minlength') && form.controls['name'].touched" class="alert-error">Tên cần lớn hơn 5 ký tự</div>
                <div *ngIf="form.controls['name'].hasError('maxlength') && form.controls['name'].touched" class="alert-error">Tên cần nhỏ hơn 50 ký tự</div>
            </div>
             <div class="ui-g-12 ui-md-2">
                <label>Mô tả</label>
            </div>
            <div class="ui-g-12 ui-md-10">
                <textarea cols="50" pInputTextarea formControlName="description"></textarea>
                <div *ngIf="form.controls['description'].hasError('required') && form.controls['description'].touched" class="alert-error">Bạn cần nhập mô tả</div>
                <div *ngIf="form.controls['description'].hasError('minlength') && form.controls['description'].touched" class="alert-error">Mô tả cần lớn hơn 5 ký tự</div>
                <div *ngIf="form.controls['description'].hasError('maxlength') && form.controls['description'].touched" class="alert-error">Mô tả cần nhỏ hơn 1000 ký tự</div>
            </div>
            <div class="ui-g-12 ui-md-2">
            </div>
            <div class="ui-g-12 ui-md-10">
                <button class="ui-button-success" [disabled]="!form.valid" type="submit" pButton icon="fa-check" label="{{title}}"></button>
                <button type="text" (click)="displayForm=false" pButton icon="fa-close" label="Thoát"></button>
            </div>
        </div>
    </form>
</p-dialog>

<p-dialog header="Thông báo" [(visible)]="displayDel">
    <p>Bạn có chắc muốn xóa survey?</p>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="displayDel=false" label="Thoát"></button>
            <button class="ui-button-danger" type="button" pButton icon="fa-check" (click)="acceptDel()" label="Đồng ý"></button>
        </div>
    </p-footer>
</p-dialog>