<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Địa bàn</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
                 

                <div class="toolbox">
                    <div class="filter fsearch">
                        <label>Tìm kiếm</label>
                        <div class="ui-g">
                            <input #gb type="text" pInputText>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <p-dataTable [value]="items" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb"
                    #dt>
                    <p-column header="STT" styleClass="stt">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column field="PAY_AREA_CODE" header="Payarea code"></p-column>
                    <p-column field="PAY_AREA_NAME" header="Địa bàn"></p-column>
                    <p-column field="SHOP_FRIENDLY" header="Loại địa bàn">
                        <template let-item="rowData" pTemplate="body">
                            <a href="#">{{item.SHOP_FRIENDLY | status: 'area'}}</a>
                        </template>
                    </p-column>
                     <p-column field="STAFF_NAME" header="Nhân viên phụ trách"></p-column>
                    
                </p-dataTable>
            </div>
        </div>
    </div> 
</div>