<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Chương trình truyền thông</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
                <div class="toolbox">
                    <div class="filter fsearch">
                        <label>Tìm kiếm</label>
                        <div class="ui-g">
                            <input placeholder="" #gb type="text" pInputText>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <p-dataTable [value]="items" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                    <p-column styleClass="stt" header="STT">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column field="campaignName" header="Tên"></p-column>
                    <p-column field="address" header="Địa bàn"></p-column>
                    <p-column field="campaignStartDate" header="Ngày bắt đầu">
                        <template pTemplate="body" let-cus="rowData">
                            {{cus.campaignStartDate | date:'dd-MM-y'}}
                        </template>
                    </p-column>
                    <p-column field="campaignEndDate" header="Ngày kết thúc">
                        <template pTemplate="body" let-cus="rowData">
                            {{cus.campaignEndDate | date:'dd-MM-y'}}
                        </template>
                    </p-column>
                    <p-column field="campaignCreateDate" header="Ngày tạo">
                        <template pTemplate="body" let-cus="rowData">
                            {{cus.campaignCreateDate | date:'dd-MM-y'}}
                        </template>
                    </p-column>
                    <p-column field="mediaName" header="Hình thức"></p-column>
                    <p-column field="price" header="Giá (VNĐ)">
                        <template pTemplate="body" let-cus="rowData">
                            {{ cus.price |  number: '.0-2'}}
                        </template>
                    </p-column>
                    <p-column field="quantity" header="Số lượng">
                        <template pTemplate="body" let-cus="rowData">
                            {{ cus.quantity |  number: '.0-2'}}
                        </template>
                    </p-column>
                    <p-column field="Tổng tiền" header="Tổng tiền (VNĐ)">
                        <template pTemplate="body" let-cus="rowData">
                           {{ cus.price * cus.quantity |  number: '.0-2'}}
                        </template>

                    </p-column>
                    <!--<p-column field="expectedResult" header="Số lượng"></p-column>
                    <p-column field="amount" header="Số lượng"></p-column>
                    <p-column field="realResult" header="SL hoàn thành"></p-column>
                    <p-column styleClass="text-center col-status" field="campaignStatus" header="Trạng thái">
                        <template pTemplate="body" let-cus="rowData">
                            <div [innerHTML]="cus.status | status: 'program'"></div>
                        </template>
                    </p-column>
                    <p-column header="Chức năng">
                        <template let-cus="rowData" pTemplate="body"> 
                            <button *ngIf="cus.status==2" style="width: 25px" type="button" pButton (click)="update(cus)" icon="fa-eye"></button>
                            <button type="button" pButton (click)="update(cus)" label="Cập nhập"></button>
                        </template>
                    </p-column>-->
                </p-dataTable>
            </div>
        </div>
    </div>
</div>
<p-dialog header="Cập nhập kết quả" [(visible)]="displayForm">
    <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
        <div class="ui-g form-group">
            <input type="hidden" pInputText formControlName="id"/>
            <div class="ui-g-12 ui-md-4">
                <label>Số lượng hoàn thành</label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <input type="number" pInputText formControlName="realResult"/>
                <div *ngIf="form.controls['realResult'].touched">
                    <div *ngIf="form.controls['realResult'].hasError('required')" class="alert-error">Bạn cần nhập kết quả</div>
                    <div *ngIf="form.controls['realResult'].hasError('pattern')" class="alert-error">Kết quả phải là số</div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
            </div>
            <div class="ui-g-12 ui-md-8">
                <button class="ui-button-success" type="submit" pButton icon="fa-check" label="Cập nhập"></button>
                <button type="text" (click)="displayForm=false" pButton icon="fa-close" label="Thoát"></button>
            </div>
        </div>
    </form>
</p-dialog>

