<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Báo cáo trung tâm</h1>
                <div class="ui-g form-group">
                    <div class="ui-g-1 ui-md-1">
                        <label>Trạng thái</label>
                        <p-dropdown [options]="cities" [(ngModel)]="selectedCity1" [autoWidth]="false"></p-dropdown>
                    </div>
                    
                    <div class="ui-g-3 ui-md-3" style="padding-top:0px">
                        <div class="ui-g">
                            <div class="ui-g-6 ui-md-6">
                                <label>Từ ngày</label>
                                <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" id="showIcon"></p-calendar>
                            </div>
                            <div class="ui-g-6 ui-md-6">
                                <label>Đến ngày</label>
                                <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" id="showIcon"></p-calendar>
                            </div>
                        </div>
                    </div>
                    
                    <div class="ui-g-3 ui-md-3">
                        <label>Từ khóa</label>
                        <div class="ui-g">
                            <input style="width: 150px; float:left; margin-right: 5px;" type="email" pInputText>
                            <button style="width: 50px" type="button" label="Tìm" class="ui-button-info" pButton></button>
                        </div>
                    </div>
                </div>
                <p-dataTable [value]="campaigns">
                    <p-column field="" header="STT">
                      <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                          {{rowIndex + 1}}
                      </template>
                    </p-column>
                    <p-column [sortable]="true" field="name" header="Chiến dịch"></p-column>
                    <p-column field="startDate" header="Ngày bắt dầu">
                        <template pTemplate="body" let-c="rowData">
                            {{c.startDate | date:'d-M-y'}}
                        </template>
                    </p-column>
                    <p-column field="endDate" header="Ngày kết thúc">
                        <template pTemplate="body" let-c="rowData">
                            {{c.endDate | date:'d-M-y'}}
                        </template>
                    </p-column>
                    <p-column field="createDate" header="Ngày tạo">
                        <template pTemplate="body" let-c="rowData">
                            {{c.createDate | date:'d-M-y'}}
                        </template>
                    </p-column>
                    <p-column field="endDate" header="Ngày duyệt">
                        <template pTemplate="body" let-c="rowData">
                            {{c.endDate | date:'d-M-y'}}
                        </template>
                    </p-column>
                    <p-column field="status" header="Trạng thái chiến dịch">
                        <template pTemplate="body" let-c="rowData">
                            {{ c.status | status: 'campaign'}}
                        </template>
                    </p-column>
                     <p-column field="" header="Kết quả">
                    </p-column>
                    <p-column field="func" header="Chức năng" [style]="{'width':'200px'}">
                        <template let-item="rowData" pTemplate="body"> 
                              <button type="button" pButton (click)="display_reject=true" label="Chi tiết"></button> 
                             
                              <button type="button" pButton (click)="display_reject=true" label="Từ chối"></button>
                              
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Thông báo" [(visible)]="display_reject">
    <div class="ui-g form-group">
        <div class="ui-g-12 ui-md-12">
            <label>Lý do</label>
        </div>
        <div class="ui-g-12 ui-md-12">
            <textarea rows="5" cols="30" pInputTextarea></textarea>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-check" (click)="display=false" label="Đồng ý"></button>
            <button type="button" pButton icon="fa-close" (click)="display_reject=false" label="Bỏ qua"></button>
        </div>
    </p-footer>
</p-dialog>