<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Siêu thị</h1>
                <p-growl [value]="mes"></p-growl>
				<loading-overlay [isLoading]="isLoading"></loading-overlay>
                <!--<button class="ui-button-success" style="margin-top:15px; float:left" type="text" (click)="create()" pButton icon="fa-plus" label="Thêm"></button>-->
                <div class="toolbox">

                    <!--<div class="filter fbutton">
                        <button style="width: 50px" type="button" label="Lọc" class="ui-button-primary" pButton></button>
                        <button style="width: 50px" type="button" (click)="clearFilter()" label="Xóa" class="ui-button-primary" pButton></button>
                    </div>-->
                    <div class="filter fsearch">
                        <label>Từ khóa</label>
                        <div class="ui-g">
                            <input [(ngModel)]="svalue" #gb style="width: 100%; float:left; margin-right: 5px;" type="text" pInputText>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="clearfix"></div>
                <p-dataTable [value]="items" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                    <p-column [style]="{'width':'50px'}" field="" header="STT">
                      <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column field="NAME" header="Tên"></p-column>
                    <!--<p-column field="address" header="Địa chỉ"></p-column>-->
                    <p-column field="SHOP_CODE" header="Mã siêu thị"></p-column>
                    <p-column field="NUM_AREA_1" header="Trọng điểm"></p-column>
                    <p-column field="NUM_AREA_2" header="Tiềm năng"></p-column>
                    <!--<p-column field="parShopCode" header="Chi nhánh" [filter]="true" [style]="{'overflow':'visible'}" filterMatchMode="equals">
                        <template pTemplate="filter" let-col>
                            <p-dropdown [options]="brands" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
                        </template>
                    </p-column>-->
                    <p-column styleClass="text-center" field="func" header="Chức năng">
                        <template let-item="rowData" pTemplate="body"> 
                            <a [routerLink] = "['/area-shop', item.ID]" pButton label="Địa bàn"></a>
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>
<p-dialog header="{{title}}" [(visible)]="display_add">
    <form (ngSubmit) = "onSubmit(customerForm.value)" #customerForm="ngForm">
        <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-4">
                <label for="name">Tên</label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <input id="name" type="text" minlength="6" maxlength="10" required pInputText name="name" #name="ngModel" ngModel/>
                <div *ngIf="name.errors && (name.dirty || name.touched)" class="label label-danger">
                    <div [hidden] = "!name.errors.required">
                        Bạn cần nhập tên
                    </div>
                    <div [hidden] = "!name.errors.minlength">
                        Tên phải nhiều hơn 6 ký tự
                    </div> 
                    <div [hidden] = "!name.errors.maxlength">
                        Tên phải ít hơn 10 ký tự
                    </div>                          
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <label for="input">Địa chỉ</label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <div class="ui-g">
                    <div class="ui-g-4"><p-dropdown [autoWidth]="false"></p-dropdown></div>
                    <div class="ui-g-4"><p-dropdown [autoWidth]="false"></p-dropdown></div>
                    <div class="ui-g-4"><p-dropdown [autoWidth]="false"></p-dropdown></div>
                </div>
                
            </div>
            <div class="ui-g-12 ui-md-4">
            </div>
            <div class="ui-g-12 ui-md-6">
                <button type="button" pButton icon="fa-external-link-square" label="Hủy"></button>
                <button [disabled]="!customerForm.valid" type="submit" pButton icon="fa-external-link-square" label="Tạo mới"></button>
            </div>
        </div>
    </form>
</p-dialog>
<p-dialog header="Thông báo" [(visible)]="display_del">
    <p>Bạn có chắc muốn xóa cửa hàng?</p>
    <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-check" (click)="display_del=false" label="Đồng ý"></button>
                <button type="button" pButton icon="fa-close" (click)="display_del=false" label="Bỏ qua"></button>
            </div>
        </p-footer>
</p-dialog>