<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Xếp loại khách hàng</h1>
                <div class="ui-g form-group">
                    
                    
                    <div class="ui-g-3 ui-md-3">
                        <label>Từ khóa</label>
                        <div class="ui-g">
                            <input style="width: 150px; float:left; margin-right: 5px;" type="email" pInputText>
                            <button style="width: 50px" type="button" label="Tìm" class="ui-button-info" pButton></button>
                        </div>
                    </div>
                    <div class="ui-g-1 ui-md-1">
                        <label></label>
                        <div class="ui-g">
                            <button style="margin-top:15px" type="text" (click)="showAdd()" pButton icon="fa-external-link-square" label="Thêm"></button>
                        </div>
                    </div>
                </div>
                <p-dataTable [value]="cuss">
                    <p-column [sortable]="true" field="stt" header="STT"></p-column>
                    <p-column [sortable]="true" field="tenhang" header="Tên hạng"></p-column>
                    <p-column field="chitieu" header="Chỉ tiêu"></p-column>
                    
                    <p-column field="func" header="Chức năng">
                        <template let-cus="rowData" pTemplate="body"> 
                            <button style="width: 25px" type="button" pButton (click)="showEdit(cus)" icon="fa-pencil-square-o"></button>
                            <button style="width: 25px" type="button" pButton (click)="del(cus)" icon="fa-trash-o"></button>
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>
<p-dialog header="Thêm hạng khách hàng" [(visible)]="display_add">
    <form action="" method="">
        <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-4">
                <label for="input">Tên hàng</label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <input id="input" type="text" pInputText/>
            </div>
            <div class="ui-g-12 ui-md-4">
                <label for="input">Từ</label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <input id="input" type="text" pInputText/>
            </div>
            <div class="ui-g-12 ui-md-4">
                <label for="input">Đến</label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <input id="input" type="text" pInputText/>
            </div>
            <div class="ui-g-12 ui-md-6">
                <button type="text" pButton icon="fa-external-link-square" label="Hủy"></button>
                <button type="text" pButton icon="fa-external-link-square" label="Tạo mới"></button>
            </div>
        </div>
    </form>
</p-dialog>

<p-dialog header="Sửa hạng khách hàng" [(visible)]="display_edit">
    <form action="" method="">
        <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-4">
                <label for="input">Tên hàng</label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <input id="input" type="text" pInputText/>
            </div>
            <div class="ui-g-12 ui-md-4">
                <label for="input">Từ</label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <input id="input" type="text" pInputText/>
            </div>
            <div class="ui-g-12 ui-md-4">
                <label for="input">Đến</label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <input id="input" type="text" pInputText/>
            </div>
            <div class="ui-g-12 ui-md-6">
                <button type="text" pButton icon="fa-external-link-square" label="Hủy"></button>
                <button type="text" pButton icon="fa-external-link-square" label="Tạo mới"></button>
            </div>
        </div>
    </form>
</p-dialog>

<p-dialog header="Thông báo" [(visible)]="display_del">
    <p>Bạn có chắc muốn xóa Khách hàng?</p>
    <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-check" (click)="display=false" label="Đồng ý"></button>
                <button type="button" pButton icon="fa-close" (click)="display=false" label="Bỏ qua"></button>
            </div>
        </p-footer>
</p-dialog>