<div class="ui-fluid">
	<div class="ui-g">
		<div class="ui-g-12">
			<div class="card card-w-title">
				<h1>Phân công siêu thị</h1>
				<div class="ui-g-12 ui-md-12">
					<label>Chiến dịch: {{target.name}}</label>
				</div>
				<div class="ui-g-12 ui-md-4">
					<label>Chọn từ file</label>
				</div>
				<div class="ui-g-12 ui-md-12">
				</div>
				<div class="ui-g-12 ui-md-12">
					<label>Chọn từ danh sách siêu thị</label>
				</div>
				<div class="ui-g-12 ui-md-4">
					<p-multiSelect [options]="shops" [(ngModel)]="selectedShops" overlayVisible="true"></p-multiSelect>
				</div>
				<div class="ui-g-12 ui-md-2">
					<button type="button" pButton icon="fa-plus" (click)="addShop()" label="Thêm" class="ui-button-success"></button>
				</div>
				<div class="ui-g-12 ui-md-12">
					<p-dataTable [editable]="true" [value]="items" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]">
						<p-column field="shop_name" header="Tên siêu thị"></p-column>
						<p-column field="target_number" header="Chỉ tiêu" [editable]="true"></p-column>
						<p-column styleClass="text-center" header="Chức năng">
							<template let-item="rowData" pTemplate="body">
								<button style="width: 25px" type="button" pButton (click)="delete(item)" icon="fa-trash-o"></button>
							</template>
						</p-column>
					</p-dataTable>
				</div>
				<div class="ui-g-12 ui-md-2">
					<button type="button" pButton icon="fa-check" (click)="save()" label="Gửi duyệt"></button>
				</div>
				<div style="clear:both"></div>
			</div>
		</div>
	</div>
</div>