<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Thêm chiến dịch</h1>
                
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
                <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
                    <div class="ui-g form-group">
                        <div class="ui-g-12 ui-md-2">
                            <label>Tên <span class="color-red">*</span></label>
                        </div>
                        <div class="ui-g-12 ui-md-10">
                            <input type="hidden" pInputText formControlName="id" />
                            <input type="text" pInputText formControlName="name" />
                            <div *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched" class="alert-error">Bạn cần nhập tên</div>
                            <div *ngIf="form.controls['name'].hasError('minlength') && form.controls['name'].touched" class="alert-error">Tên cần lớn hơn 5 ký tự</div>
                            <div *ngIf="form.controls['name'].hasError('maxlength') && form.controls['name'].touched" class="alert-error">Tên cần nhỏ hơn 50 ký tự</div>
                        </div>
                        <div class="ui-g-12 ui-md-2">
							<label>Mã chiến dịch (tên chiến dịch không dấu) <span class="color-red">*</span></label>
						</div>
						<div class="ui-g-12 ui-md-10">
							<input type="text" pInputTextarea formControlName="code">
							<div *ngIf="form.controls['code'].hasError('minlength') && form.controls['code'].touched" class="alert-error">Mã chiến dịch cần lớn hơn 5 ký tự</div>
							<div *ngIf="form.controls['code'].hasError('maxlength') && form.controls['code'].touched" class="alert-error">Mã chiến dịch cần nhỏ hơn 1000 ký tự</div>
						</div>
                        <div class="ui-g-12 ui-md-2">
                            <label>Thời gian <span class="color-red">*</span></label>
                        </div>
                        <div class="ui-g-12 ui-md-10">
                            <div class="ui-g-6 ui-md-6" style="padding-left: 0px; padding-top:0px; padding-bottom: 0px">
                                <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" placeholder="từ" id="showIcon" formControlName="startDate" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
                                <div *ngIf="form.controls['startDate'].hasError('required') && form.controls['startDate'].touched" class="alert-error">Bạn cần nhập ngày bắt đầu</div>
                            </div>
                            <div class="ui-g-6 ui-md-6" style="padding-right: 0px; padding-top:0px; padding-bottom: 0px">
                                <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" placeholder="đến" id="showIcon" formControlName="endDate" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
                                <div *ngIf="form.controls['endDate'].hasError('required') && form.controls['endDate'].touched" class="alert-error">Bạn cần nhập cần nhập ngày kết thúc</div>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <label>Survey</label>
                        </div>
                        <div class="ui-g-12 ui-md-10">
                            <p-dropdown defaultLabel="Chọn survey" [options]="surveys" formControlName="surveyId" [style]="{'width':'400px'}" [autoWidth]="false"></p-dropdown>
                            
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <label>Mô tả chiến dịch</label>
                        </div>
                        <div class="ui-g-12 ui-md-10">
                            <textarea rows="5" cols="30" pInputTextarea formControlName="campaignDescription"></textarea>
                            <div *ngIf="form.controls['campaignDescription'].hasError('minlength') && form.controls['campaignDescription'].touched" class="alert-error">Mô tả cần lớn hơn 5 ký tự</div>
                            <div *ngIf="form.controls['campaignDescription'].hasError('maxlength') && form.controls['campaignDescription'].touched" class="alert-error">Mô tả cần nhỏ hơn 1000 ký tự</div>
                        </div>
                        <div class="ui-g-12 ui-md-2">
                        </div>
                        <div class="ui-g-12 ui-md-10">
                            <button *ngIf="chuathem" class="ui-button-success" [disabled]="!form.valid" type="submit" pButton icon="fa-check" label="Thêm"></button>
                        </div>
                    </div>
                </form>
                <div *ngIf="daupload == false">
                    <div class="ui-g-12 ui-md-2">
                        <label>Upload file</label>
                    </div>
                    <div class="ui-g-12 ui-md-10">
                        <p-fileUpload #upfile name="file" (onSelect)="onSelect($event)" (onBeforeSend)="onBeforeSend($event)" (onBeforeUpload)="onBeforeUpload($event)" url="{{api}}campaign/uploadfile?campaignId={{id}}"
                            (onUpload)="onUpload($event)"></p-fileUpload>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div *ngIf="cangiao != 0">
                    <div class="ui-g-12 ui-md-12">
                        
                        <div class="toolbox">
                            <div class="filter fsearch">
                                <label>Tìm kiếm</label>
                                <div class="ui-g">
                                    <input placeholder="tên" #gb type="text" pInputText>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <p-dataTable [value]="shops" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]"
                            [globalFilter]="gb" #dt>
                            <p-column header="STT" styleClass="stt">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template>
                            </p-column>
                            <p-column field="shopCode" header="Mã siêu thị"></p-column>
                            <p-column field="shopName" header="Tên siêu thị"></p-column>
                            <p-column field="customerNumber" header="Số khách"></p-column>
                        </p-dataTable>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <button class="ui-button-success" (click)="loadCustomers()" type="button" pButton label="Xem danh sách khách hàng"></button>
                    </div>
                    <div class="ui-g-12 ui-md-12" *ngIf="customers.length != 0">
                        <div class="toolbox">
                            <div class="filter fsearch">
                                <label>Tìm kiếm</label>
                                <div class="ui-g">
                                    <input placeholder="tên" #gbb type="text" pInputText>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <p-dataTable [value]="customers" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gbb" #dtt>
								<p-column header="STT" styleClass="stt">
									<template let-rowIndex="rowIndex" pTemplate="rowexpansion">
										{{rowIndex + 1}}
									</template>
								</p-column>
								<p-column field="cusName" header="Tên khách hàng">
									<template pTemplate="body" let-cus="rowData">
										<a *ngIf="cus.cusMobile != null && cus.cusMobile != 0" style="cursor: pointer; color: #2399e5" (click)="viewCustomer(cus.cusMobile)">{{cus.cusName}}</a>
										<a *ngIf="cus.cusMobile == null || cus.cusMobile == 0">{{cus.cusName}}</a>
									</template>
								</p-column>
								<p-column field="cusMobile" header="Số điện thoại"></p-column>
								<p-column field="cusAddress" header="Địa chỉ"></p-column>
							</p-dataTable>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                    </div>
                    <div *ngIf="chuagui" class="ui-g-12 ui-md-10">
                        <button (click)="guiDuyet()" [disabled]="id==0" class="ui-button-success" type="button" pButton icon="fa-check" label="Gửi duyệt"></button>
                    </div>
                    <div style="margin-bottom: 50px"></div>

                    <div class="clearfix"></div>
                </div>
                <a style="float:right" href="{{host}}/file/campaign_template.xlsx" class="ui-button-success" pButton label="Tải file mẫu"></a>
                
                
            </div>
        </div>
    </div>
</div>


<p-dialog header="Thông tin khách hàng" [(visible)]="displayCustomer">
    
    <p-tabView>
        <p-tabPanel header="Thông tin khách hàng">
            <p-messages [value]="msgs"></p-messages>
            <loading-overlay [isLoading]="isLoading"></loading-overlay>
            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Họ tên</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    {{customer.cusName}}
                </div>
                
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Ngày sinh</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    {{customer.cusBirthday | date:'dd-MM-y'}}
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Giới tính</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    {{customer.cusGender | status : 'gender'}}
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="input">SĐT</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    {{customer.cusMobile}}
                </div>

                <div class="ui-g-12 ui-md-2">
                    <label for="input">Địa chỉ</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    {{customer.cusAddress}}
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Nghề nghiệp</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    {{customer.cusWork}}
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Lịch sử giao dịch">
            <div class="toolbox">
                <div class="filter fsearch">
                    <label>Từ khóa</label>
                    <div class="ui-g">
                        <input #gb type="text" pInputText>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <p-dataTable [value]="transactions" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                <p-column header="STT" styleClass="stt">
                    <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                        {{rowIndex + 1}}
                    </template>
                </p-column>
                <p-column field="goodsCode" header="Mã mặt hàng"></p-column>
                <p-column field="goodsName" header="Tên mặt hàng"></p-column>
                <p-column field="goodsGroupName" header="Tên nhóm"></p-column>
                <p-column field="custPrice" header="Giá (VNĐ)">
                    <template let-cus="rowData" pTemplate="body">
                        {{ cus.custPrice |  number: '.0-2'}}
                    </template>
                </p-column>
                <p-column field="transDate" header="Ngày">
                    <template pTemplate="body" let-cus="rowData">
                        {{cus.transDate | date:'dd-MM-y'}}
                    </template>
                </p-column>
            </p-dataTable>
        </p-tabPanel>
        <p-tabPanel header="Lịch sử bảo hành">
            <div class="toolbox">
                <div class="filter fsearch">
                    <label>Từ khóa</label>
                    <div class="ui-g">
                        <input #gb type="text" pInputText>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <p-dataTable [value]="warrantys" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                <p-column header="STT" styleClass="stt">
                    <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                        {{rowIndex + 1}}
                    </template>
                </p-column>
                <p-column field="goodsCode" header="Mã bảo hành"></p-column>
                <p-column field="khachhangHoten" header="Khách hàng"></p-column>
                <p-column field="khachhangDiachi" header="Địa chỉ"></p-column>
                <p-column field="goodsCode" header="Mã bảo hành"></p-column>
                <p-column field="goodsThanhphan" header="Thành phần"></p-column>
                <p-column field="goodsTrangthai" header="Trạng thái"></p-column>
                <p-column field="txdate" header="Ngày bảo hành">
                    <template pTemplate="body" let-cus="rowData">
                        {{cus.txdate | date:'dd-MM-y'}}
                    </template>
                </p-column>
            </p-dataTable>
        </p-tabPanel>
    </p-tabView>

</p-dialog>

<p-dialog header="Điều chỉnh số lượng khách hàng" [(visible)]="displayForm">
    <form (ngSubmit)="onSubmitDc(formdc.value)" [formGroup]="formdc">
        <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-2">
                <label>Số lượng</label>
            </div>
            <div class="ui-g-12 ui-md-10">
                <input type="hidden" pInputText formControlName="id" />
                <input type="number" pInputText formControlName="customerNumber" />
                <div *ngIf="formdc.controls['customerNumber'].hasError('required') && formdc.controls['customerNumber'].touched" class="alert-error">Bạn cần nhập số khách hàng</div>
            </div>
            <div class="ui-g-12 ui-md-2">
            </div>
            <div class="ui-g-12 ui-md-10">
                <button class="ui-button-success" [disabled]="!formdc.valid" type="submit" pButton icon="fa-check" label="Điều chỉnh"></button>
                <button type="text" (click)="displayForm=false" pButton icon="fa-close" label="Thoát"></button>
            </div>
        </div>
    </form>
</p-dialog>

