<div class="ui-fluid"> 
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <p-tabView>
                    <p-tabPanel header="Nội dung khảo sát">
                        
                        <h1>{{survey.name}}</h1>
                        <p-growl [value]="mes"></p-growl>
                        <loading-overlay [isLoading]="isLoading"></loading-overlay>
                        Mô tả: {{survey.description}}
                        
                        <div style="margin-bottom:20px"></div>
                        <div class="ui-g-12 ui-md-2 ui-xs-12">
                            <label>Hình thức</label>
                        </div>
                        <div class="ui-g-12 ui-md-10 ui-xs-12">
                            <p-dropdown [options]="hinhthucs" [(ngModel)] = "careMethodId" [style]="{'width':'200px'}" [autoWidth]="false"></p-dropdown>
                        </div>
                        <div *ngFor="let item of survey.questions; let i = index">
                            <p-fieldset legend="{{i+1}}. {{item.questionText}}" [style]="{'margin-bottom':'20px'}">
                                <div *ngIf="item.questionType == 1">
                                    <textarea rows="3" pInputTextarea pInputText [(ngModel)]="item.realAnswers"></textarea>
                                    <!--<textarea rows="3" pInputTextarea [(ngModel)]="item.realAnswers"></textarea>-->
                                </div>
                                <div *ngIf="item.questionType == 2">
                                    <div *ngFor="let answer of item.answers">
                                        <p-radioButton name="group{{i}}" value="{{answer.id}}" [(ngModel)]="item.realAnswers" label="{{answer.responseText}}"></p-radioButton>
                                    </div>
                                    <div style="margin-top:10px"></div>
                                    <label>Khác</label>
                                    <textarea rows="3" pInputTextarea [(ngModel)]="item.responseText"></textarea>
                                </div>
                                <div *ngIf="item.questionType == 3">
                                    <div *ngFor="let answer of item.answers">
                                        <p-checkbox name="group{{i}}" value="{{answer.id}}" [(ngModel)]="item.realAnswers" label="{{answer.responseText}}"></p-checkbox>
                                    </div>
                                    <div style="margin-top:10px"></div>
                                    <label>Ghi chú</label>
                                    <textarea rows="3" pInputTextarea [(ngModel)]="item.responseText"></textarea>
                                </div>
                                <div *ngIf="item.description != null">Mô tả: {{item.description}}</div>
                            </p-fieldset>
                    
                        </div>
                        <button *ngIf="!xong" pButton (click)="Done()" label="Xong"></button> 
                            
                        
                    </p-tabPanel>
                    <p-tabPanel header="Thông tin khách hàng">
                        <p-tabView>
                            <p-tabPanel header="Thông tin cá nhân">
                                <p-messages [value]="msgs"></p-messages>
                                <loading-overlay [isLoading]="isLoading"></loading-overlay>
                                <div class="ui-g form-group">
                                    <div class="ui-g-12 ui-md-2">
                                        <label for="input">Họ tên</label>
                                    </div>
                                    <div class="ui-g-12 ui-md-10">
                                        {{customer.cusName}}
                                    </div>
                                    
                                    <div class="ui-g-12 ui-md-2">
                                        <label for="input">Ngày sinh</label>
                                    </div>
                                    <div class="ui-g-12 ui-md-10">
                                        {{customer.cusBirthday | date:'dd-MM-y'}}
                                    </div>
                                    <div class="ui-g-12 ui-md-2">
                                        <label for="input">Giới tính</label>
                                    </div>
                                    <div class="ui-g-12 ui-md-10">
                                        {{customer.cusGender | status : 'gender'}}
                                    </div>
                                    <div class="ui-g-12 ui-md-2">
                                        <label for="input">SĐT</label>
                                    </div>
                                    <div class="ui-g-12 ui-md-10">
                                        {{customer.cusMobile}}
                                    </div>
                                    <div class="ui-g-12 ui-md-2">
                                        <label for="input">CMTND</label>
                                    </div>
                        
                                    <div class="ui-g-12 ui-md-10">
                                        {{customer.cusAddress}}
                                    </div>
                                    <div class="ui-g-12 ui-md-2">
                                        <label for="input">Nghề nghiệp</label>
                                    </div>
                                    <div class="ui-g-12 ui-md-10">
                                        {{customer.cusWork}}
                                    </div>
                    
                                </div>
                            </p-tabPanel>
                            <p-tabPanel header="Lịch sử giao dịch">
                                <div class="toolbox">
                                    <div class="filter fsearch">
                                        <label>Từ khóa</label>
                                        <div class="ui-g">
                                            <input #gb type="text" pInputText>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <p-dataTable [value]="transactions" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                                    <p-column header="STT" styleClass="stt">
                                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                            {{rowIndex + 1}}
                                        </template>
                                    </p-column>
                                    <p-column field="goodsCode" header="Mã mặt hàng"></p-column>
                                    <p-column field="goodsName" header="Tên mặt hàng"></p-column>
                                    <p-column field="goodsGroupName" header="Tên nhóm"></p-column>
                                    <p-column field="custPrice" header="Giá (VNĐ)">
                                        <template let-cus="rowData" pTemplate="body">
                                            {{ cus.custPrice |  number: '.0-2'}}
                                        </template>
                                    </p-column>
                                    <p-column field="transDate" header="Ngày">
                                        <template pTemplate="body" let-cus="rowData">
                                            {{cus.transDate | date:'dd-MM-y'}}
                                        </template>
                                    </p-column>
                                </p-dataTable>
                            </p-tabPanel>
                            <p-tabPanel header="Lịch sử bảo hành">
                                <div class="toolbox">
                                    <div class="filter fsearch">
                                        <label>Từ khóa</label>
                                        <div class="ui-g">
                                            <input #gb type="text" pInputText>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <p-dataTable [value]="warrantys" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                                    <p-column header="STT" styleClass="stt">
                                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                            {{rowIndex + 1}}
                                        </template>
                                    </p-column>
                                    <p-column field="goodsCode" header="Mã bảo hành"></p-column>
                                    <p-column field="khachhangHoten" header="Khách hàng"></p-column>
                                        <p-column field="khachhangDiachi" header="Địa chỉ"></p-column>
                                    <p-column field="goodsCode" header="Mã bảo hành"></p-column>
                                    <p-column field="goodsThanhphan" header="Thành phần"></p-column>
                                    <p-column field="goodsTrangthai" header="Trạng thái"></p-column>
                                    <p-column field="txdate" header="Ngày bảo hành">
                                        <template pTemplate="body" let-cus="rowData">
                                            {{cus.txdate | date:'dd-MM-y'}}
                                        </template>
                                    </p-column>
                                </p-dataTable>
                            </p-tabPanel>
                        </p-tabView>
                    </p-tabPanel>

                </p-tabView>
             </div>
        </div>
    </div>
</div>


<p-dialog header="Thông tin khách hàng" [(visible)]="displayCustomer">
    
    

</p-dialog>


<p-dialog header="Chi tiết giao dịch" [(visible)]="displayFormTD">
    <div class="toolbox">
        <div class="filter fsearch">
            <label>Từ khóa</label>
            <div class="ui-g">
                <input #gbb type="text" pInputText>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <p-dataTable [value]="transaction_details" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gbb" #dt>
        <p-column header="STT" styleClass="stt">
            <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                {{rowIndex + 1}}
            </template>
        </p-column>
        <p-column field="goodsName" header="Mặt hàng"></p-column>
        <p-column field="goodsCode" header="Mã sản phẩm"></p-column>
        <p-column field="transDate" header="Ngày mua">
            <template pTemplate="body" let-cus="rowData">
                {{cus.transDate | date:'dd-MM-y'}}
            </template>
        </p-column>
        
        <p-column field="custPrice" header="Giá (VNĐ)">
            <template pTemplate="body" let-cus="rowData">
                {{ cus.custPrice |  number: '.0-2'}}
            </template>
        </p-column>
    </p-dataTable>
</p-dialog>