<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Câu trả lời</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
                <button class="ui-button-success" style="margin-top:15px; float:left" type="text" (click)="create()" pButton icon="fa-plus"
                    label="Thêm"></button>
                <div class="toolbox">
                    <div class="filter fsearch">
                        <label>Từ khóa</label>
                        <div class="ui-g">
                            <input #gb type="text" pInputText>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <p-dataTable [value]="items" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb"
                    #dt>
                    <p-column header="STT" styleClass="stt">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column field="responseText" header="Nội dung"></p-column>
                    <p-column styleClass="text-center col-2" header="Chức năng">
                        <template let-item="rowData" pTemplate="body">
                            <button style="width: 25px" type="button" pButton (click)="update(item)" icon="fa-eye"></button>
                            <button class="ui-button-danger" style="width: 25px" type="button" pButton (click)="delete(item)" icon="fa-trash-o"></button>
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div> 
    </div>
</div>
<p-dialog header="{{title}}" [(visible)]="displayForm">
    <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
        <div class="ui-g form-group">
            <input type="hidden" pInputText formControlName="id" />
            <div class="ui-g-12 ui-md-12">
                <label>Câu trả lời *</label>
            </div>
            <div class="ui-g-12 ui-md-12">
                <textarea cols="60" rows="10" pInputTextarea formControlName="responseText"></textarea>
                <div *ngIf="form.controls['responseText'].hasError('required') && form.controls['responseText'].touched" class="alert-error">Bạn cần nhập câu hỏi</div>
                <div *ngIf="form.controls['responseText'].hasError('minlength') && form.controls['responseText'].touched" class="alert-error">Câu hỏi cần lớn hơn 3 ký tự</div>
                <div *ngIf="form.controls['responseText'].hasError('maxlength') && form.controls['responseText'].touched" class="alert-error">Câu hior cần nhỏ hơn 200 ký tự</div>
            </div>
            <div class="ui-g-12 ui-md-2">
            </div>
            <div class="ui-g-12 ui-md-10">
                <button class="ui-button-success" [disabled]="!form.valid" type="submit" pButton icon="fa-check" label="{{title}}"></button>
                <button type="text" (click)="displayForm=false" pButton icon="fa-close" label="Thoát"></button>
            </div>
        </div>
    </form>
</p-dialog>
<p-dialog header="Thông báo" [(visible)]="displayDel">
    <p>Bạn có chắc muốn xóa câu trả lời?</p>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="displayDel=false" label="Thoát"></button>
            <button class="ui-button-danger" type="button" pButton icon="fa-check" (click)="acceptDel()" label="Đồng ý"></button>
        </div>
    </p-footer>
</p-dialog>