<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card  card-w-title">
                <h1>Kết quả thực hiện</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>

                <button style="float:left; margin-top:20px" class="ui-button-success" (click)="baocao()" pButton label="Xuất báo cáo"></button>

                <button style="float:left; margin-top:20px" class="ui-button-success" (click)="baocaochamsoc()" pButton label="Xuất báo cáo chăm sóc"></button>

                <div class="toolbox"> 
                    <div class="filter fsearch">
                        <label>Từ khóa</label>
                        <div class="ui-g">
                            <input placeholder="" #gb type="text" pInputText>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <p-dataTable [value]="items" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>

                    <p-headerColumnGroup>
                        <p-row>
                            <p-column styleClass="stt" header="STT" rowspan="2"></p-column>
                            <p-column header="Nhân viên" rowspan="2"></p-column>
                            <p-column header="Số lượng giao" rowspan="2"></p-column>
                            <p-column header="Đã chăm sóc" rowspan="2"></p-column>
                            <p-column header="Cảnh báo" colspan="3"></p-column>
                            <p-column header="Chức năng" rowspan="2"></p-column>
                        </p-row>
                        <p-row>
                            <p-column header="GĐ 1"></p-column>
                            <p-column header="GĐ 2"></p-column>
                            <p-column header="GĐ 3"></p-column>
                        </p-row>
                    </p-headerColumnGroup>


                    <p-column styleClass="stt" field="" header="STT">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column field="staffName" header="Nhân viên"></p-column>
                    <p-column field="targetNumber" header="Số lượng giao"></p-column>
                    <p-column field="resultNumber" header="Đã chăm sóc"></p-column>
                    <p-column field="" header="GĐ 1">
                        <template pTemplate="body" let-item="rowData">
                            <span *ngIf="item.alarm1 == 1" class="blue" style="display: block">{{item.result1}}</span>
                            <span *ngIf="item.alarm1 == 0">{{item.result1}}</span>
                        </template>
                    </p-column>
                    <p-column field="" header="GĐ 2">
                        <template pTemplate="body" let-item="rowData">
                            <span *ngIf="item.alarm2 == 1" class="yellow" style="display: block">{{item.result2}}</span>
                            <span *ngIf="item.alarm2 == 0">{{item.result2}}</span>
                        </template>
                    </p-column>
                    <p-column field="" header="GĐ 3">
                        <template pTemplate="body" let-item="rowData">
                            <span *ngIf="item.alarm3 == 1" class="red" style="display: block">{{item.result3}}</span>
                            <span *ngIf="item.alarm3== 0">{{item.result3}}</span>
                        </template>
                    </p-column>

                    <p-column styleClass="text-center" field="func" header="Chức năng">
                        <template let-item="rowData" pTemplate="body"> 
                              <a class="ui-button-success" [routerLink]="['/campaign-staff-result', item.staffId, item.campaignId]" pButton label="Danh sách"></a>
                        </template>
                    </p-column>

                    
                </p-dataTable>
            </div>
        </div>
    </div>
</div>
 