<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Cập nhập kết quả chăm sóc</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
            
               <div class="toolbox"> 
                    <div class="filter fsearch">
                        <label>Từ khóa</label>
                        <div class="ui-g">
                            <input placeholder="" #gb type="text" pInputText>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <p-dataTable [value]="items" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                    <p-column styleClass="stt" header="STT">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column field="cusName" header="Khách hàng"></p-column>
                    <p-column field="cusMobile" header="SĐT"></p-column>
                    <p-column field="updateDate" header="Ngày cập nhập">
                        <template pTemplate="body" let-cus="rowData">
                            <div *ngIf="cus.careStatus >=6">{{cus.updateDate | date:'dd-MM-y'}}</div>
                        </template>
                    </p-column>
                    <p-column field="note" header="Ghi chú"></p-column>
                   <p-column field="cusCareMethodId" header="Hình thức">
                        <template pTemplate="body" let-cus="rowData">
                            {{ cus.cusCareMethodId | status: 'careMethod' }}
                        </template>
                    </p-column>
                    <p-column styleClass="text-center" field="careStatus" header="Trạng thái">
                        <template pTemplate="body" let-cus="rowData">
                            <div [innerHTML]="cus.careStatus | status: 'campaignstaff'"></div>
                        </template>
                    </p-column>
                    <p-column styleClass="text-center" header="Chức năng">
                        <template let-item="rowData" pTemplate="body">
                            <a class="ui-button-success" *ngIf="item.careStatus == 6" type="button" [routerLink]="['/result-survey', item.id]" pButton label="Kết quả"></a>
                            <a *ngIf="item.campaignStatus !=6 && item.careStatus != 6" type="button" [routerLink]="['/up-survey', item.surveyId, item.cusMobile, item.id]" pButton label="Cập nhập"></a>
                            <button *ngIf="item.campaignStatus !=6 && item.careStatus != 6" type="button" (click) ="updatenot(item)" class="ui-button-danger" pButton label="Không được"></button>
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>
 <p-dialog header="Không thành công" [(visible)]="displayFormnot">
    <form (ngSubmit)="onSubmitnot(formnot.value)" [formGroup]="formnot">
        <div class="ui-g form-group">
            <input type="hidden" pInputText formControlName="id"/>
            <div class="ui-g-12 ui-md-12 ui-xs-12">
                <label>Nguyên nhân</label>
            </div>
            <div class="ui-g-12 ui-md-12 ui-xs-12">
                <p-dropdown [options]="lydos" formControlName="careStatus" [style]="{'width':'100%'}" [autoWidth]="false"></p-dropdown>
            </div>

            <div class="ui-g-12 ui-md-12 ui-xs-12">
                <label>Nguyên nhân</label>
            </div>
            <div class="ui-g-12 ui-md-12 ui-xs-12">
                 <textarea rows="5" cols="60" pInputTextarea formControlName="note"></textarea>
            </div>
            <div class="ui-g-12 ui-md-3">
            </div>
            <div class="ui-g-12 ui-md-6">
                <button [disabled]="!formnot.valid" class="ui-button-success" type="submit" pButton icon="fa-check" label="Cập nhập"></button>
                <button type="button" (click)="displayFormnot = false" pButton icon="fa-close" label="Hủy"></button>
            </div>
        </div>
        <div style="margin-bottom: 100px"></div>
    </form>
</p-dialog>