<div class="ui-fluid">
	<div class="ui-g">
		<div class="ui-g-12">
			<div class="card card-w-title">
				<h1>Phân công siêu thị</h1>
				<p-growl [value]="mes"></p-growl>
				<loading-overlay [isLoading]="isLoading"></loading-overlay>
				<div class="ui-g-12 ui-md-2">
					Chỉ tiêu
				</div>
				<div class="ui-g-12 ui-md-10">
					{{target.name}}
				</div>
				<div class="ui-g-12 ui-md-2">
					Thời gian
				</div>
				<div class="ui-g-12 ui-md-10">
					{{target.startDate | date:'dd-MM-y'}} đến {{target.endDate | date:'dd-MM-y'}}
				</div>
				<div style="fullWidth" *ngIf="target.targetDescription !=null">
					<div class="ui-g-12 ui-md-2">
						Mô tả
					</div>
					<div class="ui-g-12 ui-md-10">
						{{target.targetDescription}}
					</div>
				</div>
				<div class="ui-g-12 ui-md-2">
					<label>Trạng thái</label>
				</div>
				<div class="ui-g-12 ui-md-10">
					<div style="width: 150px" [innerHTML]="target.status | status: 'target'"></div>
	
				</div>
				<div *ngIf="user.staffRole == 'NVTT' && target.status == 1">
					<div class="ui-g-12 ui-md-4">
						<label>Chọn từ file</label>
					</div>
					<div class="ui-g-12 ui-md-12">
						<p-fileUpload #upfile name="file" (onSelect)="onSelect($event)" (onBeforeSend)="onBeforeSend($event)" (onBeforeUpload)="onBeforeUpload($event)" url="{{api}}bdkhtarget/uploadfile?bdkhTargetId={{target.id}}"
                            (onUpload)="onUpload($event)"></p-fileUpload>

					</div>

					<!--<div class="ui-g-12 ui-md-12">
						<label>Chọn từ danh sách siêu thị</label>
					</div>
					<form (ngSubmit)="addShop(form.value)" [formGroup]="form">
						<div class="ui-g-12 ui-md-6">
							<p-dropdown [style]="{'width': '100%'}" [options]="shops" formControlName="shop" [filter]="true"></p-dropdown>
						</div>
						<div class="ui-g-2 ui-md-2">
							<input type="number" formControlName="targetNumber" pInputText placeholder="Chỉ tiêu"/>
						</div>
						<div class="ui-g-12 ui-md-2">
							<button type="submit" pButton icon="fa-plus" [disabled]="!form.valid" label="Thêm" class="ui-button-success"></button>
						</div>
					</form>-->
				</div>
				<div class="ui-g-12 ui-md-12">
					<div class="toolbox">
						<div class="filter fsearch">
							<label>Tìm kiếm</label>
							<div class="ui-g">
								<input placeholder="tên, chỉ tiêu" #gb type="text" pInputText>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<p-dataTable [value]="items" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
						<p-column field="shopCode" header="Mã siêu thị"></p-column>
						<p-column field="shopName" header="Tên siêu thị"></p-column>
						<p-column field="targetNumber" header="Chỉ tiêu(VNĐ)">
							<template let-item="rowData" pTemplate="body">
								{{ item.targetNumber|  number: '.0-2'}}
							</template>
						</p-column>
						<p-column field="targetOldCusNo" header="Khách hàng mới"></p-column>
						<p-column field="targetLoyalCusNo" header="Khách thân thiết"></p-column>
						<!--<p-column field="status" header="Trạng thái">
							<template let-item="rowData" pTemplate="body"> 
								<div [innerHTML]="cus.status | status: 'target'"></div>
							</template>
						</p-column>
						<p-column *ngIf="user.staffRole == 'NVTT'" styleClass="text-center" header="Chức năng">
							<template let-item="rowData" pTemplate="body"> 
								<button *ngIf="item.status == 2" type="button" pButton (click)="showDuyet(item)" label="Lý do"></button>

								<button style="width: 25px" type="button" pButton (click)="update(item)" icon="fa-pencil-square-o"></button>

								<button style="width: 25px" type="button" pButton (click)="delete(item)" icon="fa-trash-o" class="ui-button-danger"></button>
							</template>
						</p-column>-->
					</p-dataTable>
				</div>
				<div class="ui-g-12 ui-md-2">
				</div>
				<div class="ui-g-12 ui-md-10" *ngIf="user.staffRole == 'NVTT' && target.status == 1 && !dagiao">
					<button (click)="Giao()" class="ui-button-success" type="button" pButton icon="fa-check" label="Giao"></button>
				</div>
				<div style="clear:both"></div>
				<a style="float:right" href="{{host}}/file/target_template.xlsx" class="ui-button-success" pButton label="Tải file mẫu"></a>
			</div>
		</div>
	</div>
</div>
<p-dialog header="Sửa chỉ tiêu" [(visible)]="displayUpdate">
    <form (ngSubmit) = "updateSubmit(targetForm.value)" [formGroup]="targetForm" >
        <div class="ui-g form-group">
			<div class="ui-g-12 ui-md-3 ui-xs-12">
                <label>Siêu thị</label>
            </div>
            <div class="ui-g-12 ui-md-9 ui-xs-12">
                {{shopName}}
            </div>
            <div class="ui-g-12 ui-md-3 ui-xs-12">
                <label>Chỉ tiêu</label>
            </div>
            <div class="ui-g-12 ui-md-9 ui-xs-12">
				<input type="hidden" formControlName="id" pInputText/>
                <input type="number" formControlName="targetNumber" pInputText/>
            </div>
            <div class="ui-g-12 ui-md-3">
            </div>
            <div class="ui-g-12 ui-md-6">
                <button class="ui-button-success" [disabled]="!targetForm.valid" type="submit" pButton icon="fa-check" label="Sửa"></button>
                <button type="button" (click)="displayUpdate=false" pButton icon="fa-close" label="Hủy"></button>
            </div>
        </div>
    </form>
</p-dialog>

<p-dialog header="Thông báo" [(visible)]="displayDel">
    <p>Bạn có chắc muốn xóa?</p>
    <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="displayDel=false" label="Bỏ qua"></button>
                <button  class="ui-button-danger" type="button" pButton icon="fa-check" (click)="acceptDel()" label="Đồng ý"></button>
            </div>
        </p-footer>
</p-dialog>

<p-dialog header="Lý do" [(visible)]="displayLydo">
    <p>{{lydo}}</p>
    <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
				<button class="ui-button-danger" type="button" pButton icon="fa-close" (click)="duyet(4)" label="Từ chối"></button>
				<button type="button" pButton icon="fa-check" (click)="duyet(1)" label="Đồng ý"></button>
               
                
            </div>
        </p-footer>
</p-dialog>