<div class="ui-fluid">
	<div class="ui-g">
		<div class="ui-g-12">
			<div class="card card-w-title">
				<h1>Thêm chiến dịch</h1>
				<p-growl [value]="mes"></p-growl>
				<loading-overlay [isLoading]="isLoading"></loading-overlay>
				<form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
					<div class="ui-g form-group">
						<div class="ui-g-12 ui-md-2">
							<label>Tên <span class="color-red">*</span></label>
						</div>
						<div class="ui-g-12 ui-md-10">
							<input type="hidden" pInputText formControlName="id" />
							<input type="text" pInputText formControlName="name" />

							<div *ngIf = "form.controls['name'].touched">
								<div *ngIf="(form.controls['name'].hasError('required') || form.controls['name'].hasError('whitespace'))" class="alert-error">Bạn cần nhập tên</div>
								<div *ngIf="form.controls['name'].hasError('minlength')" class="alert-error">Tên cần lớn hơn 5 ký tự</div>
								<div *ngIf="form.controls['name'].hasError('maxlength')" class="alert-error">Tên cần nhỏ hơn 254 ký tự</div>
							</div>
						</div>
						<div class="ui-g-12 ui-md-2">
							<label>Mã chiến dịch (tên chiến dịch không dấu) <span class="color-red">*</span></label>
						</div>
						<div class="ui-g-12 ui-md-10">
							<input type="text" pInputTextarea formControlName="code">
							<div *ngIf="form.controls['code'].hasError('minlength') && form.controls['code'].touched" class="alert-error">Mã chiến dịch cần lớn hơn 5 ký tự</div>
							<div *ngIf="form.controls['code'].hasError('maxlength') && form.controls['code'].touched" class="alert-error">Mã chiến dịch cần nhỏ hơn 1000 ký tự</div>
						</div>
	
						<div class="ui-g-12 ui-md-2">
							<label>Thời gian <span class="color-red">*</span></label>
						</div>
						<div class="ui-g-12 ui-md-10">
							<div class="ui-g-6 ui-md-6" style="padding-left: 0px; padding-top:0px; padding-bottom: 0px">
								<p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" placeholder="từ" id="showIcon" formControlName="startDate" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
								<div *ngIf="form.controls['startDate'].hasError('required') && form.controls['startDate'].touched" class="alert-error">Bạn cần nhập ngày bắt đầu</div>
								
							</div>
							<div class="ui-g-6 ui-md-6" style="padding-right: 0px; padding-top:0px; padding-bottom: 0px">
								<p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" placeholder="đến" id="showIcon" formControlName="endDate" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
								<div *ngIf="form.controls['endDate'].hasError('required') && form.controls['endDate'].touched" class="alert-error">Bạn cần nhập cần nhập ngày kết thúc</div>
							</div>
						</div>
						<div class="ui-g-12 ui-md-2">
							<label>Survey</label>
						</div>
						<div class="ui-g-12 ui-md-10">
							<p-dropdown placeholder="Chọn survey" [options]="surveys" formControlName="surveyId" [style]="{'width':'400px'}" [autoWidth]="false"></p-dropdown>
						</div>
						<div class="ui-g-12 ui-md-2">
							<label>Mô tả chiến dịch</label>
						</div>
						<div class="ui-g-12 ui-md-10">
							<textarea rows="5" cols="30" pInputTextarea formControlName="description"></textarea>
							<div *ngIf="form.controls['description'].hasError('minlength') && form.controls['description'].touched" class="alert-error">Mô tả cần lớn hơn 5 ký tự</div>
							<div *ngIf="form.controls['description'].hasError('maxlength') && form.controls['description'].touched" class="alert-error">Mô tả cần nhỏ hơn 1000 ký tự</div>
						</div>
						
						<div class="ui-g-12 ui-md-12">
							<h2 style="margin-top: 20px">Thông tin khách hàng</h2>
						</div>
						<div class="ui-g-12 ui-md-2">
							<label>Giới tính</label>
						</div>
						<div class="ui-g-12 ui-md-10">
							<p-dropdown [options]="genders" formControlName="gender" [style]="{'width':'200px'}" [autoWidth]="false"></p-dropdown>
						</div>
						<div class="ui-g-12 ui-md-2">
							<label>Độ tuổi</label>
						</div>
						<div class="ui-g-12 ui-md-10">
							<input formControlName="fromAge" style="width: 200px" type="number" pInputText/> đến
							<input formControlName="toAge" style="width: 200px" type="number" pInputText/>
						</div>

						<div class="ui-g-12 ui-md-2">
							<label>Thời gian mua <span class="color-red">*</span></label>
						</div>
						<div class="ui-g-12 ui-md-10">
							<div style="padding-left: 0px; padding-top:0px; padding-bottom: 0px; float:left">
								<p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" [style]="{'width': '200px'}" placeholder="từ" id="showIcon" formControlName="fromTransDate" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
								<div *ngIf="form.controls['fromTransDate'].hasError('required') && form.controls['fromTransDate'].touched" class="alert-error">Bạn cần nhập ngày mua bắt đầu</div>
							</div>
							<span style="float:left; padding: 4px">đến</span>
							<div style="padding-right: 0px; padding-top:0px; padding-bottom: 0px; float: left">
								<p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" [style]="{'width': '200px'}" placeholder="đến" id="showIcon" formControlName="toTransDate" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
								<div *ngIf="form.controls['toTransDate'].hasError('required') && form.controls['toTransDate'].touched" class="alert-error">Bạn cần nhập ngày mua kết thúc</div>
							</div>
						</div>
					

						<div class="ui-g-12 ui-md-2">
							<label>Lần mua</label>
						</div>
						<div class="ui-g-12 ui-md-10">
							<input formControlName="fromTime" style="width: 200px" type="number" pInputText/> đến
							<input formControlName="toTime" style="width: 200px" type="number" pInputText/>
						</div>
						<div class="ui-g-12 ui-md-2">
							<label>Tiền mua</label>
						</div>
						<div class="ui-g-12 ui-md-10">
							<input formControlName="fromAmount" style="width: 200px" type="number" pInputText/> đến
							<input formControlName="toAmount" style="width: 200px" type="number" pInputText/>
						</div>
						
						
						<div class="ui-g-12 ui-md-12">
							<h2 style="margin-top: 20px">Thông tin mặt hàng</h2>
						</div>
						 
						<div class="ui-g-12 ui-md-2">
							<label>Mặt hàng</label>
						</div>
						<div class="ui-g-12 ui-md-10">
							<div class="ui-g-4 ui-md-4 pleft">
								<p-multiSelect [options]="domains" defaultLabel="Chọn ngành hàng" formControlName = "selectedDomains" (onChange)="ProductTypeChange()"></p-multiSelect>
							</div>
							<div class="ui-g-4 ui-md-4">
								<p-multiSelect [options]="goodsGroups" defaultLabel="Chọn loại mặt hàng" formControlName = "selectedGoodsGroups" (onChange)="GoodGroupChange()"></p-multiSelect>
							</div>
							<!--<div class="ui-g-4 ui-md-4 pright">
								<p-multiSelect [options]="goods" (onChange)="GoodChange()" defaultLabel="Chọn mặt hàng"  formControlName="selectedGoods"></p-multiSelect>
							</div>-->
						</div>

						<div class="ui-g-12 ui-md-2">
						</div>
						<div class="ui-g-12 ui-md-10">	
							<p-checkbox class="select-all" (onChange)="checkAll()" [(ngModel)]="all" label="Chọn tất cả" binary="false" [ngModelOptions]="{standalone: true}"></p-checkbox>
							<div class="toolbox">
								<div class="filter fsearch">
									<label>Tìm kiếm</label>
									<div class="ui-g">
										<input placeholder="tên, mã" #gbbb type="text" pInputText>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
							{{filteredData}}
							<p-dataTable [value]="goodsTable" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gbbb" #dtt (onFilter)="filltered(dtt)">
								<p-column header="STT" styleClass="stt">
									<template let-rowIndex="rowIndex" pTemplate="rowexpansion">
										{{rowIndex + 1}}
									</template>
								</p-column>
								<p-column styleClass="text-center" field="selected" header="Chọn">
									<template let-col let-car="rowData" pTemplate="body">
										<p-checkbox [(ngModel)]="car[col.field]" binary="true" [ngModelOptions]="{standalone: true}"></p-checkbox>
									</template>
								</p-column>
								<p-column field="goodsCode" header="Mã mặt hàng"></p-column>
								<p-column field="name" header="Tên mặt hàng"></p-column>
								
							</p-dataTable>
						</div>


						<div class="ui-g-12 ui-md-2">
							<label>Siêu thị <span class="color-red">*</span></label>
						</div>
						<div class="ui-g-12 ui-md-10">
							<div class="ui-g-4 ui-md-4 pleft">
								<p-multiSelect [options]="areas" defaultLabel="Chọn vùng" formControlName="selectedAreas" (onChange)="AreaChange()"></p-multiSelect>
							</div>
							<div class="ui-g-4 ui-md-4">
								<p-multiSelect [options]="provinces" defaultLabel="Chọn tỉnh" formControlName="selectedProvinces" (onChange)="ProvinceChange()"></p-multiSelect>
							</div>
							<div class="ui-g-4 ui-md-4 pright">
								<p-multiSelect [options]="shops" defaultLabel="Chọn siêu thị" formControlName="selectedShops"></p-multiSelect>
							</div>
						</div>
						<div class="ui-g-12 ui-md-2">
						</div>
						<div class="ui-g-12 ui-md-10">	
							<div class="toolbox">
								<div class="filter fsearch">
									<label>Tìm kiếm</label>
									<div class="ui-g">
										<input placeholder="tên, chỉ tiêu" #gb type="text" pInputText>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
							<p-dataTable [value]="form.value.selectedShops" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
								<p-column header="STT" styleClass="stt">
									<template let-rowIndex="rowIndex" pTemplate="rowexpansion">
										{{rowIndex + 1}}
									</template>
								</p-column>
								<p-column field="name" header="Tên siêu thị"></p-column>
							</p-dataTable>
						</div>
					</div>
					<div class="ui-g-12 ui-md-2">
					</div>
					<div class="ui-g-12 ui-md-10">
						<button *ngIf="dathem != true" class="ui-button-success" [disabled]="!form.valid" type="submit" pButton icon="fa-check" label="Thêm"></button>
					</div>
			
				</form>
				<div class="clearfix"></div>
				<div *ngIf="dathem == true">
				<form (ngSubmit)="onSubmitSql(formsql.value)" [formGroup]="formsql">
					<div class="ui-g form-group">
						<div class="ui-g-12 ui-md-2">
							<label>SQL</label>
						</div>
						<div class="ui-g-12 ui-md-10">
							<textarea rows="3" cols="30" pInputTextarea formControlName="sqlSelectData"></textarea>

							<div *ngIf="formsql.controls['sqlSelectData'].hasError('required') && formsql.controls['sqlSelectData'].touched" class="alert-error">Bạn cần nhập câu lệnh sql</div>
						</div>
						<div class="ui-g-12 ui-md-2">
						</div>
						<div class="ui-g-12 ui-md-10">
							<button *ngIf="darun != true" class="ui-button-success" type="submit" pButton icon="fa-check" label="Chạy SQL tạo danh sách khách hàng"></button>
							<!--<button class="ui-button-success" (click)="loadCustomers()" type="button" pButton icon="fa-check" label="Tải lại danh sách"></button>-->
						</div>
						<div class="ui-g-12 ui-md-2" *ngIf="darun == true">
						</div>
						<div class="ui-g-12 ui-md-10" *ngIf="darun == true">
							<button class="ui-button-success" (click)="loadCustomers()" type="button" pButton label="Xem danh sách {{sokhach}} khách hàng"></button>
						</div>
						<div class="ui-g-12 ui-md-2" *ngIf="customers.length != 0">
							
						</div>
						<div class="ui-g-12 ui-md-10" *ngIf="customers.length != 0">
							<div class="toolbox">
								<div class="filter fsearch">
									<label>Tìm kiếm</label>
									<div class="ui-g">
										<input placeholder="tên" #gbb type="text" pInputText>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
							<p-dataTable [value]="customers" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gbb" #dtt>
								<p-column header="STT" styleClass="stt">
									<template let-rowIndex="rowIndex" pTemplate="rowexpansion">
										{{rowIndex + 1}}
									</template>
								</p-column>
								<p-column field="cusName" header="Tên khách hàng">
									<template pTemplate="body" let-cus="rowData">
										<a *ngIf="cus.cusMobile != null && cus.cusMobile != 0" style="cursor: pointer; color: #2399e5" (click)="viewCustomer(cus.cusMobile)">{{cus.cusName}}</a>
										<a *ngIf="cus.cusMobile == null || cus.cusMobile == 0">{{cus.cusName}}</a>
									</template>
								</p-column>
								<p-column field="cusMobile" header="Số điện thoại"></p-column>
								<p-column field="cusAddress" header="Địa chỉ"></p-column>
							</p-dataTable>
						</div>
					</div>
				</form>
				</div>
				<div class="ui-g-12 ui-md-2">
				</div>
				<div *ngIf="chuagui" class="ui-g-12 ui-md-10">
					<button (click)="guiDuyet()" [disabled] = "id==0" class="ui-button-success" type="button" pButton icon="fa-check" label="Gửi duyệt"></button>
				</div>
				<div style="margin-bottom: 50px"></div>
			</div>
		</div>
	</div>
</div>

<p-dialog header="Thông tin khách hàng" [(visible)]="displayCustomer">
    
    <p-tabView>
        <p-tabPanel header="Thông tin khách hàng">
            <p-messages [value]="msgs"></p-messages>
            <loading-overlay [isLoading]="isLoading"></loading-overlay>
            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Họ tên</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    {{customer.cusName}}
                </div>
                
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Ngày sinh</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    {{customer.cusBirthday | date:'dd-MM-y'}}
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Giới tính</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    {{customer.cusGender | status : 'gender'}}
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="input">SĐT</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    {{customer.cusMobile}}
                </div>

                <div class="ui-g-12 ui-md-2">
                    <label for="input">Địa chỉ</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    {{customer.cusAddress}}
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Nghề nghiệp</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    {{customer.cusWork}}
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Lịch sử giao dịch">
            <div class="toolbox">
                <div class="filter fsearch">
                    <label>Từ khóa</label>
                    <div class="ui-g">
                        <input #gb type="text" pInputText>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <p-dataTable [value]="transactions" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                <p-column header="STT" styleClass="stt">
                    <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                        {{rowIndex + 1}}
                    </template>
                </p-column>
                <p-column field="goodsCode" header="Mã mặt hàng"></p-column>
                <p-column field="goodsName" header="Tên mặt hàng"></p-column>
                <p-column field="goodsGroupName" header="Tên nhóm"></p-column>
                <p-column field="custPrice" header="Giá (VNĐ)">
                    <template let-cus="rowData" pTemplate="body">
                        {{ cus.custPrice |  number: '.0-2'}}
                    </template>
                </p-column>
                <p-column field="transDate" header="Ngày">
                    <template pTemplate="body" let-cus="rowData">
                        {{cus.transDate | date:'dd-MM-y'}}
                    </template>
                </p-column>
            </p-dataTable>
        </p-tabPanel>
        <p-tabPanel header="Lịch sử bảo hành">
            <div class="toolbox">
                <div class="filter fsearch">
                    <label>Từ khóa</label>
                    <div class="ui-g">
                        <input #gb type="text" pInputText>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <p-dataTable [value]="warrantys" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                <p-column header="STT" styleClass="stt">
                    <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                        {{rowIndex + 1}}
                    </template>
                </p-column>
                <p-column field="goodsCode" header="Mã bảo hành"></p-column>
                <p-column field="khachhangHoten" header="Khách hàng"></p-column>
                <p-column field="khachhangDiachi" header="Địa chỉ"></p-column>
                <p-column field="goodsCode" header="Mã bảo hành"></p-column>
                <p-column field="goodsThanhphan" header="Thành phần"></p-column>
                <p-column field="goodsTrangthai" header="Trạng thái"></p-column>
                <p-column field="txdate" header="Ngày bảo hành">
                    <template pTemplate="body" let-cus="rowData">
                        {{cus.txdate | date:'dd-MM-y'}}
                    </template>
                </p-column>
            </p-dataTable>
        </p-tabPanel>
    </p-tabView>

</p-dialog>
<p-dialog header="Chi tiết giao dịch" [(visible)]="displayFormTD">
    <div class="toolbox">
        <div class="filter fsearch">
            <label>Từ khóa</label>
            <div class="ui-g">
                <input #gbb type="text" pInputText>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <p-dataTable [value]="transaction_details" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gbb" #dt>
        <p-column header="STT" styleClass="stt">
            <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                {{rowIndex + 1}}
            </template>
        </p-column>
        <p-column field="goodsName" header="Mặt hàng"></p-column>
        <p-column field="goodsCode" header="Mã sản phẩm"></p-column>
        <p-column field="transDate" header="Ngày mua">
            <template pTemplate="body" let-cus="rowData">
                {{cus.transDate | date:'dd-MM-y'}}
            </template>
        </p-column>
        
        <p-column field="custPrice" header="Giá (VNĐ)">
            <template pTemplate="body" let-cus="rowData">
                {{ cus.custPrice |  number: '.0-2'}}
            </template>
        </p-column>
    </p-dataTable>
</p-dialog> 