<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Yêu cầu tạo chương trình truyền thông</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
                 <p-tabView (onChange)="onTabChange($event)">
                    <p-tabPanel header="Kênh truyền thông">
                        <p-dropdown [style]="{'width': '500px'}" [options]="channels" [(ngModel)]="selectedChannel" filter="filter"></p-dropdown>
                        <button style="width: 100px" class="ui-button-success" type="button" pButton icon="fa-plus" (click)="addChannel()" label="Thêm"></button>
                
                        <div class="clearfix"></div>
                        <p-dataTable [value]="channelsInRequest" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                            <p-column header="STT" styleClass="stt">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template>
                            </p-column>
                            <p-column field="name" header="Tên"></p-column>
                            <p-column [style]="{'width': '200px'}" styleClass="text-center" header="Chức năng">
                                <template let-cus="rowData" pTemplate="body">
                                    <button class="ui-button-danger" style="width: 25px" type="button" pButton (click)="deleteChannel(cus)" icon="fa-trash-o"></button>
                                </template>
                            </p-column>
                        </p-dataTable>
                    </p-tabPanel>


                    <p-tabPanel header="Sản phẩm">
                        <button class="ui-button-success" style="margin-top:15px; float:left" type="text" (click)="addGoods()" pButton icon="fa-plus" label="Thêm"></button>
                        <div class="toolbox">
                            <div class="filter fsearch">
                                <label>Tìm kiếm</label>
                                <div class="ui-g">
                                    <input #gbb type="text" pInputText>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <p-dataTable [value]="goodsInRequest" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                            <p-column header="STT" styleClass="stt">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template>
                            </p-column>
                            <p-column field="goodsName" header="Tên"></p-column>
                            <p-column field="goodsIds" header="Mã mặt hàng"></p-column>
                            <p-column [style]="{'width': '200px'}" styleClass="text-center" header="Chức năng">
                                <template let-cus="rowData" pTemplate="body">
                                    
                                    <button class="ui-button-danger" style="width: 25px" type="button" pButton (click)="deleteGoods(cus)" icon="fa-trash-o"></button>
                                </template>
                            </p-column>
                        </p-dataTable>
                    </p-tabPanel>

                    <p-tabPanel header="Siêu thị">
                        <button *ngIf="user.staffRole != 'TTT'" class="ui-button-success" style="margin-top:15px; float:left" type="text" (click)="displayFormUploadNgansach=true" pButton icon="fa-plus" label="Import file"></button>


                        <button *ngIf="user.staffRole != 'TTT'" (click)="exportFileNganSach()" class="ui-button-success" style="margin-top:15px; float:right" type="text" pButton icon="fa-plus" label="Tải file mẫu"></button>

  
                        <div class="clearfix"></div>
                        <form (ngSubmit)="addShop(formShop.value)" [formGroup]="formShop">
                            <div class="ui-g-3 ui-md-3 pleft">
                                <p-dropdown styleClass="fulla" [options]="areas" defaultLabel="Chọn vùng" [(ngModel)]="selectedAreas" (onChange)="AreaChange()" [ngModelOptions]="{standalone: true}"></p-dropdown>
                            </div>
                            <div class="ui-g-3 ui-md-3">
                                <p-dropdown styleClass="fulla" [options]="provinces" defaultLabel="Chọn tỉnh" [(ngModel)]="selectedProvinces" (onChange)="ProvinceChange()" [ngModelOptions]="{standalone: true}"></p-dropdown>
                            </div>
                            <div class="ui-g-3 ui-md-3 pright">
                                <p-dropdown styleClass="fulla" [options]="shops" defaultLabel="Chọn siêu thị" formControlName="selectedShops"></p-dropdown>
                                <div *ngIf="formShop.controls['selectedShops'].hasError('required') && formShop.controls['selectedShops'].touched" class="alert-error">Bạn cần chọn siêu thị</div>
                            </div>
                            <div class="ui-g-3 ui-md-3">
                                <button [disabled]="!formShop.valid" class="ui-button-success" type="submit" pButton label="Thêm"></button>
                            </div>
                        </form>
                        <div class="toolbox">
                            <div class="filter fsearch">
                                <label>Từ khóa</label>
                                <div class="ui-g">
                                    <input #gb type="text" pInputText>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <p-dataTable [value]="shopsInRequest" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                            <p-column header="STT" styleClass="stt">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template>
                            </p-column>
                            <p-column field="shopCode" header="Mã siêu thị"></p-column>
                            <p-column field="shopName" header="Tên"></p-column>
                            <p-column field="shopName" header="Ngân sách (VNĐ)">
                                <template let-cus="rowData" pTemplate="body">
                                    {{ cus.budget |  number: '.0-2'}}
                                </template>
                            </p-column> 
                            <p-column [style]="{'width': '200px'}" styleClass="text-center" header="Chức năng">
                                <template let-cus="rowData" pTemplate="body">
                                    <button style="width: 25px" type="button" pButton (click)="update(cus)" icon="fa-eye"></button>
                                </template>
                            </p-column>
                        </p-dataTable>
                    </p-tabPanel>
                    <p-tabPanel header="Doanh thu siêu thị">
                        <button *ngIf="user.staffRole != 'TTT'" class="ui-button-success" style="margin-top:15px; float:left" type="text" (click)="displayFormUploadSieuthi=true" pButton icon="fa-plus" label="Import file"></button>

                         <button *ngIf="user.staffRole != 'TTT'" (click)="exportFile()" class="ui-button-success" style="margin-top:15px; float:right" type="text" pButton icon="fa-plus" label="Tải file mẫu"></button>
                         <div class="clearfix"></div>
                        <div class="toolbox">
                            <div class="filter fsearch">
                                <label>Từ khóa</label>
                                <div class="ui-g">
                                    <input #gb type="text" pInputText>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <p-dataTable [value]="doanhthu" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                            <p-column header="STT" styleClass="stt">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template>
                            </p-column>
                            <p-column field="shopCode" header="Mã siêu thị"></p-column>
                            <p-column field="shopName" header="Siêu thị"></p-column>
                            <p-column field="goodsName" header="Nhóm"></p-column>
                            <p-column field="quantity" header="Số lượng">
                                <template let-cus="rowData" pTemplate="body">
                                    {{ cus.quantity|  number: '.0-2'}}
                                </template>
                            </p-column>
                            <p-column field="targetNumber" header="Doanh thu (VNĐ)">
                                <template let-cus="rowData" pTemplate="body">
                                    {{ cus.targetNumber|  number: '.0-2'}}
                                </template>
                            </p-column>
                            <p-column [style]="{'width': '200px'}" styleClass="text-center" header="Chức năng">
                                <template let-cus="rowData" pTemplate="body">
                                    <button style="width: 25px" type="button" pButton (click)="updateDoanhthu(cus)" icon="fa-eye"></button>
                                </template>
                            </p-column>
                        </p-dataTable>
                    </p-tabPanel>

                   

                </p-tabView>
            </div>
        </div>
    </div>
</div>

<p-dialog header="{{title}}" [(visible)]="displayFormGoods">
    <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
        <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-12">
                <p-dropdown filter="filter" [style]="{'width':'100%'}" [options]="domains" formControlName = "selectedDomains" (onChange)="ProductTypeChange()"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-12">
                <p-dropdown filter="filter" [style]="{'width':'100%'}" [options]="goodsGroups" formControlName = "selectedGoodsGroups" (onChange)="GoodGroupChange()"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-12">
                <p-dropdown filter="filter" [style]="{'width':'100%'}" [options]="goods" formControlName="selectedGoods"></p-dropdown>
            </div>
            
            <div class="ui-g-12 ui-md-12">
                <button [disabled]="!form.valid" class="ui-button-success" type="submit" pButton icon="fa-check" label="{{title}}"></button>
                <button type="button" (click)="displayFormGoods=false" pButton icon="fa-close" label="Hủy"></button>
            </div>
        </div>
        <div style="margin-bottom: 200px"></div>
    </form>
</p-dialog>

<p-dialog header="Số lượng" [(visible)]="displayFormDoanhthu">
    <form (ngSubmit)="onSubmitDoanhthu(formDoanhthu.value)" [formGroup]="formDoanhthu">
        <div class="ui-g form-group">
            <input type="hidden" pInputText formControlName="id"/>
            <div class="ui-g-12 ui-md-3 ui-xs-12">
                <label>Số lượng</label>
            </div>
            <div class="ui-g-12 ui-md-9">
                <input type="number" pInputText formControlName="quantity"/>
                <div *ngIf="formDoanhthu.controls['quantity'].hasError('required') && formDoanhthu.controls['quantity'].touched" class="alert-error">Bạn cần nhập số lượng</div>
            </div>
            <div class="ui-g-12 ui-md-3 ui-xs-12">
            </div>
            <div class="ui-g-12 ui-md-9">
                <button [disabled]="!formDoanhthu.valid" class="ui-button-success" type="submit" pButton icon="fa-check" label="Cập nhật"></button>
                <button type="button" (click)="displayFormDoanhthu=false" pButton icon="fa-close" label="Hủy"></button>
            </div>
        </div>
    </form>
</p-dialog>
 
 <p-dialog header="Ngân sách" [(visible)]="displayUpdateNgansach">
    <form (ngSubmit)="onSubmitDoanhthu(formNgansach.value)" [formGroup]="formNgansach">
        <div class="ui-g form-group">
            <input type="hidden" pInputText formControlName="id"/>
            <div class="ui-g-12 ui-md-3 ui-xs-12">
                <label>Ngân sách</label>
            </div>
            <div class="ui-g-12 ui-md-9">
                <input type="number" pInputText formControlName="budget"/>
                <div *ngIf="formNgansach.controls['budget'].hasError('required') && formNgansach.controls['budget'].touched" class="alert-error">Bạn cần nhập doanh thu</div>
            </div>
            <div class="ui-g-12 ui-md-3 ui-xs-12">
            </div>
            <div class="ui-g-12 ui-md-9">
                <button [disabled]="!formNgansach.valid" class="ui-button-success" type="submit" pButton icon="fa-check" label="Cập nhật"></button>
                <button type="button" (click)="displayUpdateNgansach=false" pButton icon="fa-close" label="Hủy"></button>
            </div>
        </div>
    </form>
</p-dialog>

 <p-dialog header="Tải file lên" [(visible)]="displayFormUploadSieuthi">
    <div class="ui-g-12 ui-md-12">
        <p-fileUpload name="file" (onBeforeUpload)="onBeforeUpload($event)" url="{{api}}bdkhmediashoptarget/uploadfile?campaignRequestId={{id}}" (onUpload)="onUpload($event)"></p-fileUpload>
    </div>
    <div class="ui-g-12 ui-md-6">
        <button type="text" (click)="displayFormUploadSieuthi=false" pButton icon="fa-close" label="Thoát"></button>
    </div>
</p-dialog>


<p-dialog header="Tải file lên" [(visible)]="displayFormUploadNgansach">
    <div class="ui-g-12 ui-md-12">
        <p-fileUpload name="file" (onBeforeUpload)="onBeforeUpload($event)" url="{{api}}bdkhmediacampaign/uploadfile?campaignRequestId={{id}}" (onUpload)="onUploadNgansach($event)"></p-fileUpload>
    </div>
    <div class="ui-g-12 ui-md-6">
        <button type="text" (click)="displayFormUploadNgansach=false" pButton icon="fa-close" label="Thoát"></button>
    </div>
</p-dialog>