<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Thành phố</h1>       
                <loading-overlay [isLoading]="isLoading"></loading-overlay>

                <div class="toolbox">
                    <div class="filter fsearch">
                        <label>Từ khóa</label>
                        <div class="ui-g">
                            <input placeholder="" #gb type="text" pInputText>
                        </div>
                    </div>
                </div>
                
                <div class="clearfix"></div>
                <p-dataTable [value]="cities" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                    <p-column styleClass="stt" field="" header="STT">
                      <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column field="name" header="Tên"></p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>
