<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Quản lý thông tin khách hàng</h1>
                <div class="ui-g form-group">
                    <div class="ui-g-1 ui-md-1">
                        <label>Tỉnh</label>
                        <p-dropdown [options]="cities" [(ngModel)]="selectedCity1" [autoWidth]="false"></p-dropdown>
                    </div>
                    <div class="ui-g-1 ui-md-1">
                        <label>Quận/Huyện</label>
                        <p-dropdown [options]="cities" [(ngModel)]="selectedCity1" [autoWidth]="false"></p-dropdown>
                    </div>
                    <div class="ui-g-1 ui-md-1">
                        <label>Phường/Xã</label>
                        <p-dropdown [options]="cities" [(ngModel)]="selectedCity1" [autoWidth]="false"></p-dropdown>
                    </div>
   
                    <div class="ui-g-3 ui-md-3" style="padding-top:0px">
                        <div class="ui-g">
                            <div class="ui-g-6 ui-md-6">
                                <label>Từ ngày</label>
                                <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" id="showIcon" [showIcon]="true"></p-calendar>
                            </div>
                            <div class="ui-g-6 ui-md-6">
                                <label>Đến ngày</label>
                                <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" id="showIcon" [showIcon]="true"></p-calendar>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-1 ui-md-1">
                        <label>Siêu thị</label>
                        <p-dropdown [options]="cities" [(ngModel)]="selectedCity1" [autoWidth]="false"></p-dropdown>
                    </div>
                    <div class="ui-g-3 ui-md-3">
                        <label>Từ khóa</label>
                        <div class="ui-g">
                            <input style="width: 150px; float:left; margin-right: 5px;" type="email" pInputText>
                            <button style="width: 50px" type="button" label="Tìm" class="ui-button-info" pButton></button>
                        </div>
                    </div>
                </div>
                <p-dataTable [value]="cuss">
                    <p-column [sortable]="true" field="stt" header="STT"></p-column>
                    <p-column [sortable]="true" field="fullName" header="NV phục trách"></p-column>
                    <p-column field="phoneNumber" header="Siêu thị"></p-column>
                    <p-column field="CMTND" header="Tên khách hàng"></p-column>
                    <p-column field="birthday" header="SĐT"></p-column>
                    <p-column field="money" header="Số lần mua"></p-column>
                    <p-column field="area" header="Đơn giá BQ"></p-column>
                    <p-column field="buy_number" header="Đơn giá Max"></p-column>
                    <p-column field="sale_number" header="Đơng giá Min"></p-column>
                    <p-column field="bh_bumber" header="Ngày mua gần nhất"></p-column>
                    <p-column field="rate" header="Ngày mua xa nhất"></p-column>
                    
                </p-dataTable>
            </div>
        </div>
    </div>
</div>
