<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Kết quả chăm sóc</h1>
                <p-growl [value]="msgs"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
                <div class="toolbox"> 
                    <div class="filter fsearch">
                        <label>Từ khóa</label>
                        <div class="ui-g">
                            <input placeholder="" #sItem type="text" pInputText>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <p-dataTable [value]="items" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="sItem" #dt>
                    <p-column styleClass="stt" header="STT">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column field="cusName" header="Khách hàng">
                        <template pTemplate="body" let-cus="rowData">
                             <a *ngIf="cus.cusMobile != null && cus.cusMobile != 0" style="cursor: pointer; color: #2399e5" (click)="viewCustomer(cus.cusMobile)">{{cus.cusName}}</a>
                            <a *ngIf="cus.cusMobile == null || cus.cusMobile == 0">{{cus.cusName}}</a>
                        </template>
                    </p-column>
                    <p-column field="cusMobile" header="SĐT"></p-column>
                    <p-column field="updateDate" header="Ngày cập nhập">
                        <template pTemplate="body" let-cus="rowData">
                            {{cus.updateDate | date:'dd-MM-y'}}
                        </template>
                    </p-column>

                    <p-column *ngIf="hasSurvey == true" styleClass="text-center" header="Survey">
                        <template let-item="rowData" pTemplate="body">
                            <a class="ui-button-success" *ngIf="item.surveyId != null && item.careStatus ==6" type="button" [routerLink]="['/result-survey', item.id]" pButton label="Kết quả"></a>
                        </template>
                    </p-column>
                    
                    <p-column *ngIf="hasSurvey == false" field="careContent" header="Nội dung"></p-column>
                    <p-column *ngIf="hasSurvey == false" field="careResult" header="Kết quả"></p-column>
                    <p-column field="note" header="Ghi chú"></p-column>
                    <p-column styleClass="text-center" field="careStatus" header="Trạng thái">
                        <template pTemplate="body" let-cus="rowData">
                            <div [innerHTML]="cus.careStatus | status: 'campaignstaff'"></div>
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Thông tin khách hàng" [(visible)]="displayCustomer">
    
    <p-tabView>
        <p-tabPanel header="Thông tin khách hàng">
            <p-messages [value]="msgs"></p-messages>
            <loading-overlay [isLoading]="isLoading"></loading-overlay>
            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Họ tên</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    {{customer.cusName}}
                </div>
                
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Ngày sinh</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    {{customer.cusBirthday | date:'dd-MM-y'}}
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Giới tính</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    {{customer.cusGender | status : 'gender'}}
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="input">SĐT</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    {{customer.cusMobile}}
                </div>

                <div class="ui-g-12 ui-md-2">
                    <label for="input">Địa chỉ</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    {{customer.cusAddress}}
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Nghề nghiệp</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    {{customer.cusWork}}
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Lịch sử giao dịch">
            <div class="toolbox">
                <div class="filter fsearch">
                    <label>Từ khóa</label>
                    <div class="ui-g">
                        <input #sTran type="text" pInputText>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <p-dataTable [value]="transactions" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="sTran" #dt>
                <p-column header="STT" styleClass="stt">
                    <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                        {{rowIndex + 1}}
                    </template>
                </p-column>
                <p-column field="goodsCode" header="Mã mặt hàng"></p-column>
                <p-column field="goodsName" header="Tên mặt hàng"></p-column>
                <p-column field="goodsGroupName" header="Tên nhóm"></p-column>
                <p-column field="custPrice" header="Giá (VNĐ)">
                    <template let-cus="rowData" pTemplate="body">
                        {{ cus.custPrice |  number: '.0-2'}}
                    </template>
                </p-column>
                <p-column field="transDate" header="Ngày">
                    <template pTemplate="body" let-cus="rowData">
                        {{cus.transDate | date:'dd-MM-y'}}
                    </template>
                </p-column>
            </p-dataTable>
        </p-tabPanel>
        <p-tabPanel header="Lịch sử bảo hành">
            <div class="toolbox">
                <div class="filter fsearch">
                    <label>Từ khóa</label>
                    <div class="ui-g">
                        <input #sWar type="text" pInputText>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <p-dataTable [value]="warrantys" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="sWar" #dt>
                <p-column header="STT" styleClass="stt">
                    <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                        {{rowIndex + 1}}
                    </template>
                </p-column>
                <p-column field="goodsCode" header="Mã bảo hành"></p-column>
                <p-column field="khachhangHoten" header="Khách hàng"></p-column>
                    <p-column field="khachhangDiachi" header="Địa chỉ"></p-column>
                <p-column field="goodsCode" header="Mã bảo hành"></p-column>
                <p-column field="goodsThanhphan" header="Thành phần"></p-column>
                <p-column field="goodsTrangthai" header="Trạng thái"></p-column>
                <p-column field="txdate" header="Ngày bảo hành">
                    <template pTemplate="body" let-cus="rowData">
                        {{cus.txdate | date:'dd-MM-y'}}
                    </template>
                </p-column>
            </p-dataTable>
        </p-tabPanel>
    </p-tabView>

</p-dialog>

<p-dialog header="Chi tiết giao dịch" [(visible)]="displayFormTD">
    <div class="toolbox">
        <div class="filter fsearch">
            <label>Từ khóa</label>
            <div class="ui-g">
                <input #gbb type="text" pInputText>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <p-dataTable [value]="transaction_details" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gbb" #dt>
        <p-column header="STT" styleClass="stt">
            <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                {{rowIndex + 1}}
            </template>
        </p-column>
        <p-column field="goodsName" header="Mặt hàng"></p-column>
        <p-column field="goodsCode" header="Mã sản phẩm"></p-column>
        <p-column field="transDate" header="Ngày mua">
            <template pTemplate="body" let-cus="rowData">
                {{cus.transDate | date:'dd-MM-y'}}
            </template>
        </p-column>
        
        <p-column field="custPrice" header="Giá (VNĐ)">
            <template pTemplate="body" let-cus="rowData">
                {{ cus.custPrice |  number: '.0-2'}}
            </template>
        </p-column>
    </p-dataTable>
</p-dialog>