<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Phân công nhân viên</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>

                
                <button *ngIf="status == 2" class="ui-button-success" style="float:left; margin-right: 5px" (click)="assignManualAgain()" pButton label="Phân công lại"></button>

                <div style="float:right"> Số khách: {{total}} - Số khách đã giao: {{dagiao}}</div>
                <div class="clearfix"></div>
                 
                <p-dataTable [value]="items">
                    <p-column styleClass="stt" field="" header="STT"> 
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column field="staffCode" header="Mã nhân viên"></p-column>
                    <p-column field="name" header="Nhân viên"></p-column>
                    <p-column field="customerNumber" header="Số lượng"></p-column>

                    <p-column styleClass="col-1 text-center" field="func" header="Chức năng">
                        <template let-item="rowData" pTemplate="body">
                            <button type="button" style="width: 25px" pButton (click)="update(item)" icon="fa-eye"></button>  
                            
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>
<p-dialog header="Điều chỉnh số lượng khách hàng" [(visible)]="displayForm">
    <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
        <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-2">
                <label>Số lượng</label>
            </div>
            <div class="ui-g-12 ui-md-10">
                <input type="hidden" pInputText formControlName="id"/>
                <input type="number" pInputText formControlName="customerNumber" min="0" max="{{total}}"/>
                <div *ngIf="form.controls['customerNumber'].hasError('required') && form.controls['customerNumber'].touched" class="alert-error">Bạn cần nhập số khách hàng</div>

            </div>
            <div class="ui-g-12 ui-md-2">
            </div>
            <div class="ui-g-12 ui-md-10">
                <button class="ui-button-success" [disabled]="!form.valid" type="submit" pButton icon="fa-check" label="Điều chỉnh"></button>
                <button type="text" (click)="displayForm=false" pButton icon="fa-close" label="Thoát"></button>
            </div>
        </div>
    </form>
</p-dialog>