<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Quản lý phòng ban chức vụ</h1>
                <p-growl [value]="mes"></p-growl>
                <p-tabView>
                    <p-tabPanel header="Phòng ban">
                        <button style="margin-bottom: 10px" type="text" (click)="create()" pButton icon="fa-plus" label="Thêm" class="ui-button-success"></button>
                        <p-dataTable [value]="items" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" resizableColumns="true">
                            <p-column styleClass="stt" field="stt" header="STT">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template>
                            </p-column>
                            <p-column field="name" header="Phòng ban"></p-column>
                            <p-column styleClass="text-center col-2" header="Chức năng">
                                <template let-item="rowData" pTemplate="body"> 
                                    <button style="width: 25px" type="button" pButton (click)="update(item)" icon="fa-eye"></button>
                                    <button style="width: 25px" type="button" pButton (click)="delete(item)" icon="fa-trash-o" class="ui-button-danger"></button>
                                </template>
                            </p-column>
                        </p-dataTable>
                    </p-tabPanel>
                    <p-tabPanel header="Chức vụ">
                        <button style="margin-bottom: 10px" type="text" (click)="showDialog()" pButton icon="fa-plus" label="Thêm" class="ui-button-success"></button>
                        <p-dataTable [value]="cuss" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" resizableColumns="true">
                            <p-column [sortable]="true" field="stt" header="STT"></p-column>
                            <p-column [sortable]="true" field="fullName" header="Chức danh"></p-column>
                            <p-column field="phoneNumber" header="Phòng ban"></p-column>
                        </p-dataTable>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
    </div>
</div>

<p-dialog header="{{title}}" [(visible)]="displayForm">
    <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
        <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-4">
                <label>Tên phòng ban</label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <input type="hidden" pInputText formControlName="id"/>
                <input type="text" pInputText formControlName="name"/>
                <div *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched" class="alert-error">Bạn cần nhập tên</div>
                <div *ngIf="form.controls['name'].hasError('minlength') && form.controls['name'].touched" class="alert-error">Tên cần lớn hơn 5 ký tự</div>
                <div *ngIf="form.controls['name'].hasError('maxlength') && form.controls['name'].touched" class="alert-error">Tên cần nhỏ hơn 50 ký tự</div>
            </div>
             <div class="ui-g-12 ui-md-4">
            </div>
            <div class="ui-g-12 ui-md-6">
                <button [disabled]="!form.valid" type="submit" pButton icon="fa-check" label="{{title}}" class="ui-button-success"></button>
                <button type="text" (click)="displayForm=false" pButton icon="fa-close" label="Thoát"></button>
            </div>
        </div>
    </form>
</p-dialog>
<p-dialog header="Thông báo" [(visible)]="displayDel">
    <p>Bạn có chắc muốn xóa tên phòng ban?</p>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="displayDel=false" label="Thoát"></button>
            <button class="ui-button-danger" type="button" pButton icon="fa-check" (click)="acceptDel()" label="Đồng ý"></button>
        </div>
    </p-footer>
</p-dialog>