<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Danh sách chỉ tiêu</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
                <button *ngIf="user.staffRole == 'NVTT'" class="ui-button-success" style="margin-top:15px; float:left" type="text" (click)="create()" pButton icon="fa-plus" label="Thêm"></button>
                <div class="toolbox">
 
                    <!--<div class="filter fbutton">
                        <button style="width: 50px" type="button" label="Lọc" class="ui-button-primary" pButton></button>
                        <button style="width: 50px" type="button" label="Xóa" class="ui-button-primary" pButton></button>
                    </div>-->
                    <div class="filter fsearch">
                        <label>Từ khóa</label>
                        <div class="ui-g">
                            <input #gb type="text" pInputText>
                        </div>
                    </div>
                    <!--<div class="filter fdate">
                        <label>Đến ngày</label>
                        <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" id="showIcon" [showIcon]="true"></p-calendar>
                    </div>
                    <div class="filter fdate">
                        <label>Từ ngày</label>
                        <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" id="showIcon" [showIcon]="true"></p-calendar>
                    </div>-->
                </div>
                <div class="clearfix"></div>
                <p-dataTable [value]="items" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                    <p-column header="STT" styleClass="stt" >>
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion" let-cus="rowData">
                            <div [ngClass]="{'endclass': cus.status == 6 }">
                                {{rowIndex + 1}}
                            </div>
                        </template>
                    </p-column>
                    <p-column field="name" header="Tên">
                        <template pTemplate="body" let-cus="rowData">
                            <div [ngClass]="{'endclass': cus.status == 6 }">
                            {{cus.name}}
                            </div>
                        </template>
                    </p-column>
                    <p-column field="startDate" header="Ngày bắt đầu">
                        <template pTemplate="body" let-cus="rowData">
                             <div [ngClass]="{'endclass': cus.status == 6 }">
                            {{cus.startDate | date:'dd-MM-y'}}
                             </div>
                        </template>
                    </p-column>
                    <p-column field="endDate" header="Ngày kết thúc">
                        <template pTemplate="body" let-cus="rowData">
                             <div [ngClass]="{'endclass': cus.status == 6 }">
                            {{cus.endDate | date:'dd-MM-y'}}
                             </div>
                        </template>
                    </p-column>
                    <p-column field="targetDescription" header="Miêu tả">
                        <template pTemplate="body" let-cus="rowData">
                             <div [ngClass]="{'endclass': cus.status == 6 }">
                            {{cus.targetDescription}}
                             </div>
                        </template>
                    </p-column>
                    <p-column styleClass="text-center col-status" field="status" header="Trạng thái">
                        <template pTemplate="body" let-cus="rowData">
                            <div [innerHTML]="cus.status | status: 'target'"></div>
                        </template>
                    </p-column>
                    <!--<p-column field="rating" header="Đánh giá"></p-column>-->
                    
                    <p-column [style]="{'width': '200px'}" styleClass="text-center" header="Chức năng">
                        <template let-cus="rowData" pTemplate="body">
                            <a *ngIf="cus.status != 1" type="button" pButton [routerLink] = "['/target-result', cus.id]" label="Kết quả"></a>
                            <a *ngIf="cus.status == 1" style="width: 25px" type="button" pButton [routerLink] = "['/add-shop-target', cus.id]" icon="fa-home"></a>
                            <div *ngIf="user.staffRole == 'NVTT' && cus.status == 1" style="display: inline">  
                                <button style="width: 25px" type="button" pButton (click)="update(cus)" icon="fa-eye"></button>
                                <button class="ui-button-danger" style="width: 25px" type="button" pButton (click)="delete(cus)" icon="fa-trash-o"></button>
                            </div>
                        </template>
                    </p-column>
                    
                </p-dataTable>
            </div>
        </div>
    </div>
</div> 
<p-dialog header="{{title}}" [(visible)]="displayForm">
    <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form" style="margin-bottom: 100px">
        <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-2">
                <label>Tên</label>
            </div>
            <div class="ui-g-12 ui-md-10">
                <input type="hidden" pInputText formControlName="id"/>
                <input type="text" pInputText formControlName="name"/>
                <div *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched" class="alert-error">Bạn cần nhập tên</div>
                <div *ngIf="form.controls['name'].hasError('minlength') && form.controls['name'].touched" class="alert-error">Tên cần lớn hơn 5 ký tự</div>
                <div *ngIf="form.controls['name'].hasError('maxlength') && form.controls['name'].touched" class="alert-error">Tên cần nhỏ hơn 50 ký tự</div>
            </div>
            <div class="ui-g-12 ui-md-2">
                <label>Bắt đầu</label>
            </div>
            <div class="ui-g-12 ui-md-10">
                <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" id="showIcon" formControlName="startDate" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
    
                <div *ngIf="form.controls['startDate'].hasError('required') && form.controls['startDate'].touched" class="alert-error">Bạn cần nhập ngày bắt đầu</div>
                
            </div>
            <div class="ui-g-12 ui-md-2">
                <label>Kết thúc</label>
            </div>
            <div class="ui-g-12 ui-md-10">
                 <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" id="showIcon" formControlName="endDate" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
                <div *ngIf="form.controls['endDate'].hasError('required') && form.controls['endDate'].touched" class="alert-error">Bạn cần nhập cần nhập ngày kết thúc</div>
            </div>
            <div class="ui-g-12 ui-md-2">
                <label>Mô tả</label>
            </div>
            <div class="ui-g-12 ui-md-10">
                <textarea rows="5" cols="50" pInputTextarea formControlName="targetDescription"></textarea>
                <div *ngIf="form.controls['targetDescription'].hasError('minlength') && form.controls['targetDescription'].touched" class="alert-error">Mô tả cần lớn hơn 5 ký tự</div>
                <div *ngIf="form.controls['targetDescription'].hasError('maxlength') && form.controls['targetDescription'].touched" class="alert-error">Mô tả cần nhỏ hơn 1000 ký tự</div>
            </div>
             <div class="ui-g-12 ui-md-2">
            </div>
            <div class="ui-g-12 ui-md-10">
                <button class="ui-button-success" [disabled]="!form.valid" type="submit" pButton icon="fa-check" label="{{title}}"></button>
                <button type="text" (click)="displayForm=false" pButton icon="fa-close" label="Thoát"></button>
            </div>
        </div>
    </form>
</p-dialog>
<p-dialog header="Thông báo" [(visible)]="displayDel">
    <p>Bạn có chắc muốn xóa chỉ tiêu?</p>
    <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="displayDel=false" label="Thoát"></button>
                <button class="ui-button-danger" type="button" pButton icon="fa-check" (click)="acceptDel()" label="Đồng ý"></button>
                
            </div>
        </p-footer>
</p-dialog>
