<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Giá kênh truyền thông</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
                
                <button *ngIf="user.staffRole != 'TTT'" class="ui-button-success" style="margin-top:15px; float:left" type="text" (click)="displayFormUpload=true" pButton icon="fa-plus" label="Import file"></button>
                <button *ngIf="user.staffRole != 'TTT'" (click)="exportFile()" class="ui-button-success" style="margin-top:15px; float:right" type="text" pButton label="Tải file mẫu"></button>
                <div class="clearfix"></div>
                <div class="toolbox">
                    <div class="filter fsearch">
                        <label>Từ khóa</label>
                        <div class="ui-g">
                            <input #gb type="text" pInputText>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <p-dataTable [value]="items" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                    <p-column styleClass="stt" header="STT">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column field="shopCode" header="Mã siêu thị"></p-column>
                    <p-column field="shopName" header="Tên siêu thị"></p-column>
                    <p-column field="price" header="Giá (VNĐ)">
                        <template let-item="rowData" pTemplate="body">
                            {{ item.price |  number: '.0-2'}}
                        </template>
                    </p-column>
                    <p-column styleClass="text-center col-2" header="Chức năng">
                        <template let-item="rowData" pTemplate="body">
                            <button *ngIf="user.staffRole != 'TTT'" style="width: 25px" type="button" pButton (click)="update(item)" icon="fa-eye"></button>
                            <button *ngIf="user.staffRole != 'TTT'" style="width: 25px" type="button" pButton (click)="delete(item)" icon="fa-trash-o" class="ui-button-danger"></button>
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>
<p-dialog header="{{title}}" [(visible)]="displayForm">
    <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
        <div class="ui-g form-group">
            <input type="hidden" pInputText formControlName="id" />
            <div class="ui-g-12 ui-md-4">
                <label>Siêu thị</label>
            </div>
            <div class="ui-g-12 ui-md-8">
                {{form.controls['shopName'].value}}
            </div>
            <div class="ui-g-12 ui-md-4">
                <label>Giá *</label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <input type="text" pInputText formControlName="price" />
                <div *ngIf="form.controls['price'].hasError('required') && form.controls['price'].touched" class="alert-error">Bạn cần nhập giá</div>
                <div *ngIf="form.controls['price'].hasError('minlength') && form.controls['price'].touched" class="alert-error">Giá cần lớn hơn 2 ký tự</div>
                <div *ngIf="form.controls['price'].hasError('maxlength') && form.controls['price'].touched" class="alert-error">Giá cần nhỏ hơn 50 ký tự</div>
            </div>
            
            <div class="ui-g-12 ui-md-4">
            </div>
            <div class="ui-g-12 ui-md-6">
                <button [disabled]="!form.valid" type="submit" pButton icon="fa-check" label="{{title}}" class="ui-button-success"></button>
                <button type="text" (click)="displayForm=false" pButton icon="fa-close" label="Thoát"></button>
            </div>
        </div>
    </form>
</p-dialog>
<p-dialog header="Tải file lên" [(visible)]="displayFormUpload">
    <div class="ui-g-12 ui-md-12">
        <p-fileUpload #upfile name="file" (onSelect)="onSelect($event)" (onBeforeSend)="onBeforeSend($event)" (onBeforeUpload)="onBeforeUpload($event)" url="{{api}}bdkhmediashopprice/uploadfile?mediaId={{id}}" (onUpload)="onUpload($event)"></p-fileUpload>
    </div>
    <div class="ui-g-12 ui-md-6">
        <button type="text" (click)="displayFormUpload=false" pButton icon="fa-close" label="Thoát"></button>
    </div>
</p-dialog>
<p-dialog header="Thông báo" [(visible)]="displayDel">
    <p>Bạn có chắc muốn xóa?</p>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="displayDel=false" label="Thoát"></button>
            <button class="ui-button-danger" type="button" pButton icon="fa-check" (click)="acceptDel()" label="Đồng ý"></button>
        </div>
    </p-footer>
</p-dialog>