<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Danh sách khách hàng</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
                <!--<button class="ui-button-success" style="margin-top:15px; float:left" type="text" (click)="showAdd()" pButton icon="fa-plus" label="Thêm"></button>-->

                <div class="toolbox">

                    <!--<div class="filter fbutton">
                        <button style="width: 50px" type="button" label="Lọc" class="ui-button-primary" pButton></button>
                        <button style="width: 50px" type="button" (click)="clearFilter()" label="Xóa" class="ui-button-primary" pButton></button>
                    </div>-->
                    <div class="filter fsearch">
                        <label>Từ khóa</label>
                        <div class="ui-g">
                            <input [(ngModel)]="search" style="width: auto" placeholder="tên" type="text" pInputText>
                            <button style="width: 50px" type="button" label="Tìm" class="ui-button-primary" (click)="loadCustomers()" pButton></button>
                            <button style="width: 50px" type="button" label="Hủy" class="ui-button-primary" (click)="change()" pButton></button>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="clearfix"></div>
                <p-dataTable [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadLazy($event)" [value]="customers" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                    <p-column styleClass="stt" header="STT" [style]="{'width': '60px'}">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column field="NAME" header="Họ tên"></p-column>
                    <p-column field="MOBILE" header="SĐT"></p-column>
                    <p-column field="CUS_BIRTHDAY" header="Ngày sinh">
                        <template pTemplate="body" let-cus="rowData">
                            {{cus.BIRTHDAY | date:'dd-MM-y'}}
                        </template>
                    </p-column>
                    
                    

                    <p-column styleClass="col-2 text-center" field="func" header="Chức năng">
                        <template let-cus="rowData" pTemplate="body"> 
                            <a *ngIf="cus.CUSTOMER_ID != null" style="width: 25px" [routerLink] = "['/customer-detail', cus.CUSTOMER_ID]" pButton icon="fa-eye"></a>
                            <!--<button style="width: 25px" type="button" pButton (click)="showDel(cus)" icon="fa-trash-o" class="ui-button-danger"></button>-->
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>
<p-dialog header="Thêm mới khách hàng" [(visible)]="display_add" [style]="{'width':'600px'}">
    <form (ngSubmit) = "onSubmit(customerForm.value)" [formGroup]="customerForm" >
        <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-3 ui-xs-12">
                <label>Họ tên *</label>
            </div>
            <div class="ui-g-12 ui-md-9 ui-xs-12">
                <input type="text" formControlName="name" pInputText/>
                <div *ngIf="customerForm.controls['name'].hasError('required') && customerForm.controls['name'].touched" class="alert-error">Bạn cần nhập tên</div>
                <div *ngIf="customerForm.controls['name'].hasError('minlength') && customerForm.controls['name'].touched" class="alert-error">Tên cần lớn hơn 2 ký tự</div>
                <div *ngIf="customerForm.controls['name'].hasError('maxlength') && customerForm.controls['name'].touched" class="alert-error">Tên cần nhỏ hơn 50 ký tự</div>
            </div>
            <div class="ui-g-12 ui-md-3 ui-xs-12">
                <label for="input">Giới tính</label>
            </div>
            <div class="ui-g-12 ui-md-9 ui-xs-12">
                <p-dropdown [options]="genders" formControlName="gender" [style]="{'width':'100px'}" [autoWidth]="false"></p-dropdown>
                <div *ngIf="customerForm.controls['gender'].hasError('required') && customerForm.controls['gender'].touched" class="alert-error">Bạn cần chọn giới tính</div>
            </div>
            <div class="ui-g-12 ui-md-3 ui-xs-12">
                <label>SĐT *</label>
            </div>
            <div class="ui-g-12 ui-md-9 ui-xs-12">
                <input type="text"  pInputText formControlName="phone"/>
                <div *ngIf="customerForm.controls['phone'].hasError('required') && customerForm.controls['phone'].touched" class="alert-error">Bạn cần nhập số điện thoại</div>
                 <div *ngIf="customerForm.controls['phone'].hasError('pattern') && customerForm.controls['phone'].touched" class="alert-error">Số điện thoại chỉ gồm số</div>
            </div>
            <div class="ui-g-12 ui-md-3">
                <label for="input">CMTND</label>
            </div>
            <div class="ui-g-12 ui-md-9">
                <input id="input" type="text" pInputText formControlName="idNo"/>
                <div *ngIf="customerForm.controls['idNo'].hasError('required') && customerForm.controls['idNo'].touched" class="alert-error">Bạn cần nhập chứng minh thư</div>
                <div *ngIf="customerForm.controls['idNo'].hasError('pattern') && customerForm.controls['idNo'].touched" class="alert-error">Chứng minh thư chỉ gồm số</div>
            </div>
            <!--<div class="ui-g-12 ui-md-3">
                <label for="input">Hộ chiếu</label>
            </div>
            <div class="ui-g-12 ui-md-9">
                <input id="input" type="text" pInputText formControlName="identityPassport"/>
                <div *ngIf="customerForm.controls['identityPassport'].hasError('required') && customerForm.controls['identityPassport'].touched" class="alert-error">Bạn cần nhập hộ chiếu</div>
                <div *ngIf="customerForm.controls['phoneNo'].hasError('pattern') && customerForm.controls['phoneNo'].touched" class="alert-error">Hộ chiếu chỉ gồm số</div>
            </div>-->
            <!--<div class="ui-g-12 ui-md-3">
                <label for="input">Ngày sinh</label>
            </div>
            <div class="ui-g-12 ui-md-9">
                <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" id="showIcon" [showIcon]="true" formControlName="birthday"></p-calendar>
                <div *ngIf="customerForm.controls['birthday'].hasError('required') && customerForm.controls['birthday'].touched" class="alert-error">Bạn cần nhập ngày sinh</div>
            </div>-->
            <div class="ui-g-12 ui-md-3">
                <label for="input">Địa chỉ</label>
            </div>
            <div class="ui-g-12 ui-md-9">
                <div class="ui-g">
                    <div class="ui-g-4"><p-dropdown formControlName="cityId" (onChange) = "CityDropDownChange()" [options]="cities" styleClass="fullWidth" [autoWidth]="false" [filter]="true"></p-dropdown></div>
                    <div class="ui-g-4"><p-dropdown formControlName="districtId" (onChange) = "DistrictDropDownChange()" [options]="districts" styleClass="fullWidth" [autoWidth]="false" [filter]="true"></p-dropdown></div>
                    <div class="ui-g-4"><p-dropdown formControlName="payAreaCode" [options]="wards" styleClass="fullWidth" [autoWidth]="false" [filter]="true"></p-dropdown></div>
                </div>
                <div class="ui-g">

                </div>
            </div>
            <div class="ui-g-12 ui-md-3">
                <label for="input">Nghề nghiệp</label>
            </div>
            <div class="ui-g-12 ui-md-9">
                <input id="input" type="text" pInputText formControlName="job"/>
                <div *ngIf="customerForm.controls['job'].hasError('required') && customerForm.controls['job'].touched" class="alert-error">Bạn cần nhập nghề nghiệp</div>
            </div>
            <!--<div class="ui-g-12 ui-md-3">
                <label for="input">Sở thích</label>
            </div>
            <div class="ui-g-12 ui-md-9">
                 <p-multiSelect></p-multiSelect>
            </div>-->
            <div class="ui-g-12 ui-md-3">
                <label for="input">Thu nhập</label>
            </div>
            <div class="ui-g-12 ui-md-9">
                <input id="input" type="text" pInputText formControlName="income"/>
                <div *ngIf="customerForm.controls['income'].hasError('required') && customerForm.controls['income'].touched" class="alert-error">Bạn cần nhập thu nhập</div>
            </div>
            <div class="ui-g-12 ui-md-3">
            </div>
            <div class="ui-g-12 ui-md-6">
                <button class="ui-button-success" [disabled]="!customerForm.valid" type="submit" pButton icon="fa-check" label="Tạo mới"></button>
                <button type="button" (click)="display_add=false" pButton icon="fa-close" label="Hủy"></button>
                
            </div>
        </div>
    </form>
</p-dialog>
<p-dialog header="Thông báo" [(visible)]="display_del">
    <p>Bạn có chắc muốn xóa Khách hàng?</p>
    <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="display_del=false" label="Bỏ qua"></button>
                <button  class="ui-button-danger" type="button" pButton icon="fa-check" (click)="Del()" label="Đồng ý"></button>
                
            </div>
        </p-footer>
</p-dialog>