<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Quản lý chiến dịch</h1>
                
               
                <p-growl [value]="msgs"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>

                
                <div class="toolbox"> 
                    <div class="filter fsearch">
                        <label>Từ khóa</label>
                        <div class="ui-g">
                            <input placeholder="" #gb type="text" pInputText>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="clearfix"></div>

                <p-dataTable [value]="items" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                    <p-column styleClass="stt" field="" header="STT">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion" let-cus="rowData">
                            <div [ngClass]="{'endclass': cus.status == 6 }">
                                {{rowIndex + 1}}
                            </div>
                        </template>
                    </p-column>
                    <p-column field="name" header="Chương trình">
                        <template pTemplate="body" let-cus="rowData">
                            <div [ngClass]="{'endclass': cus.status == 6 }">
                            {{cus.name}}
                            </div>
                        </template>
                    </p-column>
                    <p-column field="targetNumber" header="Chỉ tiêu">
                        <template pTemplate="body" let-cus="rowData">
                            <div [ngClass]="{'endclass': cus.status == 6 }">
                            {{cus.targetNumber}}
                            </div>
                        </template>
                    </p-column>
                    <p-column field="resultNumber" header="Hoàn thành">
                        <template pTemplate="body" let-cus="rowData">
                            <div [ngClass]="{'endclass': cus.status == 6 }">
                            {{cus.resultNumber}}
                            </div>
                        </template>
                    </p-column>
                    <p-column field="startDate" header="Ngày bắt dầu">
                        <template pTemplate="body" let-c="rowData">
                            <div [ngClass]="{'endclass': c.status == 6 }">
                            {{c.startDate | date:'dd-MM-y'}}
                            </div>
                        </template>
                    </p-column>
                    <p-column field="endDate" header="Ngày kết thúc">
                        <template pTemplate="body" let-c="rowData">
                            <div [ngClass]="{'endclass': c.status == 6 }">
                            {{c.endDate | date:'dd-MM-y'}}
                            </div>
                        </template>
                    </p-column>
                    <p-column field="createDate" header="Ngày tạo">
                        <template pTemplate="body" let-c="rowData">
                            <div [ngClass]="{'endclass': c.status == 6 }">
                            {{c.createDate | date:'dd-MM-y'}}
                            </div>
                        </template>
                    </p-column>
                    <p-column styleClass="text-center" field="surveyId" header="Survey">
                        <template pTemplate="body" let-item="rowData">
                            <a *ngIf="item.surveyId != null" pButton [routerLink]="['/fill-survey',item.surveyId]" label="Xem"></a> 
                        </template>
                    </p-column>

                    <p-column styleClass="text-center col-status" field="status" header="Trạng thái">
                        <template pTemplate="body" let-c="rowData">
                            <div [innerHTML]="c.status | status: 'campaign'"></div>
                        </template>
                    </p-column>
                    <p-column styleClass="text-center" field="func" header="Chức năng" [style]="{'width':'200px'}">
                        <template let-item="rowData" pTemplate="body"> 
                            <a *ngIf="item.status == 3 || item.status == 5 || item.status == 6" [routerLink]="['/campaign-store-result', item.id]" pButton label="Kết quả"></a>
                            <a pButton [routerLink]="['/view-campaign',item.id]" label="Chi tiết"></a> 
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>

