<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Chương trình truyền thông</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
                <button class="ui-button-success" style="margin-top:15px; float:left" (click)="create()" pButton icon="fa-plus" label="Thêm"></button>
                <div class="toolbox">

                    <div class="filter fsearch">
                        <label>Tìm kiếm</label>
                        <div class="ui-g">
                            <input placeholder="" #gb type="text" pInputText>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <p-dataTable [value]="items" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                    <p-column styleClass="stt" header="STT">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column field="name" header="Kế hoạch"></p-column>
                    <p-column field="startDate" header="Ngày bắt đầu">
                        <template pTemplate="body" let-cus="rowData">
                            {{cus.startDate | date:'dd-MM-y'}}
                        </template>
                    </p-column>
                    <p-column field="endDate" header="Ngày kết thúc">
                        <template pTemplate="body" let-cus="rowData">
                            {{cus.endDate | date:'dd-MM-y'}}
                        </template>
                    </p-column>
                    <p-column field="startDate" header="Ngày tạo">
                        <template pTemplate="body" let-cus="rowData">
                            {{cus.createDate | date:'dd-MM-y'}}
                        </template> 
                    </p-column>
                    <p-column styleClass="text-center" field="" header="Kiểu">
                        <template pTemplate="body" let-cus="rowData">
                            <div [innerHTML]="cus.sourceId | status: 'request'"></div>
                        </template>

    
                    </p-column>
                    <p-column styleClass="text-center col-status" field="status" header="Trạng thái">
                        <template pTemplate="body" let-cus="rowData">
                            <div [innerHTML]="cus.status | status: 'program'"></div>
                        </template>
                    </p-column>
                    <p-column [style]="{'width': '160px'}" styleClass="text-center" header="Chức năng">
                        <template let-cus="rowData" pTemplate="body"> 
                            <!--<button *ngIf="cus.status==1" type="button" (click)="guiDuyet(cus)" pButton label="Gửi"></button>-->
                            <a *ngIf="cus.campaignRequestId != null && cus.sourceId == 1" style="margin-bottom: 5px" type="button" pButton [routerLink]="['/add-request-media-campaign', cus.campaignRequestId]" label="Chi tiết"></a>
                            <a type="button" pButton [routerLink]="['/add-program', cus.id]" label="Địa bàn"></a>
                            <button  *ngIf="cus.status==1 || cus.status == 4" style="width: 25px" type="button" pButton (click)="update(cus)" icon="fa-eye"></button>
                            <button *ngIf="cus.status==1 || cus.status==4" class="ui-button-danger" style="width: 25px" type="button" pButton (click)="delete(cus)" icon="fa-trash-o"></button>
                            
                            
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>
<p-dialog header="{{title}}" [(visible)]="displayForm">
    <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
        <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-3">
                <label>Tên</label>
            </div>
            <div class="ui-g-12 ui-md-9">
                <input type="hidden" pInputText formControlName="id"/>
                <input type="text" pInputText formControlName="name"/>
                <div *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched" class="alert-error">Bạn cần nhập tên</div>
                <div *ngIf="form.controls['name'].hasError('whitespace') && form.controls['name'].touched" class="alert-error">Bạn cần nhập tên</div>
                <div *ngIf="form.controls['name'].hasError('minlength') && form.controls['name'].touched" class="alert-error">Tên cần lớn hơn 3 ký tự</div>
                <div *ngIf="form.controls['name'].hasError('maxlength') && form.controls['name'].touched" class="alert-error">Tên cần nhỏ hơn 250 ký tự</div>
            </div>

           <div class="ui-g-12 ui-md-3">
                <label>Bắt đầu</label>
            </div>
            <div class="ui-g-12 ui-md-9">
                <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" id="showIcon" formControlName="startDate" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
                <div *ngIf="form.controls['startDate'].hasError('required') && form.controls['startDate'].touched" class="alert-error">Bạn cần nhập ngày bắt đầu</div>
            </div>
            <div class="ui-g-12 ui-md-3">
                <label>Kết thúc</label>
            </div>
            <div class="ui-g-12 ui-md-9">
                 <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" id="showIcon" formControlName="endDate" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
                <div *ngIf="form.controls['endDate'].hasError('required') && form.controls['endDate'].touched" class="alert-error">Bạn cần nhập cần nhập ngày kết thúc</div>
            </div>
             <div class="ui-g-12 ui-md-3">
            </div>
            <div class="ui-g-12 ui-md-6">
    
                <button *ngIf="formCreate == true || form.controls['status'].value==4 || form.controls['status'].value == 1" [disabled]="!form.valid" type="submit" pButton icon="fa-check" label="{{title}}" class="ui-button-success"></button>
                <button type="text" (click)="displayForm=false" pButton icon="fa-close" label="Thoát"></button>
            </div>
            <div style="margin-top:250px"></div>
        </div>
    </form>
</p-dialog>

<p-dialog header="Thông báo" [(visible)]="displayDel">
    <p>Bạn có chắc muốn xóa kênh truyền thông?</p>
    <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button class="ui-button-danger" type="button" pButton icon="fa-check" (click)="acceptDel()" label="Đồng ý"></button>
                <button type="button" pButton icon="fa-close" (click)="displayDel=false" label="Thoát"></button>
                
            </div>
        </p-footer>
</p-dialog>