<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Quản lý kênh truyền thông</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
               
                <button *ngIf="user.staffRole != 'TTT'" style="margin-bottom:15px" type="text" (click)="create()" pButton icon="fa-plus" label="Thêm" class="ui-button-success"></button>
                <p-dataTable [value]="items" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" resizableColumns="true">
                    <p-column styleClass="stt" header="STT">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column field="name" header="Tên kênh"></p-column>
                    <p-column field="price" header="Đơn giá mặc định (VNĐ)">
                        <template let-item="rowData" pTemplate="body">
                            {{ item.price |  number: '.0-2'}}
                        </template>
                    </p-column>
                    <p-column field="description" header="Mô tả"></p-column>
                    <p-column styleClass="text-center" header="Chức năng">
                        <template let-item="rowData" pTemplate="body"> 
                            <button type="button" pButton [routerLink]="['/price-media-channel', item.id]" label="Xem giá"></button>
                            <button *ngIf="user.staffRole != 'TTT'"  style="width: 25px" type="button" pButton (click)="update(item)" icon="fa-eye"></button>
                            
                            <button *ngIf="user.staffRole != 'TTT'"  style="width: 25px" type="button" pButton (click)="delete(item)" icon="fa-trash-o" class="ui-button-danger"></button>
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>

<p-dialog header="{{title}}" [(visible)]="displayForm">
    <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
        <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-4">
                <label>Tên kênh <span class="color-red">*</span></label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <input type="hidden" pInputText formControlName="id"/>
                <input type="text" pInputText formControlName="name"/>
                <div *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched" class="alert-error">Bạn cần nhập tên</div>
                <div *ngIf="form.controls['name'].hasError('minlength') && form.controls['name'].touched" class="alert-error">Tên cần lớn hơn 2 ký tự</div>
                <div *ngIf="form.controls['name'].hasError('maxlength') && form.controls['name'].touched" class="alert-error">Tên cần nhỏ hơn 200 ký tự</div>
                <div *ngIf="form.controls['name'].hasError('whitespace') && form.controls['name'].touched" class="alert-error">Tên không được toàn dấu cách</div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <label>Đơn giá mặc định <span class="color-red">*</span></label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <input type="text" pInputText formControlName="price" type="number" step="0.1"/>
                <div *ngIf="form.controls['price'].hasError('required') && form.controls['price'].touched" class="alert-error">Bạn cần nhập giá</div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <label>Mô tả kênh <span class="color-red">*</span></label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <textarea rows="5" cols="40" pInputTextarea formControlName="description"></textarea>
                <div *ngIf="form.controls['description'].hasError('minlength') && form.controls['description'].touched" class="alert-error">Mô tả cần lớn hơn 5 ký tự</div>
                <div *ngIf="form.controls['description'].hasError('maxlength') && form.controls['description'].touched" class="alert-error">Mô tả cần nhỏ hơn 1000 ký tự</div>
                <div *ngIf="form.controls['description'].hasError('whitespace') && form.controls['description'].touched" class="alert-error">Tên không được toàn dấu cách</div>
            </div>
            <div class="ui-g-12 ui-md-4">
            </div>
            <div class="ui-g-12 ui-md-6">
                
                <button [disabled]="!form.valid" type="submit" pButton icon="fa-check" label="{{title}}" class="ui-button-success"></button>
                <button type="text" (click)="displayForm=false" pButton icon="fa-close" label="Thoát"></button>
            </div>
        </div>
    </form>
</p-dialog>
<p-dialog header="Thông báo" [(visible)]="displayDel">
    <p>Bạn có chắc muốn xóa kênh truyền thông?</p>
    <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                
                <button type="button" pButton icon="fa-close" (click)="displayDel=false" label="Thoát"></button>
                <button class="ui-button-danger" type="button" pButton icon="fa-check" (click)="acceptDel()" label="Đồng ý"></button>
            </div>
        </p-footer>
</p-dialog>