<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Thêm kênh truyền thông</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
                <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
                    <div class="ui-g form-group">
                        <div class="ui-g-12 ui-md-2">
                            <label>Tên</label>
                        </div>
                        <div class="ui-g-12 ui-md-10">
                            <input type="hidden" pInputText formControlName="id" />
                            <input type="text" pInputText formControlName="name" />
                            <div *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched" class="alert-error">Bạn cần nhập tên</div>
                            <div *ngIf="form.controls['name'].hasError('minlength') && form.controls['name'].touched" class="alert-error">Tên cần lớn hơn 5 ký tự</div>
                            <div *ngIf="form.controls['name'].hasError('maxlength') && form.controls['name'].touched" class="alert-error">Tên cần nhỏ hơn 50 ký tự</div>
                        </div>
                        
                        <div class="ui-g-12 ui-md-2">
                            <label>Mô tả</label>
                        </div>
                        <div class="ui-g-12 ui-md-10">
                            <textarea rows="5" cols="30" pInputTextarea formControlName="description"></textarea>
                            <div *ngIf="form.controls['description'].hasError('minlength') && form.controls['description'].touched" class="alert-error">Mô tả cần lớn hơn 5 ký tự</div>
                            <div *ngIf="form.controls['description'].hasError('maxlength') && form.controls['description'].touched" class="alert-error">Mô tả cần nhỏ hơn 1000 ký tự</div>
                        </div>
                        
                        <div class="ui-g-12 ui-md-2">
                        </div>
                        <div class="ui-g-12 ui-md-10">
                            <button class="ui-button-success" [disabled]="!form.valid" type="submit" pButton icon="fa-check" label="Thêm"></button>
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
                <div class="ui-g-12 ui-md-2">
                    <label>Chọn từ file</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    <p-fileUpload name="file" (onBeforeUpload)="onBeforeUpload($event)" url="{{api}}bdkhtarget/uploadfile"
                        (onUpload)="onUpload($event)"></p-fileUpload>

                </div>
                <div class="ui-g-12 ui-md-12">
					<div class="toolbox">
						<div class="filter fsearch">
							<label>Tìm kiếm</label>
							<div class="ui-g">
								<input placeholder="tên, chỉ tiêu" #gb type="text" pInputText>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<p-dataTable [value]="items" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
						<p-column field="shopName" header="Mã siêu thị"></p-column>
						<p-column field="targetNumber" header="Giá(VNĐ)">
							<template let-item="rowData" pTemplate="body">
								{{ item.targetNumber|  number: '.0-2'}}
							</template>
						</p-column>
					</p-dataTable>
				</div>
				<div class="ui-g-12 ui-md-2">
				</div>
				<div class="ui-g-12 ui-md-10">
					<button class="ui-button-success" type="button" pButton icon="fa-check" label="Hoàn thành"></button>
				</div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>