<div class="ui-fluid">
	<div class="ui-g">
		<div class="ui-g-12">
			<div class="card card-w-title" style="height: 2500px">
				<h1>Xem chi tiết chiến dịch</h1>
				<p-growl [value]="mes"></p-growl>
				<loading-overlay [isLoading]="isLoading"></loading-overlay>
				<form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
					<div class="ui-g form-group">
						<div class="ui-g-12 ui-md-2">
							<label>Tên</label>
						</div>
						<div class="ui-g-12 ui-md-10">
							{{form.controls['name'].value}}
						</div>

						<div class="fullWidth" *ngIf="form.controls['code'].value != null">
							<div class="ui-g-12 ui-md-2">
								<label>Mã chiến dịch</label>
							</div>
							<div class="ui-g-12 ui-md-10">
								{{form.controls['code'].value}}
							</div>
						</div>


					

						<div class="ui-g-12 ui-md-2">
							<label>Thời gian</label>
						</div>
						<div class="ui-g-12 ui-md-10">
							{{form.controls['startDate'].value | date:'dd-MM-y'}} đến
							{{form.controls['endDate'].value | date:'dd-MM-y'}}
						</div>
						
						<div class="fullWidth" *ngIf="form.controls['surveyId'].value != null">
							<div class="ui-g-12 ui-md-2">
								<label>Survey</label>
							</div>
							<div class="ui-g-12 ui-md-10">
								<a [routerLink]= "['/fill-survey',form.controls['surveyId'].value]" pButton label="Xem" class="ui-button-success"></a>
							</div>
						</div>


						<div class="ui-g-12 ui-md-2">
							<label>Giới tính</label>
						</div>
						<div class="ui-g-12 ui-md-10">
							{{form.controls['gender'].value | status : 'gender'}}
						</div>

						<div class="fullWidth" *ngIf="form.controls['fromAge'].value != null || form.controls['toAge'].value != null">

							<div class="ui-g-12 ui-md-2">
								<label>Độ tuổi</label>
							</div>
							<div class="ui-g-12 ui-md-10">
								{{form.controls['fromAge'].value}} đến {{form.controls['toAge'].value}}
							</div>
						</div>
						<div class="fullWidth" *ngIf="form.controls['fromTransDate'].value != null || form.controls['toTransDate'].value != null">

							<div  class="ui-g-12 ui-md-2">
								<label>Thời gian mua</label>
							</div>
							<div class="ui-g-12 ui-md-10">
								{{form.controls['fromTransDate'].value | date:'dd-MM-y'}} đến
								{{form.controls['toTransDate'].value | date:'dd-MM-y'}}
							</div>
							
							
						</div>
						<div class="fullWidth" *ngIf="form.controls['fromTime'].value != null || form.controls['toTime'].value != null">
							<div class="ui-g-12 ui-md-2">
								<label>Lần mua</label>
							</div>
							<div class="ui-g-12 ui-md-10">
								{{form.controls['fromTime'].value}} đến {{form.controls['toTime'].value}}
							</div>
						</div>
						
						<div class="fullWidth" *ngIf="form.controls['fromAmount'].value != null || form.controls['toAmount'].value != null">
							<div class="ui-g-12 ui-md-2">
								<label>Tiền mua</label>
							</div>
							<div class="ui-g-12 ui-md-10">
								{{ form.controls['fromAmount'].value | number: '.0-2'}} VNĐ đến {{form.controls['toAmount'].value | number: '.0-2'}}VNĐ
							</div>
						</div>

						<div class="fullWidth" *ngIf="form.controls['description'].value != null">
							<div class="ui-g-12 ui-md-2">
								<label>Mô tả</label>
							</div>
							<div class="ui-g-12 ui-md-10">
								{{form.controls['description'].value}}
							</div>
						</div>

						<div class="ui-g-12 ui-md-2">
							<label>Trạng thái</label>
						</div>
						<div class="ui-g-12 ui-md-10">
							<div style="width: 150px" [innerHTML]="form.controls['status'].value | status: 'campaign'"></div>
			
						</div>

						<div class="fullWidth" *ngIf="form.controls['note'].value != null">
							<div class="ui-g-12 ui-md-2">
								<label>Ghi chú</label>
							</div>
							<div class="ui-g-12 ui-md-10">
								{{form.controls['note'].value}}
							</div>
						</div>
						<div *ngIf="goods != null" class="ui-g-12 ui-md-12">
							<div style="float: left; font-size: 20px; margin-top: 20px;">Mặt hàng</div>
							<div class="toolbox">
								
								<div class="filter fsearch">
									<label>Tìm kiếm</label>
									<div class="ui-g">
										<input placeholder="tên" #gbbb type="text" pInputText>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
							<p-dataTable [value]="goods" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gbbb"
											#dttt>
								<p-column header="STT" styleClass="stt">
									<template let-rowIndex="rowIndex" pTemplate="rowexpansion">
										{{rowIndex + 1}}
									</template>
								</p-column>
								<p-column field="goodsCode" header="Mã mặt hàng"></p-column>
								<p-column field="name" header="Tên mặt hàng"></p-column>
							</p-dataTable>
						</div>

						<div *ngIf="user.staffRole == 'NVTT' || user.staffRole == 'TTT'" class="ui-g-12 ui-md-12">
							<div style="float: left; font-size: 20px; margin-top: 20px;">Siêu thị</div>
							<div class="toolbox">
								
								<div class="filter fsearch">
									<label>Tìm kiếm</label>
									<div class="ui-g">
										<input placeholder="tên" #gb type="text" pInputText>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
							<p-dataTable [value]="cshops" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb"
											#dt>
								<p-column header="STT" styleClass="stt">
									<template let-rowIndex="rowIndex" pTemplate="rowexpansion">
										{{rowIndex + 1}}
									</template>
								</p-column>
								<p-column field="shopCode" header="Mã siêu thị"></p-column>
								<p-column field="shopName" header="Tên siêu thị"></p-column>
								<p-column field="customerNumber" header="Số khách"></p-column>
							</p-dataTable>
						</div>
						<div *ngIf="user.staffRole == 'NVTT' || user.staffRole == 'TTT'" class="ui-g-12 ui-md-12">
							<a (click)="loadCustomers()" class="ui-button-success" pButton icon="fa-check" label="Xem danh sách khách hàng"></a>
						</div>
						<div class="ui-g-12 ui-md-12" *ngIf="customers.length != 0">
							<div style="float: left; font-size: 20px; margin-top: 20px;">Khách hàng</div>
							<div class="toolbox">
								<div class="filter fsearch">
									<label>Tìm kiếm</label>
									<div class="ui-g">
										<input placeholder="tên" #gbb type="text" pInputText>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
							<p-dataTable [value]="customers" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gbb"
											#dtt>
								<p-column header="STT" styleClass="stt">
									<template let-rowIndex="rowIndex" pTemplate="rowexpansion">
										{{rowIndex + 1}}
									</template>
								</p-column>
								<p-column field="cusName" header="Tên khách hàng">
									<template pTemplate="body" let-cus="rowData">
										<a *ngIf="cus.cusMobile != null && cus.cusMobile != 0" style="cursor: pointer; color: #2399e5" (click)="viewCustomer(cus.cusMobile)">{{cus.cusName}}</a>
										<a *ngIf="cus.cusMobile == null || cus.cusMobile == 0">{{cus.cusName}}</a>
									</template>
								</p-column>
								<p-column field="cusMobile" header="Số điện thoại"></p-column>
								<p-column field="cusAddress" header="Địa chỉ"></p-column>
							</p-dataTable>
						</div>
						<div class="ui-g-12 ui-md-2">
						</div>
						<div class="ui-g-12 ui-md-10" *ngIf="user.staffRole == 'TTT' && form.controls['status'].value == 2">
							<button (click)="Duyet()" class="ui-button-success" type="button" pButton icon="fa-check" label="Duyệt"></button>
							<button (click)="Tuchoi()" class="ui-button-danger" type="button" pButton icon="fa-check" label="Từ chối"></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<p-dialog header="Từ chối" [(visible)]="displayForm">
	<form (ngSubmit)="onSubmitTuchoi(formTuchoi.value)" [formGroup]="formTuchoi">
		<div class="ui-g form-group">
			<div class="ui-g-12 ui-md-12">
				<label>Lý do từ chối</label>
			</div>
			<div class="ui-g-12 ui-md-12">
				<input type="hidden" pInputText formControlName="id" />
				<textarea rows="5" cols="60" pInputTextarea formControlName="note"></textarea>
			</div>
			<div class="ui-g-12 ui-md-2">
			</div>
			<div class="ui-g-12 ui-md-10">
				<button class="ui-button-success" [disabled]="!formTuchoi.valid" type="submit" pButton icon="fa-check" label="Từ chối"></button>
				<button type="text" (click)="displayForm=false" pButton icon="fa-close" label="Thoát"></button>
			</div>
		</div>
	</form>
</p-dialog>

<p-dialog header="Duyệt" [(visible)]="displayFormDuyet">
	<form (ngSubmit)="onSubmitDuyet(formDuyet.value)" [formGroup]="formDuyet">
		<div class="ui-g form-group">
			<div class="ui-g-12 ui-md-12">
				<label>Ghi chú</label>
			</div>
			<div class="ui-g-12 ui-md-12">
				<input type="hidden" pInputText formControlName="id" />
				<textarea rows="5" cols="60" pInputTextarea formControlName="note"></textarea>
			</div>
			<div class="ui-g-12 ui-md-2">
			</div>
			<div class="ui-g-12 ui-md-10">
				<button class="ui-button-success" [disabled]="!formDuyet.valid" type="submit" pButton icon="fa-check" label="Duyệt"></button>
				<button type="text" (click)="displayFormDuyet=false" pButton icon="fa-close" label="Thoát"></button>
			</div>
		</div>
	</form>
</p-dialog>


<p-dialog header="Thông tin khách hàng" [(visible)]="displayCustomer">
    
    <p-tabView>
        <p-tabPanel header="Thông tin khách hàng">
            <p-messages [value]="msgs"></p-messages>
            <loading-overlay [isLoading]="isLoading"></loading-overlay>
            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Họ tên</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    {{customer.cusName}}
                </div>
                
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Ngày sinh</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    {{customer.cusBirthday | date:'dd-MM-y'}}
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Giới tính</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    {{customer.cusGender | status : 'gender'}}
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="input">SĐT</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    {{customer.cusMobile}}
                </div>

                <div class="ui-g-12 ui-md-2">
                    <label for="input">Địa chỉ</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    {{customer.cusAddress}}
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Nghề nghiệp</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    {{customer.cusWork}}
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Lịch sử giao dịch">
            <div class="toolbox">
                <div class="filter fsearch">
                    <label>Từ khóa</label>
                    <div class="ui-g">
                        <input #gb type="text" pInputText>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <p-dataTable [value]="transactions" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                <p-column header="STT" styleClass="stt">
					<template let-rowIndex="rowIndex" pTemplate="rowexpansion">
						{{rowIndex + 1}}
					</template>
				</p-column>
				<p-column field="goodsCode" header="Mã mặt hàng"></p-column>
				<p-column field="goodsName" header="Tên mặt hàng"></p-column>
				<p-column field="goodsGroupName" header="Tên nhóm"></p-column>
				<p-column field="custPrice" header="Giá (VNĐ)">
					<template let-cus="rowData" pTemplate="body">
						{{ cus.custPrice |  number: '.0-2'}}
					</template>
				</p-column>
				<p-column field="transDate" header="Ngày">
					<template pTemplate="body" let-cus="rowData">
						{{cus.transDate | date:'dd-MM-y'}}
					</template>
				</p-column>
            </p-dataTable>
        </p-tabPanel>
        <p-tabPanel header="Lịch sử bảo hành">
            <div class="toolbox">
                <div class="filter fsearch">
                    <label>Từ khóa</label>
                    <div class="ui-g">
                        <input #gb type="text" pInputText>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <p-dataTable [value]="warrantys" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                <p-column header="STT" styleClass="stt">
                    <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                        {{rowIndex + 1}}
                    </template>
                </p-column>
                <p-column field="goodsCode" header="Mã bảo hành"></p-column>
                <p-column field="khachhangHoten" header="Khách hàng"></p-column>
                <p-column field="khachhangDiachi" header="Địa chỉ"></p-column>
                <p-column field="goodsCode" header="Mã bảo hành"></p-column>
                <p-column field="goodsThanhphan" header="Thành phần"></p-column>
                <p-column field="goodsTrangthai" header="Trạng thái"></p-column>
                <p-column field="txdate" header="Ngày bảo hành">
                    <template pTemplate="body" let-cus="rowData">
                        {{cus.txdate | date:'dd-MM-y'}}
                    </template>
                </p-column>
            </p-dataTable>
        </p-tabPanel>
    </p-tabView>

</p-dialog>
<p-dialog header="Chi tiết giao dịch" [(visible)]="displayFormTD">
    <div class="toolbox">
        <div class="filter fsearch">
            <label>Từ khóa</label>
            <div class="ui-g">
                <input #gbb type="text" pInputText>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <p-dataTable [value]="transaction_details" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gbb" #dt>
        <p-column header="STT" styleClass="stt">
            <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                {{rowIndex + 1}}
            </template>
        </p-column>
        <p-column field="goodsName" header="Mặt hàng"></p-column>
        <p-column field="goodsCode" header="Mã sản phẩm"></p-column>
        <p-column field="transDate" header="Ngày mua">
            <template pTemplate="body" let-cus="rowData">
                {{cus.transDate | date:'dd-MM-y'}}
            </template>
        </p-column>
        
        <p-column field="custPrice" header="Giá (VNĐ)">
            <template pTemplate="body" let-cus="rowData">
                {{ cus.custPrice |  number: '.0-2'}}
            </template>
        </p-column>
    </p-dataTable>
</p-dialog> 