<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Cập nhập kết quả chăm sóc</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
            
               <div class="toolbox"> 
                    <div class="filter fsearch">
                        <label>Từ khóa</label>
                        <div class="ui-g">
                            <input placeholder="" #gb type="text" pInputText>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <p-dataTable [value]="items" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                    <p-column styleClass="stt" header="STT">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column field="cusName" header="Khách hàng">
                        <template pTemplate="body" let-cus="rowData">
                            <a *ngIf="cus.cusMobile != null && cus.cusMobile != 0" style="cursor: pointer; color: #2399e5" (click)="viewCustomer(cus.cusMobile)">{{cus.cusName}}</a>
                            <a *ngIf="cus.cusMobile == null || cus.cusMobile == 0">{{cus.cusName}}</a>
                        </template>
                    </p-column>
                    <p-column field="cusMobile" header="SĐT"></p-column>
                    <p-column field="cusAddress" header="Địa chỉ"></p-column>

                    <p-column field="updateDate" header="Ngày cập nhập">
                        <template pTemplate="body" let-cus="rowData">
                            <div *ngIf="cus.careStatus >=6">{{cus.updateDate | date:'dd-MM-y'}}</div>
                        </template>
                    </p-column>
                    <p-column field="careContent" header="Nội dung"></p-column>
                    <p-column field="careResult" header="Kết quả"></p-column>
                    <p-column field="cusCareMethodId" header="Hình thức">
                        <template pTemplate="body" let-cus="rowData">
                            {{ cus.cusCareMethodId | status: 'careMethod' }}
                        </template>
                    </p-column>
                    <p-column field="note" header="Ghi chú"></p-column>
                    <p-column styleClass="text-center" field="careStatus" header="Trạng thái">
                        <template pTemplate="body" let-cus="rowData">
                            <div [innerHTML]="cus.careStatus | status: 'campaignstaff'"></div>
                        </template>
                    </p-column>
                    <p-column styleClass="text-center" header="Chức năng">
                        <template let-item="rowData" pTemplate="body">
                            
                            <!--<button *ngIf="item.careStatus == null" type="button" (click) ="viewCustomer(cus.item.customerId)" pButton label="Chăm sóc"></button>-->
                            <button *ngIf="item.campaignStatus != 6 && item.careStatus == null" type="button" (click) ="update(item)" pButton label="Chăm sóc"></button>
                            <button *ngIf="item.campaignStatus != 6 && item.careStatus == null" type="button" (click) ="updatenot(item)" class="ui-button-danger" pButton label="Không CS"></button>
                        </template>
                    </p-column>
                </p-dataTable>
  
            </div>
        </div>
    </div>
</div>
<p-dialog header="Thông tin khách hàng" [(visible)]="displayCustomer">
    
    <p-tabView>
        <p-tabPanel header="Thông tin khách hàng">
            <p-messages [value]="msgs"></p-messages>
            <loading-overlay [isLoading]="isLoading"></loading-overlay>
            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Họ tên</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    {{customer.cusName}}
                </div>
                
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Ngày sinh</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    {{customer.cusBirthday | date:'dd-MM-y'}}
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Giới tính</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    {{customer.cusGender | status : 'gender'}}
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="input">SĐT</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    {{customer.cusMobile}}
                </div>

                <div class="ui-g-12 ui-md-2">
                    <label for="input">Địa chỉ</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    {{customer.cusAddress}}
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Nghề nghiệp</label>
                </div>
                <div class="ui-g-12 ui-md-10">
                    {{customer.cusWork}}
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Lịch sử giao dịch">
            <div class="toolbox">
                <div class="filter fsearch">
                    <label>Từ khóa</label>
                    <div class="ui-g">
                        <input #gb type="text" pInputText>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <p-dataTable [value]="transactions" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                <p-column header="STT" styleClass="stt">
                    <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                        {{rowIndex + 1}}
                    </template>
                </p-column>
                <p-column field="goodsCode" header="Mã mặt hàng"></p-column>
                <p-column field="goodsName" header="Tên mặt hàng"></p-column>
                <p-column field="goodsGroupName" header="Tên nhóm"></p-column>
                <p-column field="custPrice" header="Giá (VNĐ)">
                    <template let-cus="rowData" pTemplate="body">
                        {{ cus.custPrice |  number: '.0-2'}}
                    </template>
                </p-column>
                <p-column field="transDate" header="Ngày">
                    <template pTemplate="body" let-cus="rowData">
                        {{cus.transDate | date:'dd-MM-y'}}
                    </template>
                </p-column>
            </p-dataTable>
        </p-tabPanel>
        <p-tabPanel header="Lịch sử bảo hành">
            <div class="toolbox">
                <div class="filter fsearch">
                    <label>Từ khóa</label>
                    <div class="ui-g">
                        <input #gb type="text" pInputText>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <p-dataTable [value]="warrantys" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                <p-column header="STT" styleClass="stt">
                    <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                        {{rowIndex + 1}}
                    </template>
                </p-column>
                <p-column field="goodsCode" header="Mã bảo hành"></p-column>
                <p-column field="khachhangHoten" header="Khách hàng"></p-column>
                <p-column field="khachhangDiachi" header="Địa chỉ"></p-column>
                <p-column field="goodsCode" header="Mã bảo hành"></p-column>
                <p-column field="goodsThanhphan" header="Thành phần"></p-column>
                <p-column field="goodsTrangthai" header="Trạng thái"></p-column>
                <p-column field="txdate" header="Ngày bảo hành">
                    <template pTemplate="body" let-cus="rowData">
                        {{cus.txdate | date:'dd-MM-y'}}
                    </template>
                </p-column>
            </p-dataTable>
        </p-tabPanel>
    </p-tabView>

</p-dialog>


<p-dialog header="Cập nhập kết quả" [(visible)]="displayForm">
    <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
        <div class="ui-g form-group">
            <input type="hidden" pInputText formControlName="id"/>
            <div class="ui-g-12 ui-md-3 ui-xs-12">
                <label>Nội dung *</label>
            </div>
            <div class="ui-g-12 ui-md-9 ui-xs-12">
                <input type="text" pInputText formControlName="careContent"/>
                <div *ngIf="form.controls['careContent'].hasError('required') && form.controls['careContent'].touched" class="alert-error">Bạn cần nhập nội dung</div>
                <div *ngIf="form.controls['careContent'].hasError('minlength') && form.controls['careContent'].touched" class="alert-error">Tên cần lớn hơn 5 ký tự</div>
                <div *ngIf="form.controls['careContent'].hasError('maxlength') && form.controls['careContent'].touched" class="alert-error">Tên cần nhỏ hơn 1000 ký tự</div>
            </div>
            <div class="ui-g-12 ui-md-3 ui-xs-12">
                <label>Hình thức</label>
            </div>
            <div class="ui-g-12 ui-md-9 ui-xs-12">
                <p-dropdown [options]="hinhthucs" formControlName="cusCareMethodId" [style]="{'width':'100%'}" [autoWidth]="false"></p-dropdown>
                <div *ngIf="form.controls['cusCareMethodId'].hasError('required') && form.controls['cusCareMethodId'].touched" class="alert-error">Bạn cần chọn hình thức</div>
            </div>
            <div class="ui-g-12 ui-md-3 ui-xs-12">
                <label>Kết quả *</label>
            </div>
            <div class="ui-g-12 ui-md-9 ui-xs-12">
                <input type="text" pInputText formControlName="careResult"/>
                <div *ngIf="form.controls['careResult'].hasError('required') && form.controls['careResult'].touched" class="alert-error">Bạn cần nhập kết quả</div>
                <div *ngIf="form.controls['careResult'].hasError('minlength') && form.controls['careResult'].touched" class="alert-error">Tên cần lớn hơn 5 ký tự</div>
                <div *ngIf="form.controls['careResult'].hasError('maxlength') && form.controls['careResult'].touched" class="alert-error">Tên cần nhỏ hơn 1000 ký tự</div>
            </div>
            
            <div class="ui-g-12 ui-md-3">
            </div>
            <div class="ui-g-12 ui-md-6">
                <button [disabled]="!form.valid" class="ui-button-success" type="submit" pButton icon="fa-check" label="Cập nhập"></button>
            </div>
        </div>
    </form>
    
</p-dialog>

<p-dialog header="Không thành công" [(visible)]="displayFormnot">
    <form (ngSubmit)="onSubmitnot(formnot.value)" [formGroup]="formnot">
        <div class="ui-g form-group">
            <input type="hidden" pInputText formControlName="id"/>
            <div class="ui-g-12 ui-md-12 ui-xs-12">
                <label>Nguyên nhân *</label>
            </div>
            <div class="ui-g-12 ui-md-12 ui-xs-12">
                <p-dropdown [options]="lydos" formControlName="careStatus" [style]="{'width':'100%'}" [autoWidth]="false"></p-dropdown>
            </div>

            <div class="ui-g-12 ui-md-12 ui-xs-12">
                <label>Ghi chú</label>
            </div>
            <div class="ui-g-12 ui-md-12 ui-xs-12">
                 <textarea rows="5" cols="60" pInputTextarea formControlName="note"></textarea>
            </div>
            <div class="ui-g-12 ui-md-3">
            </div>
            <div class="ui-g-12 ui-md-6">
                <button [disabled]="!formnot.valid" class="ui-button-success" type="submit" pButton icon="fa-check" label="Cập nhập"></button>
                <button type="button" (click)="displayFormnot = false" pButton icon="fa-close" label="Hủy"></button>
            </div>
        </div>
        <div style="margin-bottom: 100px"></div>
    </form>
</p-dialog>


<p-dialog header="Chi tiết giao dịch" [(visible)]="displayFormTD">
    <div class="toolbox">
        <div class="filter fsearch">
            <label>Từ khóa</label>
            <div class="ui-g">
                <input #gbb type="text" pInputText>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <p-dataTable [value]="transaction_details" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gbb" #dt>
        <p-column header="STT" styleClass="stt">
            <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                {{rowIndex + 1}}
            </template>
        </p-column>
        <p-column field="goodsName" header="Mặt hàng"></p-column>
        <p-column field="goodsCode" header="Mã sản phẩm"></p-column>
        <p-column field="transDate" header="Ngày mua">
            <template pTemplate="body" let-cus="rowData">
                {{cus.transDate | date:'dd-MM-y'}}
            </template>
        </p-column>
        
        <p-column field="custPrice" header="Giá (VNĐ)">
            <template pTemplate="body" let-cus="rowData">
                {{ cus.custPrice |  number: '.0-2'}}
            </template>
        </p-column>
    </p-dataTable>
</p-dialog> 