<div class="ui-fluid">
	<div class="ui-g">
		<div class="ui-g-12">
			<div class="card card-w-title">
				<h1>Câu hỏi</h1>
				<p-growl [value]="mes"></p-growl>
				<loading-overlay [isLoading]="isLoading"></loading-overlay>
				<button *ngIf="user.staffRole == 'NVTT'" class="ui-button-success" style="margin-top:15px; float:left" type="text" (click)="create()" pButton icon="fa-plus"label="Thêm"></button>
				<div class="toolbox">
					<div class="filter fsearch">
						<label>Từ khóa</label>
						<div class="ui-g">
							<input #gb type="text" pInputText>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<p-dataTable [value]="items" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb"
								#dt>
					<p-column header="STT" styleClass="stt">
						<template let-rowIndex="rowIndex" pTemplate="rowexpansion">
							{{rowIndex + 1}}
						</template>
					</p-column>
					<p-column field="questionText" header="Nội dung"></p-column>
					<p-column field="responseText" header="Câu trả lời">
						<template let-item="rowData" pTemplate="body">
							<a class="ui-button-success" *ngIf="item.questionType != 1 && item.status == 1 && user.staffRole == 'NVTT'" style="width: 25px; float:right" pButton (click)="createAnswer(item.id)" icon="fa-plus"></a>
							<div class="clearfix"></div>
							<div *ngFor="let answer of item.answers; let i = index;">
								{{(i + 1) + '. ' +answer.responseText}} 
								
								<!--<button class="ui-button-danger" style="width: 25px; float:right" type="button" pButton (click)="deleteAnswer(answer)" icon="fa-trash-o"></button>
								<button style="width: 25px; float:right" type="button" pButton (click)="updateAnswer(answer)" icon="fa-edit"></button>
								<div class="clearfix"></div>-->
							</div>
						</template>
					</p-column>
					<p-column field="questionType" styleClass="text-center" header="Kiểu">
						<template let-item="rowData" pTemplate="body">
							{{ item.questionType | status: 'question' }}
						</template>
					</p-column>
					<p-column field="description" header="Mô tả"></p-column>
					
					<p-column *ngIf="user.staffRole == 'NVTT'" styleClass="text-center" header="Chức năng" [style]="{'width':'200px'}">
						<template let-item="rowData" pTemplate="body">
							
							<button *ngIf="item.status == 1" style="width: 25px" type="button" pButton (click)="update(item)" icon="fa-eye"></button>
							<button *ngIf="item.status == 1" class="ui-button-danger" style="width: 25px" type="button" pButton (click)="delete(item)" icon="fa-trash-o"></button>
						</template>
					</p-column>
				</p-dataTable>
			</div>
		</div>
	</div>
</div>
<p-dialog header="{{title}}" [(visible)]="displayForm">
	<form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
		<div class="ui-g form-group">
			<input type="hidden" pInputText formControlName="id" />
			
			<div class="ui-g-12 ui-md-12">
				<label>Câu hỏi <span class="color-red">*</span></label>
			</div>
			<div class="ui-g-12 ui-md-12">
				
				<textarea cols="60" rows="5" pInputTextarea formControlName="questionText"></textarea>
				<div *ngIf="form.controls['questionText'].hasError('required') && form.controls['questionText'].touched" class="alert-error">Bạn cần nhập câu hỏi</div>
				<div *ngIf="form.controls['questionText'].hasError('minlength') && form.controls['questionText'].touched" class="alert-error">Câu hỏi cần lớn hơn 3 ký tự</div>
				<div *ngIf="form.controls['questionText'].hasError('maxlength') && form.controls['questionText'].touched" class="alert-error">Cần nhỏ hơn 200 ký tự</div>
			</div>
			<div class="ui-g-12 ui-md-2">
				<label>Kiểu <span class="color-red">*</span></label>
			</div>
			<div class="ui-g-12 ui-md-10">
				<p-dropdown [options]="types" formControlName="questionType" [style]="{'width':'100%'}" [autoWidth]="false"></p-dropdown>
			</div>
			<div class="ui-g-12 ui-md-12">
				<label>Mô tả <span class="color-red">*</span></label>
			</div>
			<div class="ui-g-12 ui-md-12">
				
				<textarea cols="60" rows="5" pInputTextarea formControlName="description"></textarea>
				<div *ngIf="form.controls['description'].hasError('minlength') && form.controls['description'].touched" class="alert-error">Cần lớn hơn 3 ký tự</div>
				<div *ngIf="form.controls['description'].hasError('maxlength') && form.controls['description'].touched" class="alert-error">Cần nhỏ hơn 200 ký tự</div>
			</div>
			
			<div class="ui-g-12 ui-md-2">
			
			</div>
			<div class="ui-g-12 ui-md-10">
				<button class="ui-button-success" [disabled]="!form.valid" type="submit" pButton icon="fa-check" label="{{title}}"></button>
				<button type="text" (click)="displayForm=false" pButton icon="fa-close" label="Thoát"></button>
			</div>
		</div>
	</form>
</p-dialog>

<p-dialog header="Thông báo" [(visible)]="displayDel">
    <p>Bạn có chắc muốn xóa câu hỏi?</p>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="displayDel=false" label="Thoát"></button>
            <button class="ui-button-danger" type="button" pButton icon="fa-check" (click)="acceptDel()" label="Đồng ý"></button>
        </div>
    </p-footer>
</p-dialog>



<p-dialog header="{{titleAnswer}}" [(visible)]="displayFormAnswer">
    <form (ngSubmit)="onSubmitAnswer(formAnswer.value)" [formGroup]="formAnswer">
        <div class="ui-g form-group">
            <input type="hidden" pInputText formControlName="id" />
            <div class="ui-g-12 ui-md-12">
                <label>Câu trả lời <span class="color-red">*</span></label>
            </div>
            <div class="ui-g-12 ui-md-12">
                <textarea cols="60" rows="10" pInputTextarea formControlName="responseText"></textarea>
                <div *ngIf="formAnswer.controls['responseText'].hasError('required') && formAnswer.controls['responseText'].touched" class="alert-error">Không được để trống</div>
                <div *ngIf="formAnswer.controls['responseText'].hasError('minlength') && formAnswer.controls['responseText'].touched" class="alert-error">Nội dung cần lớn hơn 3 ký tự</div>
                <div *ngIf="formAnswer.controls['responseText'].hasError('maxlength') && formAnswer.controls['responseText'].touched" class="alert-error">Nội dung cần nhỏ hơn 200 ký tự</div>
            </div>
            <div class="ui-g-12 ui-md-2">
            </div>
            <div class="ui-g-12 ui-md-10">
                <button class="ui-button-success" [disabled]="!formAnswer.valid" type="submit" pButton icon="fa-check" label="{{titleAnswer}}"></button>
                <button type="text" (click)="displayFormAnswer=false" pButton icon="fa-close" label="Thoát"></button>
            </div>
        </div>
    </form>
</p-dialog>
<p-dialog header="Thông báo" [(visible)]="displayDelAnswer">
    <p>Bạn có chắc muốn xóa câu trả lời?</p>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="displayDelAnswer=false" label="Thoát"></button>
            <button class="ui-button-danger" type="button" pButton icon="fa-check" (click)="acceptDelAnswer()" label="Đồng ý"></button>
        </div>
    </p-footer>
</p-dialog>