<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Thông tin khách hàng</h1>
                <p-tabView>
                    <p-tabPanel header="Thông tin khách hàng">
                        <p-messages [value]="msgs"></p-messages>
                        <loading-overlay [isLoading]="isLoading"></loading-overlay>
                        <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
                            <div class="ui-g form-group">
                                <div class="ui-g-12 ui-md-2">
                                    <label for="input">Họ tên</label>
                                </div>
                                <div class="ui-g-12 ui-md-10">
                                    {{customer.name}}
                                </div>
                                
                                <div class="ui-g-12 ui-md-2">
                                    <label for="input">Ngày sinh</label>
                                </div>
                                <div class="ui-g-12 ui-md-10">
                                    {{customer.birthday | date:'dd-MM-y'}}
                                </div>
                                <div class="ui-g-12 ui-md-2">
                                    <label for="input">Giới tính</label>
                                </div>
                                <div class="ui-g-12 ui-md-10">
                                    {{customer.gender | status : 'gender'}}
                                </div>
                                <div class="ui-g-12 ui-md-2">
                                    <label for="input">SĐT</label>
                                </div>
                                <div class="ui-g-12 ui-md-10">
                                    {{customer.mobile}}
                                </div>
                                <div class="ui-g-12 ui-md-2">
                                    <label for="input">CMTND</label>
                                </div>
                                <div class="ui-g-12 ui-md-10">
                                    {{customer.idNo}}
                                </div>
                                <div class="ui-g-12 ui-md-2">
                                    <label for="input">Địa chỉ</label>
                                </div>
                                <div class="ui-g-12 ui-md-10">
                                    {{customer.address}}
                                </div>
                                <div class="ui-g-12 ui-md-2">
                                    <label for="input">Nghề nghiệp</label>
                                </div>
                                <div class="ui-g-12 ui-md-10">
                                    {{customer.job}}
                                </div>
                                <div class="ui-g-12 ui-md-2">
                                    <label for="input">Thu nhập</label>
                                </div>
                                <div class="ui-g-12 ui-md-10">
                                    {{customer.income}}
                                </div>
                            </div>
                        </form>
                    </p-tabPanel>
                    <p-tabPanel header="Lịch sử giao dịch">
                        <div class="toolbox">
                            <div class="filter fsearch">
                                <label>Từ khóa</label>
                                <div class="ui-g">
                                    <input #gb type="text" pInputText>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <p-dataTable [value]="transactions" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                            <p-column header="STT" styleClass="stt">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template>
                            </p-column>
                            <p-column field="goodsCode" header="Mã mặt hàng"></p-column>
                            <p-column field="goodsName" header="Tên mặt hàng"></p-column>
                            <p-column field="goodsGroupName" header="Tên nhóm"></p-column>
                            <p-column field="custPrice" header="Giá (VNĐ)">
                                <template let-cus="rowData" pTemplate="body">
                                    {{ cus.custPrice |  number: '.0-2'}}
                                </template>
                            </p-column>
                            <p-column field="transDate" header="Ngày">
                                <template pTemplate="body" let-cus="rowData">
                                    {{cus.transDate | date:'dd-MM-y'}}
                                </template>
                            </p-column>
                            
                            <!--<p-column field="amount" header="Tiền (VNĐ)">
                                <template pTemplate="body" let-cus="rowData">
                                    {{ cus.amount|  number: '.0-2'}}
                                </template>
                            </p-column>-->
                            <!--<p-column styleClass="text-center" header="Chức năng">
                                <template let-cus="rowData" pTemplate="body">
                                   <button style="width: 25px" type="button" pButton (click)="view(cus.id)" icon="fa-eye"></button>
                                </template>
                            </p-column>-->
                        </p-dataTable>
                    </p-tabPanel>
                    <p-tabPanel header="Lịch sử bảo hành">
                        <div class="toolbox">
                            <div class="filter fsearch">
                                <label>Từ khóa</label>
                                <div class="ui-g">
                                    <input #gb type="text" pInputText>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <p-dataTable [value]="warrantys" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                            <p-column header="STT" styleClass="stt">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template>
                            </p-column>
                            <p-column field="goodsCode" header="Mã bảo hành"></p-column>
                            <p-column field="khachhangHoten" header="Khách hàng"></p-column>
                             <p-column field="khachhangDiachi" header="Địa chỉ"></p-column>
                            <p-column field="goodsCode" header="Mã bảo hành"></p-column>
                            <p-column field="goodsThanhphan" header="Thành phần"></p-column>
                            <p-column field="goodsTrangthai" header="Trạng thái"></p-column>
                            <p-column field="txdate" header="Ngày bảo hành">
                                <template pTemplate="body" let-cus="rowData">
                                    {{cus.txdate | date:'dd-MM-y'}}
                                </template>
                            </p-column>
                            <!--<p-column field="goodsTrangthai" header="Trạng thái"></p-column>-->
                            <!--<p-column [style]="{'width': '200px'}" styleClass="text-center" header="Chức năng">
                                <template let-cus="rowData" pTemplate="body">
                                    <a *ngIf="cus.status != 1" type="button" pButton [routerLink]="['/target-result', cus.id]" label="Kết quả"></a>
                                    <a *ngIf="cus.status == 1" style="width: 25px" type="button" pButton [routerLink]="['/add-shop-target', cus.id]" icon="fa-home"></a>
                                    <div *ngIf="user.staffRole == 'NVTT' && cus.status == 1" style="display: inline">
                                        <button style="width: 25px" type="button" pButton (click)="update(cus)" icon="fa-eye"></button>
                                        <button class="ui-button-danger" style="width: 25px" type="button" pButton (click)="delete(cus)" icon="fa-trash-o"></button>
                                    </div>
                                </template>
                            </p-column>-->
                        </p-dataTable>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
    </div>
</div>
<p-dialog header="Chi tiết giao dịch" [(visible)]="displayForm">
    <div class="toolbox">
        <div class="filter fsearch">
            <label>Từ khóa</label>
            <div class="ui-g">
                <input #gbb type="text" pInputText>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <p-dataTable [value]="transaction_details" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gbb" #dt>
        <p-column header="STT" styleClass="stt">
            <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                {{rowIndex + 1}}
            </template>
        </p-column>
        <p-column field="goodsName" header="Mặt hàng"></p-column>
        <p-column field="goodsCode" header="Mã sản phẩm"></p-column>
        <!--<p-column field="transDate" header="Ngày mua">
            <template pTemplate="body" let-cus="rowData">
                {{cus.transDate | date:'dd-MM-y'}}
            </template>
        </p-column>-->
        
        <p-column field="custPrice" header="Giá (VNĐ)">
            <template pTemplate="body" let-cus="rowData">
                {{ cus.custPrice |  number: '.0-2'}}
            </template>
        </p-column>
    </p-dataTable>
</p-dialog>