<div class="wrapper" [ngClass]="{'sidebar-inactive-l':menuInactiveDesktop, 'sidebar-active-m':menuActiveMobile}">
    <div class="topbar clearfix">
        <a id="omega-menu-button" href="#" (click)="toggleMenu($event)">
            <span class="fa fa-bars"></span>
        </a>
        <span class="topbar-title"></span>
        <a id="options-menu-button" href="#" (click)="toggleTopMenu($event)">
            <span class="fa fa-ellipsis-h"></span>
        </a>
        <div id="topbar-icons" class="animated" [ngClass]="{'topbar-icons-visible flipInX':topMenuActive,'flipOutX':topMenuLeaving}">
            <!--<a href="#">
                    <span class="topbar-item-text">Messages</span>
                    <span class="topbar-icon fa fa-envelope-o animated swing"></span>
                    <span class="topbar-badge animated rubberBand">1</span>
                </a>
                <a href="#">
                    <span class="topbar-item-text">Settings</span>
                    <span class="topbar-icon fa fa-gear"></span>
                </a>-->
            <a (click)="logout()">
                <span class="topbar-item-text">Logout</span>
                <span class="topbar-icon fa fa-sign-out"></span>
            </a>
        </div>
    </div>
    <div class="sidebar" (click)="onMenuClick($event)">
        <div #scroller class="nano">
            <div class="nano-content sidebar-scroll-content">
                <div class="logo">
                    <!--<img src="assets/layout/images/logo.png" alt="" width="113">-->
                </div>
                <div class="profile">
                    <img src="assets/layout/images/profile1.png" alt="" />
                    <a id="profile-button" href="#">
                        <span class="username">{{user.name}} {{user.staffRole}} </span>
                        <!--<i class="fa fa-fw fa-cog"></i>-->
                    </a>
                    <!--<ul [@submenu]="profileActive ? 'visible' : 'hidden'">
                        <li><a href="#"><i class="fa fa-fw fa-sliders"></i><span>Account</span></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-bell"></i><span>Notifications</span><span class="menu-badge">2</span></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-sign-out"></i><span>Logout</span></a></li>
                    </ul>-->
                </div>
                <app-menu></app-menu>
            </div>
        </div>
    </div>
    <div class="main">
        <router-outlet></router-outlet>
    </div>
    <div class="footer" style="background: none">
        <img src="assets/layout/images/logo-colored.png" alt="" width="32">
        <span class="footer-text">Viettel</span>
    </div>