<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Xem chi tiết yêu cầu</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
                <div class="ui-g form-group">
                    <div class="ui-g-12 ui-md-2">
                        <label>Nội dung</label>
                    </div>
                    <div class="ui-g-12 ui-md-10">
                        {{request.content}}
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <label>Hình thức</label>
                    </div>
                    <div class="ui-g-12 ui-md-10">
                        <div *ngFor="let item of request.mediaChannels">
                            {{item.name}}
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <label>Ngày tạo</label>
                    </div>
                    <div class="ui-g-12 ui-md-10">
                        {{request.createDate| date: "dd-MM-y"}}
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <p-dataTable [value]="items" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb"
                            #dt>
                            <p-column styleClass="stt" field="name" header="STT">
                                <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                                    {{rowIndex + 1}}
                                </template>
                            </p-column>
                            <p-column field="shopCode" header="Mã siêu thị"></p-column>
                            <p-column field="name" header="Tên siêu thị"></p-column>
                        </p-dataTable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>