<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Yêu cầu tạo chương trình truyền thông</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
                <button *ngIf="user.staffRole != 'TTT'" class="ui-button-success" style="margin-top:15px; float:left" type="text" (click)="create()" pButton icon="fa-plus"
                    label="Thêm"></button>
               
                <div class="toolbox">
                    <div class="filter fsearch">
                        <label>Từ khóa</label>
                        <div class="ui-g">
                            <input #gb type="text" pInputText>
                        </div>
                    </div>
                </div>
                
                <div class="clearfix"></div>
                <p-dataTable [value]="items" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb"
                    #dt>
                    <p-column header="STT" styleClass="stt">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column field="name" header="Tên"></p-column>
                    <p-column field="content" header="Nội dung"></p-column>
                    <p-column field="startDate" header="Bắt đầu">
                        <template pTemplate="body" let-cus="rowData">
                            {{cus.startDate | date:'dd-MM-y'}}
                        </template>
                    </p-column>
                    <p-column field="endDate" header="Kết thúc">
                        <template pTemplate="body" let-cus="rowData">
                            {{cus.endDate | date:'dd-MM-y'}}
                        </template>
                    </p-column>
                    <p-column field="createDate" header="Ngày tạo">
                        <template pTemplate="body" let-cus="rowData">
                            {{cus.createDate | date:'dd-MM-y'}}
                        </template>
                    </p-column>
                    <!--<p-column field="status" header="Trạng thái">
                        <template pTemplate="body" let-cus="rowData">
                            <div [innerHTML]="cus.status | status:'program'"></div>
                        </template>
                    </p-column>-->
                    <p-column styleClass="text-center" header="Chức năng">
                        <template let-cus="rowData" pTemplate="body">
                            <button class="ui-button-success" type="text" [routerLink]="['/add-request-media-campaign', cus.id]" pButton label="Chi tiết"></button>
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>
<p-dialog header="{{title}}" [(visible)]="displayForm">
    <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form" style="margin-bottom: 100px">
        <div class="ui-g form-group">
            <input type="hidden" pInputText formControlName="id" />

            <div class="ui-g-12 ui-md-4">
                <label>Tên <span class="color-red">*</span></label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <input type="hidden" pInputText formControlName="id"/>
                <input type="text" pInputText formControlName="name"/>
                <div *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched" class="alert-error">Bạn cần nhập tên</div>
                <div *ngIf="form.controls['name'].hasError('minlength') && form.controls['name'].touched" class="alert-error">Tên cần lớn hơn 5 ký tự</div>
                <div *ngIf="form.controls['name'].hasError('maxlength') && form.controls['name'].touched" class="alert-error">Tên cần nhỏ hơn 100 ký tự</div>
            </div>

            <div class="ui-g-12 ui-md-4">
                <label>Bắt đầu <span class="color-red">*</span></label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" id="showIcon" formControlName="startDate" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
                <div *ngIf="form.controls['startDate'].hasError('required') && form.controls['startDate'].touched" class="alert-error">Bạn cần nhập ngày bắt đầu</div>
                
            </div>
            <div class="ui-g-12 ui-md-4">
                <label>Kết thúc <span class="color-red">*</span></label>
            </div>
            <div class="ui-g-12 ui-md-8">
                 <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" id="showIcon" formControlName="endDate" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
                <div *ngIf="form.controls['endDate'].hasError('required') && form.controls['endDate'].touched" class="alert-error">Bạn cần nhập cần nhập ngày kết thúc</div>
            </div>

            <div class="ui-g-12 ui-md-4">
                <label>Lãi gộp dự kiến <span class="color-red">*</span></label>
            </div>

            <div class="ui-g-12 ui-md-8">
                <input type="text" pInputText formControlName="expectProfit"/>
                <div *ngIf="form.controls['expectProfit'].hasError('required') && form.controls['expectProfit'].touched" class="alert-error">Bạn cần nhập lãi gộp dự kiến</div> 
            </div>

            <div class="ui-g-12 ui-md-4">
                <label>Nội dung <span class="color-red">*</span></label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <textarea rows="5" cols="40" pInputTextarea formControlName="content"></textarea>
                <div *ngIf="form.controls['content'].hasError('minlength') && form.controls['content'].touched" class="alert-error">Nội dung cần lớn hơn 5 ký tự</div>
                <div *ngIf="form.controls['content'].hasError('maxlength') && form.controls['content'].touched" class="alert-error">Nội dung cần nhỏ hơn 1000 ký tự</div>
            </div>
            <div class="ui-g-12 ui-md-4">
            </div>
            <div class="ui-g-12 ui-md-8">
                <button class="ui-button-success" [disabled]="!form.valid" type="submit" pButton icon="fa-check" label="{{title}}"></button>
                <button type="text" (click)="displayForm=false" pButton icon="fa-close" label="Thoát"></button>
            </div>
        </div>
    </form>
</p-dialog>
<p-dialog header="Thông báo" [(visible)]="displayDel">
    <p>Bạn có chắc muốn xóa yêu cầu truyền thông?</p>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="displayDel=false" label="Thoát"></button>
            <button class="ui-button-danger" type="button" pButton icon="fa-check" (click)="acceptDel()" label="Đồng ý"></button>
        </div>
    </p-footer>
</p-dialog>