<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Kết quả thực hiện</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
                <button style="float:left; margin-top:20px" class="ui-button-success" (click)="baocao()" pButton label="Xuất báo cáo"></button>
                <div class="toolbox"> 
                    <div class="filter fsearch">
                        <label>Từ khóa</label>
                        <div class="ui-g">
                            <input placeholder="" #gb type="text" pInputText>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <p-dataTable [value]="items" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                    <!--<p-headerColumnGroup>
                        <p-row>
                            <p-column styleClass="stt" header="STT" rowspan="2"></p-column>
                            <p-column header="Mã siêu thị" rowspan="2"></p-column>
                            <p-column header="Siêu thị" rowspan="2"></p-column>
                            <p-column header="Chỉ tiêu (VNĐ)" rowspan="2"></p-column>
                            <p-column header="Khách thân thiết" colspan="3"></p-column>
                            <p-column header="Khách cũ" colspan="3"></p-column>
                        </p-row>
                        <p-row>
                            <p-column header="SL giao"></p-column>
                            <p-column header="SL hoàn thành"></p-column>
                            <p-column header="%"></p-column>
                            <p-column header="SL giao"></p-column>
                            <p-column header="SL hoàn thành"></p-column>
                            <p-column header="%"></p-column>
                        </p-row>
 
                    </p-headerColumnGroup>-->
                    <p-column styleClass="stt" header="STT" [sortable]="true">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column field="shopCode" header="Mã siêu thị" [sortable]="true"></p-column>
                    <p-column field="shopName" header="Siêu thị" [sortable]="true"></p-column>
                    <p-column styleClass="text-right" field="targetNumber" header="Chỉ tiêu" [sortable]="true">
                        <template pTemplate="body" let-cus="rowData">
                            {{ cus.targetNumber |  number: '.0-2'}} 
                        </template>
                    </p-column>
                    <p-column field="targetLoyalCusNo" header="SL giao (TT)" [sortable]="true"></p-column>
                    <p-column field="curLoyalCusNo" header="SL hoàn thành (TT)" [sortable]="true"></p-column>
                    <p-column field="e" header="% (TT)" [sortable]="true">
                        <template pTemplate="body" let-cus="rowData">
                            {{(cus.curLoyalCusNo/cus.targetLoyalCusNo)*100 | round}}% 
                        </template>
                    </p-column>
                    <p-column field="targetOldCusNo" header="SL giao (M)" [sortable]="true"></p-column>
                    <p-column field="curOldCusNo" header="SL hoàn thành (M)" [sortable]="true"></p-column>
                    <p-column field="ee" header="% (M)" [sortable]="true">
                        <template pTemplate="body" let-cus="rowData">
                            {{(cus.curOldCusNo/cus.targetOldCusNo)*100 | round}}% 
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div> 
</div>
