<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Danh sách chỉ tiêu</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
                <div class="toolbox">
                    <!--<div class="filter fbutton">
                        <button style="width: 50px" type="button" label="Lọc" class="ui-button-primary" pButton></button>
                        <button style="width: 50px" type="button" label="Xóa" class="ui-button-primary" pButton></button>
                    </div>-->
                    <div class="filter fsearch">
                        <label>Từ khóa</label>
                        <div class="ui-g">
                            <input #gb type="text" pInputText>
                        </div>
                    </div>
                    <!--<div class="filter fdate">
                        <label>Đến ngày</label>
                        <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" id="showIcon" [showIcon]="true"></p-calendar>
                    </div>
                    <div class="filter fdate">
                        <label>Từ ngày</label>
                        <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" id="showIcon" [showIcon]="true"></p-calendar>
                    </div>-->
                </div>
                <div class="clearfix"></div>
                <p-dataTable [value]="items" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb"
                    #dt>
                    <!--<p-headerColumnGroup>
                        <p-row>
                            <p-column styleClass="stt" header="STT" rowspan="2"></p-column>
                            <p-column header="Tên" rowspan="2"></p-column>
                            <p-column header="Bắt đầu" rowspan="2"></p-column>
                            <p-column header="Kết thúc" rowspan="2"></p-column>
                            <p-column header="Chỉ tiêu (VNĐ)" rowspan="2"></p-column>
                            <p-column header="Thân thiết" colspan="3"></p-column>
                            <p-column header="Khách mới" colspan="3"></p-column>
                           
                            <p-column header="Trạng thái" rowspan="2"></p-column>
                            <p-column header="Chức năng" rowspan="2"></p-column>
                        </p-row>
                        <p-row>
                            <p-column header="Giao"></p-column>
                            <p-column header="SL HT"></p-column>
                            <p-column header="% HT"></p-column>
                            <p-column header="Giao"></p-column>
                            <p-column header="SL HT"></p-column>
                            <p-column header="% HT"></p-column>
                        </p-row>
                    </p-headerColumnGroup>-->
                    <p-column header="STT" styleClass="stt" [sortable]="true">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion" let-cus="rowData">
                            <div [ngClass]="{'endclass': cus.targetStatus == 6 }">
                                {{rowIndex + 1}}
                            </div>
                        </template>
                    </p-column>
                    <p-column field="bdkhTargetName" header="Tên" [sortable]="true">
                        <template pTemplate="body" let-cus="rowData">
                            <div [ngClass]="{'endclass': cus.targetStatus == 6 }">
                                {{cus.bdkhTargetName}}
                            </div>
                        </template>
                    </p-column>
                    <p-column field="startDate" header="Bắt đầu" [sortable]="true">
                        <template pTemplate="body" let-cus="rowData">
                            <div [ngClass]="{'endclass': cus.targetStatus == 6 }">
                            {{cus.startDate | date:'dd-MM-y'}}
                            </div>
                        </template>
                    </p-column>
                    <p-column field="endDate" header="Kết thúc" [sortable]="true">
                        <template pTemplate="body" let-cus="rowData">
                            <div [ngClass]="{'endclass': cus.targetStatus == 6 }">
                            {{cus.endDate | date:'dd-MM-y'}}
                            </div>
                        </template>
                    </p-column>
        
                    <p-column styleClass="text-right" field="targetNumber" header="Chỉ tiêu" [sortable]="true">
                        <template pTemplate="body" let-cus="rowData">
                            <div [ngClass]="{'endclass': cus.targetStatus == 6 }">
                            {{ cus.targetNumber |  number: '.0-2'}} 
                            </div>
                        </template>
                    </p-column>
   
                    <p-column field="targetLoyalCusNo" header="SL giao (TT)" [sortable]="true">
                        <template pTemplate="body" let-cus="rowData">
                            <div [ngClass]="{'endclass': cus.targetStatus == 6 }">
                            {{ cus.targetLoyalCusNo}} 
                            </div>
                        </template>
                    </p-column>
                    <p-column field="curLoyalCusNo" header="SL hoàn thành (TT)" [sortable]="true">
                        <template pTemplate="body" let-cus="rowData">
                            <div [ngClass]="{'endclass': cus.targetStatus == 6 }">
                                {{ cus.curLoyalCusNo}} 
                            </div>
                        </template>
                    </p-column>
                    <p-column header="% (TT)" [sortable]="true">
                        <template pTemplate="body" let-cus="rowData">
                            <div [ngClass]="{'endclass': cus.targetStatus == 6 }">
                                {{(cus.curLoyalCusNo/cus.targetLoyalCusNo)*100 | round}}%
                            </div>
                        </template>
                    </p-column>
                    <p-column field="targetOldCusNo" header="SL giao (M)" [sortable]="true">
                        <template pTemplate="body" let-cus="rowData">
                            <div [ngClass]="{'endclass': cus.targetStatus == 6 }">
                                {{ cus.targetOldCusNo}} 
                            </div>
                        </template>
                    </p-column>
                    <p-column field="curOldCusNo" header="SL hoàn thành (M)" [sortable]="true">
                        <template pTemplate="body" let-cus="rowData">
                            <div [ngClass]="{'endclass': cus.targetStatus == 6 }">
                                {{ cus.curOldCusNo}} 
                            </div>
                        </template>
                    </p-column>
                    <p-column header="% (M)" [sortable]="true">
                        <template pTemplate="body" let-cus="rowData">
                            <div [ngClass]="{'endclass': cus.targetStatus == 6 }">
                            {{(cus.curOldCusNo/cus.targetOldCusNo)*100 | round}}%
                            </div>
                        </template>
                    </p-column>
                    <!--<p-column field="description" header="Miêu tả"></p-column>-->
                    <p-column styleClass="text-center col-status" field="stats" header="Trạng thái">
                        <template pTemplate="body" let-cus="rowData">
                            <div [innerHTML]="cus.targetStatus | status: 'target'"></div>
                        </template>
                    </p-column>
                    <p-column  styleClass="text-center" field="func" header="Chức năng">
                        <template let-cus="rowData" pTemplate="body">
                            <a pButton [routerLink]="['/target-store-staff', cus.bdkhTargetId]" label="Chi tiết"></a>
                            <!--<button *ngIf="cus.STATUS != 3" (click) = "dieuchinh(cus)" pButton label="Điều chỉnh"></button>
                            <button *ngIf="cus.STATUS != 3" (click) = "ketqua(cus)" pButton label="Kết quả"></button>-->
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div> 
</div>
<p-dialog header="Yêu cầu điều chỉnh" [(visible)]="displayDc">
    <form (ngSubmit)="submitDc(formdc.value)" [formGroup]="formdc">
        <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-4">
                <label>Chỉ tiêu</label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <input type="hidden" pInputText formControlName="id" />
                <input type="number" pInputText formControlName="targetNumber" />
                <div *ngIf="formdc.controls['targetNumber'].hasError('required') && formdc.controls['targetNumber'].touched" class="alert-error">Bạn cần nhập chỉ tiêu</div>
                <div *ngIf="formdc.controls['targetNumber'].hasError('minlength') && formdc.controls['targetNumber'].touched" class="alert-error">Chỉ tiêu phải là số</div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <label>Lý do</label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <textarea pInputTextarea formControlName="note"></textarea>
                <div *ngIf="formdc.controls['note'].hasError('required') && formdc.controls['note'].touched" class="alert-error">Bạn cần nhập lý do</div>
                <div *ngIf="formdc.controls['note'].hasError('minlength') && formdc.controls['note'].touched" class="alert-error">Lý do quá ngắn</div>
                <div *ngIf="formdc.controls['note'].hasError('maxlength') && formdc.controls['note'].touched" class="alert-error">Lý do quá dài</div>
            </div>
            <div class="ui-g-12 ui-md-4">
            </div>
            <div class="ui-g-12 ui-md-8">
                <button class="ui-button-success" [disabled]="!formdc.valid" type="submit" pButton icon="fa-check" label="Yêu cầu"></button>
                <button type="text" (click)="displayDc=false" pButton icon="fa-close" label="Thoát"></button>
            </div>
        </div>
    </form>
</p-dialog>
<p-dialog header="Cập nhập kết quả" [(visible)]="displayKq">
    <form (ngSubmit)="submitKq(formkq.value)" [formGroup]="formkq">
        <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-4">
                <label>Chỉ tiêu hoàn thành</label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <input type="hidden" pInputText formControlName="id" />
                <input type="number" pInputText formControlName="resultNumber" />
                <div *ngIf="formkq.controls['resultNumber'].hasError('required') && formkq.controls['resultNumber'].touched" class="alert-error">Bạn cần nhập kết quả</div>
                <div *ngIf="formkq.controls['resultNumber'].hasError('minlength') && formkq.controls['resultNumber'].touched" class="alert-error">Kết quả phải là số</div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <label>Mô tả</label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <textarea pInputTextarea formControlName="note"></textarea>
                <div *ngIf="formkq.controls['note'].hasError('required') && formkq.controls['note'].touched" class="alert-error">Bạn cần nhập lý do</div>
                <div *ngIf="formkq.controls['note'].hasError('minlength') && formkq.controls['note'].touched" class="alert-error">Lý do quá ngắn</div>
                <div *ngIf="formkq.controls['note'].hasError('maxlength') && formkq.controls['note'].touched" class="alert-error">Lý do quá dài</div>
            </div>
            <div class="ui-g-12 ui-md-4">
            </div>
            <div class="ui-g-12 ui-md-8">
                <button class="ui-button-success" [disabled]="!formkq.valid" type="submit" pButton icon="fa-check" label="Hoàn thành"></button>
                <button type="text" (click)="displayKq=false" pButton icon="fa-close" label="Thoát"></button>
            </div>
        </div>
    </form>
</p-dialog>