<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Chương trình truyền thông</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
                <div class="toolbox">
                    <!--<div class="filter fbutton">
                        <button style="width: 50px" type="button" label="Lọc" class="ui-button-primary" pButton></button>
                        <button style="width: 50px" type="button" (click)="clearFilter()" label="Xóa" class="ui-button-primary" pButton></button>
                    </div>-->
                    <div class="filter fsearch">
                        <label>Tìm kiếm</label>
                        <div class="ui-g">
                            <input placeholder="" #gb type="text" pInputText>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <p-dataTable [value]="items" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                    <p-column styleClass="stt" header="STT">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column field="name" header="Chương trình"></p-column>
                    <p-column field="shopName" header="Tên siêu thị"></p-column>
                    <p-column field="startDate" header="Ngày bắt đầu">
                        <template pTemplate="body" let-cus="rowData">
                            {{cus.startDate | date:'dd-MM-y'}}
                        </template>
                    </p-column>
                    <p-column field="endDate" header="Ngày kết thúc">
                        <template pTemplate="body" let-cus="rowData">
                            {{cus.endDate | date:'dd-MM-y'}}
                        </template>
                    </p-column>
                    <p-column field="startDate" header="Ngày tạo">
                        <template pTemplate="body" let-cus="rowData">
                            {{cus.createDate | date:'dd-MM-y'}}
                        </template>
                    </p-column>
                    <p-column field="status" styleClass="text-center col-status" header="Trạng thái">
                        <template pTemplate="body" let-cus="rowData">
                            <div [innerHTML]="cus.status | status: 'program'"></div>
                        </template>
                    </p-column>
                    <p-column styleClass="text-center col-1" header="Chức năng">
                        <template let-cus="rowData" pTemplate="body"> 
                            <a pButton style="width: 25px" [routerLink]="['/plan-media-campaign', cus.id]" icon="fa-eye"></a>
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>
<!--<p-dialog header="{{title}}" [(visible)]="displayForm">
    <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
        <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-4">
                <label>Tên</label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <input type="hidden" pInputText formControlName="id"/>
                <input type="text" pInputText formControlName="name"/>
            </div>

            <div class="ui-g-12 ui-md-4">
                <label>Nhân viên</label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <input type="text" pInputText formControlName="staffName"/>
            </div>

            <div class="ui-g-12 ui-md-4">
                <label>Hình thức</label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <p-dropdown formControlName="mediaId" [options]="channels" [style]="{'width': '100%'}"></p-dropdown>
            </div>
           <div class="ui-g-12 ui-md-4">
                <label>Bắt đầu</label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" id="showIcon" formControlName="startDate" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
                
            </div>
            <div class="ui-g-12 ui-md-4">
                <label>Kết thúc</label>
            </div>
            <div class="ui-g-12 ui-md-8">
                 <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" id="showIcon" formControlName="endDate" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
            </div>
            <div class="ui-g-12 ui-md-4">
                <label>Mô tả</label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <textarea rows="5" cols="30" pInputTextarea formControlName="expectedResult"></textarea>
            </div>
            <div class="ui-g-12 ui-md-4">
            </div>
            <div class="ui-g-12 ui-md-8">
                <button type="text" (click)="displayForm=false" pButton icon="fa-close" label="Thoát"></button>
            </div>
        </div>
    </form>
</p-dialog>-->

<p-dialog header="Thông báo" [(visible)]="displayDel">
    <p>Bạn có chắc muốn xóa kênh truyền thông?</p>
    <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button class="ui-button-danger" type="button" pButton icon="fa-check" (click)="acceptDel()" label="Đồng ý"></button>
                <button type="button" pButton icon="fa-close" (click)="displayDel=false" label="Thoát"></button>
                
            </div>
        </p-footer>
</p-dialog>