<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>{{survey.name}}</h1>
                <p-growl [value]="msgs"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
                Mô tả: {{survey.description}}
                <div style="margin-bottom:20px"></div>
                <div *ngFor="let item of survey.questions; let i = index">
                    <p-fieldset legend="{{i+1}}. {{item.questionText}}" [style]="{'margin-bottom':'20px'}">
                        <div *ngIf="item.questionType == 1">
                            <textarea rows="3" pInputTextarea [(ngModel)]="item.realAnswers"></textarea>
                        </div>
                        <div *ngIf="item.questionType == 2">
                            <div *ngFor="let answer of item.answers">
                                <p-radioButton name="group{{i}}" value="{{answer.responseText}}" [(ngModel)]="item.realAnswers" label="{{answer.responseText}}"></p-radioButton>
                            </div>
                            <div style="margin-top:10px"></div>
                            <label>Khác</label>
                            <textarea rows="3" pInputTextarea></textarea>
                        </div>
                        <div *ngIf="item.questionType == 3">
                            <div *ngFor="let answer of item.answers">
                                <p-checkbox name="group{{i}}" value="{{answer.responseText}}" [(ngModel)]="item.realAnswers" label="{{answer.responseText}}"></p-checkbox>
                            </div>
                            <div style="margin-top:10px"></div>
                            <label>Ghi chú</label>
                            <textarea rows="3" pInputTextarea></textarea>
                        </div>
                        <div *ngIf="item.description != null">Mô tả: {{item.description}}</div>
                    </p-fieldset>             
                </div>
                <!--<button pButton (click)="Done()" label="Xong"></button> -->
            </div>
        </div>
    </div>
</div>



