<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Quản lý chiến dịch</h1>
                
               
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
                
               <!--<button class="ui-button-success" style="margin-top:15px; float:left" type="text" (click)="create()" pButton icon="fa-plus" label="Thêm"></button>-->
               <a class="ui-button-success" style="margin-top:15px; float:left" [routerLink] = "['/add-campaign']"  pButton icon="fa-plus" label="Thêm"></a>


               <a class="ui-button-success" style="margin-top:15px; float:left" [routerLink] = "['/add-campaign-file']"  pButton icon="fa-plus" label="Thêm từ file"></a>
                <div class="toolbox">

                    <!--<div class="filter fbutton">
                        <button style="width: 50px" type="button" label="Lọc" class="ui-button-primary" pButton></button>
                        <button style="width: 50px" type="button" (click)="clearFilter()" label="Xóa" class="ui-button-primary" pButton></button>
                    </div>-->
                    <div class="filter fsearch">
                        <label>Từ khóa</label>
                        <div class="ui-g">
                            <input placeholder="" #gb type="text" pInputText>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="clearfix"></div>

                <p-dataTable [value]="items" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                    <p-column styleClass="stt" field="" header="STT">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion" let-c="rowData">
                            <div [ngClass]="{'endclass': c.status == 6 }">
                                {{rowIndex + 1}}
                            </div>
                        </template>
                    </p-column>
                    <p-column field="name" header="Chương trình">
                        <template pTemplate="body" let-c="rowData">
                            <div [ngClass]="{'endclass': c.status == 6 }">
                                {{c.name}}
                            </div>
                        </template>
                    </p-column>
                    <p-column field="targetNumber" header="Chỉ tiêu">
                        <template pTemplate="body" let-c="rowData">
                            <div [ngClass]="{'endclass': c.status == 6 }">
                                {{c.targetNumber}}
                            </div>
                        </template>
                    </p-column>
                    <p-column field="resultNumber" header="Hoàn thành">
                        <template pTemplate="body" let-c="rowData">
                            <div [ngClass]="{'endclass': c.status == 6 }">
                                {{c.resultNumber}}
                            </div>
                        </template>
                    </p-column>
                    <p-column field="startDate" header="Ngày bắt dầu">
                        <template pTemplate="body" let-c="rowData">
                            <div [ngClass]="{'endclass': c.status == 6 }">
                            {{c.startDate | date:'dd-MM-y'}}
                            </div>
                        </template>
                    </p-column>
                    <p-column field="endDate" header="Ngày kết thúc">
                        <template pTemplate="body" let-c="rowData">
                            <div [ngClass]="{'endclass': c.status == 6 }">
                            {{c.endDate | date:'dd-MM-y'}}
                            </div>
                        </template>
                    </p-column>
                    <p-column field="createDate" header="Ngày tạo">
                        <template pTemplate="body" let-c="rowData">
                            <div [ngClass]="{'endclass': c.status == 6 }">
                            {{c.createDate | date:'dd-MM-y'}}
                            </div>
                        </template>
                    </p-column>
                    <p-column styleClass="text-center" field="surveyId" header="Survey">
                        <template pTemplate="body" let-item="rowData">
                            <a *ngIf="item.surveyId != null" pButton [routerLink]="['/fill-survey',item.surveyId]" label="Xem"></a> 
                        </template>
                    </p-column>
                    <p-column styleClass="col-status text-center" field="status" header="Trạng thái">
                        <template pTemplate="body" let-c="rowData">
                            <div [innerHTML]="c.status | status: 'campaign'"></div>
                        </template>
                    </p-column>
                    <p-column styleClass="text-center" field="func" header="Chức năng">
                        <template let-item="rowData" pTemplate="body">
                            <a *ngIf="item.status == 3 || item.status == 5 || item.status == 6" [routerLink]="['/campaign-store-result', item.id]" pButton label="Kết quả"></a>
                            <button *ngIf="item.status != 1" type="button" pButton [routerLink]="['/view-campaign',item.id]" icon="fa-eye"></button>  
                            <button *ngIf="item.status == 4 || item.status  == 1" class="ui-button-danger" style="width: 25px" type="button" pButton (click)="delete(item)" icon="fa-trash-o"></button>
                        </template>
                    </p-column>
                </p-dataTable>
            </div> 
        </div>
    </div>
</div>


<p-dialog header="{{title}}" [(visible)]="displayForm">
    <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form" style="margin-bottom: 100px">
        <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-2">
                <label>Tên *</label>
            </div>
            <div class="ui-g-12 ui-md-10">
                <input type="hidden" pInputText formControlName="id"/>
                <input type="text" pInputText formControlName="name"/>
                <div *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched" class="alert-error">Bạn cần nhập tên</div>
                <div *ngIf="form.controls['name'].hasError('minlength') && form.controls['name'].touched" class="alert-error">Tên cần lớn hơn 5 ký tự</div>
                <div *ngIf="form.controls['name'].hasError('maxlength') && form.controls['name'].touched" class="alert-error">Tên cần nhỏ hơn 50 ký tự</div>
            </div>
            <div class="ui-g-12 ui-md-2">
                <label>Bắt đầu *</label>
            </div>
            <div class="ui-g-12 ui-md-10">
                <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" id="showIcon" formControlName="startDate" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
    
                <div *ngIf="form.controls['startDate'].hasError('required') && form.controls['startDate'].touched" class="alert-error">Bạn cần nhập ngày bắt đầu</div>
                
            </div>
            <div class="ui-g-12 ui-md-2">
                <label>Kết thúc *</label>
            </div>
            <div class="ui-g-12 ui-md-10">
                 <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" id="showIcon" formControlName="endDate" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
                <div *ngIf="form.controls['endDate'].hasError('required') && form.controls['endDate'].touched" class="alert-error">Bạn cần nhập cần nhập ngày kết thúc</div>
            </div>
            <div class="ui-g-12 ui-md-2">
                <label>Mô tả</label>
            </div>
            <div class="ui-g-12 ui-md-10">
                <textarea rows="5" cols="50" pInputTextarea formControlName="campaignDescription"></textarea>
                <div *ngIf="form.controls['campaignDescription'].hasError('minlength') && form.controls['campaignDescription'].touched" class="alert-error">Mô tả cần lớn hơn 5 ký tự</div>
                <div *ngIf="form.controls['campaignDescription'].hasError('maxlength') && form.controls['campaignDescription'].touched" class="alert-error">Mô tả cần nhỏ hơn 1000 ký tự</div>
            </div>
             <div class="ui-g-12 ui-md-2">
            </div>
            <div class="ui-g-12 ui-md-10">
                <button class="ui-button-success" [disabled]="!form.valid" type="submit" pButton icon="fa-check" label="{{title}}"></button>
                <button type="text" (click)="displayForm=false" pButton icon="fa-close" label="Thoát"></button>
            </div>
        </div>
    </form>
</p-dialog>


<p-dialog header="Thông báo" [(visible)]="displayDel">
    <p>Bạn có chắc muốn xóa chiến dịch?</p>
    <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="displayDel=false" label="Thoát"></button>
                <button class="ui-button-danger" type="button" pButton icon="fa-check" (click)="acceptDel()" label="Đồng ý"></button>
                
            </div>
        </p-footer>
</p-dialog>