<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Nội dung chi tiết chương trình truyền thông</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>

                <div class="ui-g form-group">
                    <div class="ui-g-12 ui-md-2">
                        <label>Tên</label>
                    </div>
                    <div class="ui-g-12 ui-md-10" style="font-weight:bold; font-size: 17px">
                        {{program.name}}
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <label>Thời gian</label>
                    </div>
                    <div class="ui-g-12 ui-md-10">
                        Từ {{program.startDate | date: "dd-MM-y"}} đến {{program.endDate | date: "dd-MM-y"}}
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <label>Ngân sách truyền thông</label>
                    </div>
                    <div class="ui-g-12 ui-md-10">
                        {{ program.budget | number: '.0-2'}} VNĐ
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <label>Doanh thu tổng</label>
                    </div>
                    <div class="ui-g-12 ui-md-10">
                        {{ program.expectedResult | number: '.0-2'}} VNĐ
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        <label>Chi phí truyền thông</label>
                    </div>
                    <div class="ui-g-12 ui-md-10">
                        {{ program.totalCost | number: '.0-2'}} VNĐ
                    </div>


                    <div class="ui-g-12 ui-md-2">
                        <label>Lãi gộp dự kiến</label>
                    </div>
                    <div class="ui-g-12 ui-md-10">
                        {{program.expectProfit}} %
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <label>Trạng thái</label>
                    </div>
                    <div class="ui-g-12 ui-md-10">
                        <div style="width: 150px" [innerHTML]="program.status | status: 'program'"></div>
                    </div>
                    <div style="width: 100%" *ngIf="program.status == 4">
                        <div class="ui-g-12 ui-md-2">
                            <label>Lý do</label>
                        </div>
                        <div class="ui-g-12 ui-md-10">
                            {{ program.note }}
                        </div>
                    </div>
                </div>

                <h2 class="h2tit" style="margin-bottom: 20px">Doanh thu từng sản phẩm</h2>
                <p-dataTable [value]="doanhthuSp" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]">
                    <p-column styleClass="stt" field="name" header="STT">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column field="GOODS_NAME" header="Sản phẩm">
                    </p-column>
                    <p-column field="TARGET_NUMBER" header="Doanh thu">
                        <template let-item="rowData" pTemplate="body">
                            {{ item.TARGET_NUMBER | number: '.0-2'}}
                        </template>
                    </p-column>
                </p-dataTable>

                <h2 class="h2tit" style="margin-bottom: 20px">Doanh thu từng nhóm hàng</h2>
                <p-dataTable [value]="doanhthuNhom" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]">
                    <p-column styleClass="stt" field="name" header="STT">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column field="GOODS_NAME" header="Nhóm hàng">
                    </p-column>
                    <p-column field="TARGET_NUMBER" header="Doanh thu">
                        <template let-item="rowData" pTemplate="body">
                            {{ item.TARGET_NUMBER | number: '.0-2'}}
                        </template>
                    </p-column>
                </p-dataTable>

                <h2 class="h2tit" style="margin-bottom: 20px">Địa bàn</h2>
                <button *ngIf="program.status == 1 || program.status == 4" class="ui-button-success" style="margin-top:15px; float:right" (click)="create()" pButton icon="fa-plus" label="Thêm địa bàn"></button>
                <div class="clearfix"></div>
                <p-dataTable [value]="diaban" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]">
                    <p-column styleClass="stt" field="name" header="STT">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column field="address" header="Địa bàn"></p-column>
                    <p-column field="staffName" header="Nhân viên"></p-column>

                    <p-column field="staffMobile" header="SĐT"></p-column>
                    <p-column field="" header="Bắt đầu">
                        <template pTemplate="body" let-cus="rowData">
                            {{cus.startDate | date:'dd-MM-y'}}
                        </template>
                    </p-column>
                    <p-column field="" header="Kết thúc">
                        <template pTemplate="body" let-cus="rowData">
                            {{cus.endDate | date:'dd-MM-y'}}
                        </template>
                    </p-column>
                    <p-column field="mediaName" header="Hình thức"></p-column>
                    <p-column field="quantity" header="Số lượng"></p-column>
                    <p-column field="amount" header="Tổng tiền (VNĐ)">
                        <template pTemplate="body" let-cus="rowData">
                            {{ cus.amount | number: '.0-2'}}
                        </template>
                    </p-column>
                    <p-column field="description" header="Mô tả"></p-column>
                    <p-column *ngIf="program.status == 1 || program.status == 4" styleClass="text-center col-2" header="Chức năng">
                        <template let-item="rowData" pTemplate="body"> 
                            <button class="ui-button-primary" style="width: 25px" type="button" pButton (click)="update(item)" icon="fa-eye"></button>
                            <button class="ui-button-danger" style="width: 25px" type="button" pButton (click)="delete(item)" icon="fa-trash-o"></button>
                        </template>
                    </p-column>
                </p-dataTable>
                
                <div class="ui-g-12 ui-md-9" *ngIf="program.status == 1 || program.status == 4">
                    <button class="ui-button-success" type="button" (click)="guiDuyet()" pButton icon="fa-check" label="Gửi duyệt"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog header="{{title}}" [(visible)]="displayForm">
    <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
        <div class="ui-g form-group">
			<input type="hidden" pInputText formControlName="id" />
			<div *ngIf="formCreate">
				<div class="ui-g-12 ui-md-3">
					<label>Địa bàn <span class="color-red">*</span></label>
				</div>
				<div class="ui-g-12 ui-md-9">
					<p-dropdown formControlName="areaShopId" [options]="areas" [style]="{'width': '100%'}"></p-dropdown>
					<div *ngIf="form.controls['areaShopId'].hasError('required') && form.controls['areaShopId'].touched" class="alert-error">Bạn cần chọn địa bàn</div>
				</div>
				<div class="ui-g-12 ui-md-3">
					<label>Bắt đầu <span class="color-red">*</span></label>
				</div>
				<div class="ui-g-12 ui-md-9">
					<p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" formControlName="startDate" id="showIcon" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
		
					<div *ngIf="form.controls['startDate'].hasError('required') && form.controls['startDate'].touched" class="alert-error">Bạn cần nhập ngày bắt đầu</div>
					
				</div>
				<div class="ui-g-12 ui-md-3">
					<label>Kết thúc <span class="color-red">*</span></label>
				</div>
				<div class="ui-g-12 ui-md-9">
					<p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" formControlName="endDate" id="showIcon" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
					<div *ngIf="form.controls['endDate'].hasError('required') && form.controls['endDate'].touched" class="alert-error">Bạn cần nhập cần nhập ngày kết thúc</div>
				</div>

				<div class="ui-g-12 ui-md-3">
					<label>Mô tả</label>
				</div>
				<div class="ui-g-12 ui-md-9">
					<textarea formControlName="description" pInputTextarea cols="40"></textarea>
					<div *ngIf="form.controls['description'].touched">
						<div *ngIf="form.controls['description'].hasError('required')" class="alert-error">Bạn cần nhập mô tả</div>
						<div *ngIf="form.controls['description'].hasError('minlength') || form.controls['description'].hasError('maxlength')" class="alert-error">Mô tả quá ngắn hoặc quá dài</div>
					</div>
				</div>
			</div>

			<div class="ui-g-12 ui-md-3">
                <label>Tổng giá</label>
            </div>
			<div class="ui-g-12 ui-md-9">
				{{ form.controls['amount'].value | number: '.0-2'}} VNĐ
			</div>
			<div>
				<div class="ui-g-12 ui-md-12">
					<label>Hình thức</label>
				</div>
				<p-dataTable  [editable]="true" [value]="channels" [rows]="20" [paginator]="false" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb"
						#dt>
					<p-column field="name" header="Hình thức"></p-column>
					<p-column field="quantity" header="Số lượng" [editable]="true" [style]="{'overflow':'visible'}">
						<template let-col let-car="rowData" pTemplate="editor">
							<input (change)="suane()" type="number" min="0" pInputText [(ngModel)]="car[col.field]" [ngModelOptions]="{standalone: true}"/>
						</template>
					</p-column>
				</p-dataTable>
			</div>
            <div class="ui-g-12 ui-md-3">
            </div>
            <div class="ui-g-12 ui-md-6">
				<button type="submit" pButton icon="fa-check" label="{{title}}" class="ui-button-success"></button>
                <button type="text" (click)="displayForm=false" pButton icon="fa-close" label="Thoát"></button>
            </div>
        </div>
    </form>
</p-dialog>


<p-dialog header="Thông báo" [(visible)]="displayDel">
    <p>Bạn có chắc muốn xóa?</p>
    <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                
                <button type="button" pButton icon="fa-close" (click)="displayDel=false" label="Thoát"></button>
                <button class="ui-button-danger" type="button" pButton icon="fa-check" (click)="acceptDel()" label="Đồng ý"></button>
            </div>
        </p-footer>
</p-dialog>