<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Nội dung chi tiết chương trình truyền thông</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>

                <div class="ui-g form-group">
                    <div class="ui-g-12 ui-md-2">
                        <label>Tên</label>
                    </div>
                    <div class="ui-g-12 ui-md-10" style="font-weight:bold; font-size: 17px">
                        {{program.name}}

                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <label>Thời gian</label>
                    </div>
                    <div class="ui-g-12 ui-md-10">
                        Từ {{program.startDate | date: "dd-MM-y"}} đến {{program.endDate | date: "dd-MM-y"}}
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        <label>Doanh thu tổng</label>
                    </div>
                    <div class="ui-g-12 ui-md-10">
                        {{ program.expectedResult | number: '.0-2'}} VNĐ
                    </div>


                    <div class="ui-g-12 ui-md-2">
                        <label>Chi phí truyền thông</label>
                    </div>
                    <div class="ui-g-12 ui-md-10">
                        {{ program.totalCost | number: '.0-2'}} VNĐ
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        <label>Ngân sách truyền thông</label>
                    </div>
                    
                    <div *ngIf="program.sourceId == 1" class="ui-g-12 ui-md-10">
                        {{ program.deltaBudget | number: '.0-2'}} VNĐ
                    </div>
                    <div *ngIf="program.sourceId == 0" class="ui-g-12 ui-md-10">
                        {{ program.budget | number: '.0-2'}} VNĐ
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        <label>Lãi gộp dự kiến</label>
                    </div>
                    <div class="ui-g-12 ui-md-10">
                        {{program.expectProfit}} %
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <label>Trạng thái</label>
                    </div>
                    <div class="ui-g-12 ui-md-10">
                        <div style="width: 150px" [innerHTML]="program.status | status: 'program'"></div>
                    </div>
                    <div style="width: 100%" *ngIf="program.status == 4">
                        <div class="ui-g-12 ui-md-3">
                            <label>Lý do</label>
                        </div>
                        <div class="ui-g-12 ui-md-9">
                            {{ program.note }}
                        </div>
                    </div>
                </div>

                <h2 class="h2tit" style="margin-bottom: 20px">Doanh thu từng sản phẩm</h2>
                <p-dataTable [value]="doanhthuSp" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]">
                    <p-column styleClass="stt" field="name" header="STT">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column field="GOODS_NAME" header="Sản phẩm"></p-column>
                    <p-column field="TARGET_NUMBER" header="Doanh thu dự kiến">
                        <template let-item="rowData" pTemplate="body">
                            {{ item.TARGET_NUMBER | number: '.0-2'}}
                        </template>
                    </p-column>
                    <p-column field="RESULT_NUMBER" header="Doanh thu thực tế">
                        <template let-item="rowData" pTemplate="body">
                            {{ item.RESULT_NUMBER | number: '.0-2'}}
                        </template>
                    </p-column>
                    <p-column field="PREV_NUMBER" header="Doanh thu 30 ngày trước">
                        <template let-item="rowData" pTemplate="body">
                            {{ item.PREV_NUMBER | number: '.0-2'}}
                        </template>
                    </p-column>
                </p-dataTable>

                <h2 class="h2tit" style="margin-bottom: 20px">Doanh thu từng nhóm hàng</h2>
                <p-dataTable [value]="doanhthuNhom" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]">
                    <p-column styleClass="stt" field="name" header="STT">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column field="GOODS_NAME" header="Nhóm hàng">
                    </p-column>
                    <p-column field="TARGET_NUMBER" header="Doanh thu dự kiến">
                        <template let-item="rowData" pTemplate="body">
                            {{ item.TARGET_NUMBER | number: '.0-2'}}
                        </template>
                    </p-column>
                    <p-column field="RESULT_NUMBER" header="Doanh thu thực tế">
                        <template let-item="rowData" pTemplate="body">
                            {{ item.RESULT_NUMBER | number: '.0-2'}}
                        </template>
                    </p-column>
                    <p-column field="PREV_NUMBER" header="Doanh thu 30 ngày trước">
                        <template let-item="rowData" pTemplate="body">
                            {{ item.PREV_NUMBER | number: '.0-2'}}
                        </template>
                    </p-column>
                </p-dataTable>

                <h2 class="h2tit" style="margin-bottom: 20px">Địa bàn</h2>
                <p-dataTable [value]="diaban" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]">
                    <p-column styleClass="stt" field="name" header="STT">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column field="address" header="Địa bàn"></p-column>
                    <p-column field="staffName" header="Nhân viên"></p-column>


                    <p-column field="" header="Bắt đầu">
                        <template pTemplate="body" let-cus="rowData">
                            {{cus.startDate | date:'dd-MM-y'}}
                        </template>
                    </p-column>
                    <p-column field="" header="Kết thức">
                        <template pTemplate="body" let-cus="rowData">
                            {{cus.endDate | date:'dd-MM-y'}}
                        </template>
                    </p-column>
                    <p-column field="mediaName" header="Hình thức"></p-column>
                    <p-column field="quantity" header="Số lượng"></p-column>
                    <p-column field="amount" header="Tổng tiền (VNĐ)">
                        <template pTemplate="body" let-cus="rowData">
                            {{ cus.amount | number: '.0-2'}}
                        </template>
                    </p-column>
                    <p-column field="description" header="Mô tả"></p-column>
                </p-dataTable>

                <div class="ui-g-12 ui-md-10" *ngIf="program.status == 2">
                    <button (click)="Duyet()" type="button" pButton icon="fa-check" label="Duyệt"></button>
                    <button (click)="showForm()" type="button" icon="fa-close" pButton label="Từ chối" class="ui-button-danger"></button>
                </div>

            </div>
        </div>
    </div>
</div>


<p-dialog header="Lý do từ chối" [(visible)]="displayForm">
    <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">

		<div class="ui-g form-group">
            <div class="ui-g-12 ui-md-12">
                <label>Lý do</label>
            </div>
            <div class="ui-g-12 ui-md-12">
                <textarea styleClass="fullWidth" rows="5" cols="50" pInputTextarea formControlName="note"></textarea>
            </div>
            <div class="ui-g-12 ui-md-4">
            </div>
            <div class="ui-g-12 ui-md-8">
				<button pButton icon="fa-close" class="ui-button-danger" label="Từ chối"></button>
                <button (click)="displayForm=false" pButton icon="fa-close" label="Thoát" ></button>
            </div>
        </div>
    </form>
</p-dialog>