<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Thông báo</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
                
                <div class="toolbox">
                    <div class="filter fsearch">
                        <label>Từ khóa</label>
                        <div class="ui-g">
                            <input #gb type="text" pInputText>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <p-dataTable [value]="items" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb"
                    #dt>
                    <p-column header="STT" styleClass="stt">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column field="notiTitle" header="Tiêu đề"></p-column>
                    <p-column field="notiMessage" header="Nội dung"></p-column>
                    <p-column field="createDate" header="Ngày tạo">
                        <template pTemplate="body" let-cus="rowData">
                            {{cus.createDate | date:'dd-MM-y'}}
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>
