<div class="ui-fluid">
	<div class="ui-g">
		<div class="ui-g-12">
			<div class="card card-w-title">
				<h1>Xem chi tiết</h1>
				<p-growl [value]="mes"></p-growl>
				<loading-overlay [isLoading]="isLoading"></loading-overlay>
				<form>
					<div class="ui-g form-group">
						<div class="ui-g-12 ui-md-2">
							<label>Tên</label>
						</div>
						<div class="ui-g-12 ui-md-10" style="font-weight:bold; font-size: 17px">
							{{program.name}}
						</div>
						<div class="ui-g-12 ui-md-2">
							<label>Thời gian</label>
						</div>
						<div class="ui-g-12 ui-md-10">
							Từ {{program.startDate | date: "dd-MM-y"}} đến {{program.endDate | date: "dd-MM-y"}}
						</div>
						<div class="fullWidth" *ngIf="program.campaignRequestId != null">
							<div class="ui-g-12 ui-md-2">
								<label>Ngân sách</label>
							</div>
							<div class="ui-g-12 ui-md-10">
								{{ program.budget |  number: '.0-2'}} VNĐ
							</div>
						</div>
						<div class="fullWidth" *ngIf="program.campaignRequestId == null">
							<div class="ui-g-12 ui-md-2">
								<label>Delta doanh thu</label>
							</div>
							<div class="ui-g-12 ui-md-10">
								{{ program.deltaBudget |  number: '.0-2'}} VNĐ
							</div>
						</div>
						<div class="ui-g-12 ui-md-2">
							<label>Tổng tiền</label>
						</div>
						<div class="ui-g-12 ui-md-10">
							{{ program.totalCost |  number: '.0-2'}} VNĐ
 						</div>
						<div class="ui-g-12 ui-md-2">
							<label>Trạng thái</label>
						</div>
						<div class="ui-g-12 ui-md-10">
							<div style="width: 150px" [innerHTML]="program.status | status: 'program'"></div>
						</div>
						<div style="width: 100%" *ngIf="program.status == 4">
							<div class="ui-g-12 ui-md-2">
								<label>Lý do</label>
							</div>
							<div class="ui-g-12 ui-md-10">
								{{ program.note }}
							</div>
						</div>
						
						<div class="ui-g-12 ui-md-12" *ngIf="goods.length != 0">
							<p-dataTable [value]="goods" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
								<p-headerColumnGroup>
									<p-row>
										<p-column styleClass="stt" header="STT" rowspan="2"></p-column>
										<p-column header="Mặt hàng" rowspan="2"></p-column>
										<p-column header="Doanh thu mục tiêu" rowspan="2"></p-column>
										<p-column header="Doanh thu hiện tại" rowspan="2"></p-column>
										<p-column header="Khách thân thiết" colspan="3"></p-column>
										<p-column header="Khách mới" colspan="3"></p-column>
										
									</p-row> 
									<p-row>
										<p-column header="SL giao"></p-column>
										<p-column header="SL hoàn thành"></p-column>
										<p-column header="% hoàn thành"></p-column>
										<p-column header="SL giao"></p-column>
										<p-column header="SL hoàn thành"></p-column>
										<p-column header="% hoàn thành"></p-column>
									</p-row>

								</p-headerColumnGroup>

								<p-column styleClass="stt" field="" header="STT">
									<template let-rowIndex="rowIndex" pTemplate="rowexpansion">
										{{rowIndex + 1}}
									</template>
								</p-column>

								<p-column field="goodName" header="Mặt hàng">
									<template pTemplate="body" let-cus="rowData">
										<div *ngFor="let item of cus.goods">{{ item.name }}</div>
									</template>
								</p-column>
								<p-column field="targetNumber" header="Doanh thu mục tiêu">
									<template pTemplate="body" let-cus="rowData">
										{{ cus.targetNumber|  number: '.0-2'}} 
									</template>
								</p-column>
								<p-column field="resultNumber" header="Doanh thu hiện tại">
									<template pTemplate="body" let-cus="rowData">
										{{ cus.resultNumber |  number: '.0-2'}} 
									</template>
								</p-column>
								<p-column field="targetLoyalNo" header="SL giao"></p-column>
                    
								<p-column field="curLoyalNo" header="SL hoàn thành"></p-column>
								<p-column header="%">
									<template pTemplate="body" let-cus="rowData">
										{{(cus.curLoyalNo/cus.targetLoyalNo)*100 | round}}% 
									</template>
								</p-column>
								<p-column field="targetNewNo" header="SL giao"></p-column>
								<p-column field="curNewNo" header="SL hoàn thành"></p-column>
								<p-column header="%">
									<template pTemplate="body" let-cus="rowData">
										{{(cus.curNewNo/cus.targetNewNo)*100 | round}}%
									</template>
								</p-column>
								


								
							</p-dataTable>
						</div>
						<h2 style="margin-top:10px">Chi tiết địa bàn</h2>
						<div class="ui-g-12 ui-md-12">	
							<button *ngIf="program.status == 1 || program.status == 4" class="ui-button-success" style="margin-top:15px; float:left" (click)="create()" pButton icon="fa-plus" label="Thêm địa bàn"></button>
							<div class="clearfix"></div>
							<p-dataTable [value]="items" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
								<p-column styleClass="stt" field="name" header="STT">
									<template let-rowIndex="rowIndex" pTemplate="rowexpansion">
										{{rowIndex + 1}}
									</template>
								</p-column>
								<p-column field="address" header="Địa bàn"></p-column>
								<p-column field="staffName" header="Nhân viên"></p-column>
								<p-column field="mediaName" header="Hình thức"></p-column>

								<p-column field="" header="Bắt đầu">
									<template pTemplate="body" let-cus="rowData">
										{{cus.startDate | date:'dd-MM-y'}}
									</template> 
								</p-column>
								<p-column field="" header="Kết thúc">
									<template pTemplate="body" let-cus="rowData">
										{{cus.endDate | date:'dd-MM-y'}}
									</template> 
								</p-column>
								<p-column field="quantity" header="Số lượng"></p-column>
								<p-column field="amount" header="Tổng tiền (VNĐ)">
									<template pTemplate="body" let-cus="rowData">
										{{ cus.amount |  number: '.0-2'}} 
									</template>
								</p-column>
				
								<p-column field="description" header="Mô tả"></p-column>
								<p-column *ngIf="program.status == 1 || program.status == 4" styleClass="text-center col-2" header="Chức năng">
									<template let-item="rowData" pTemplate="body"> 
										<button class="ui-button-primary" style="width: 25px" type="button" pButton (click)="update(item)" icon="fa-eye"></button>
										<button class="ui-button-danger" style="width: 25px" type="button" pButton (click)="delete(item)" icon="fa-trash-o"></button>
									</template>
								</p-column>
							</p-dataTable>
						</div>

						<div class="ui-g-12 ui-md-2">
						</div>
						
						<div class="ui-g-12 ui-md-10" *ngIf="program.status == 2">
							<button (click)="Duyet()" type="button" pButton icon="fa-check" label="Duyệt"></button>
                            <button (click)="showForm()" type="button" icon="fa-close" pButton label="Từ chối" class="ui-button-danger"></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<p-dialog header="Lý do từ chối" [(visible)]="displayForm">
    <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">

		<div class="ui-g form-group">
            <div class="ui-g-12 ui-md-12">
                <label>Lý do</label>
            </div>
            <div class="ui-g-12 ui-md-12">
                <textarea styleClass="fullWidth" rows="5" cols="50" pInputTextarea formControlName="note"></textarea>
            </div>
            <div class="ui-g-12 ui-md-4">
            </div>
            <div class="ui-g-12 ui-md-8">
				<button pButton icon="fa-close" class="ui-button-danger" label="Từ chối"></button>
                <button (click)="displayForm=false" pButton icon="fa-close" label="Thoát" ></button>
            </div>
        </div>
    </form>
</p-dialog>