<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Sửa</h1>
                <form>
                    <div class="ui-g form-group">
                        <div class="ui-g-12 ui-md-3 ui-xs-12">
                            <label>Tên chiến dịch</label>
                        </div>
                        <div class="ui-g-12 ui-md-9 ui-xs-12">
                            <input type="text" name="name" pInputText/>
                        </div>
                        <div class="ui-g-12 ui-md-3">
                            <label for="input">Thời gian áp dụng</label>
                        </div>
                        <div class="ui-g-12 ui-md-9">
                            <div class="ui-g-4" style="padding: 0px">
                                <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" id="showIcon" [showIcon]="true" name="start_date"></p-calendar>
                            </div>
                            <div class="ui-g-3" style="text-align: center; padding: 0px">
                                Đến
                            </div>
                            <div class="ui-g-4" style="padding: 0px">
                                <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" id="showIcon" [showIcon]="true" name="end_date"></p-calendar>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-3">
                            <label for="input">Mô tả</label>
                        </div>
                        <div class="ui-g-12 ui-md-9">
                            <textarea rows="5" cols="30" pInputTextarea></textarea>
                        </div>

                        <div class="ui-g-12 ui-md-12">
                            <label for="input">Điều kiện áp dụng</label>
                        </div>
                        <div class="ui-g-12 ui-md-3">
                             <div class="ui-g-12"><p-checkbox name="group1" value="New York" label="Áp dụng cho ngành hàng" [(ngModel)]="selectedCities"></p-checkbox></div>
                        </div>
                        <div class="ui-g-12 ui-md-9">
                            <p-dropdown [options]="cities" [autoWidth]="false"></p-dropdown>
                        </div>
                        <div class="ui-g-12 ui-md-3">
                             <div class="ui-g-12"><p-checkbox name="group1" value="New York" label="Áp dụng cho nhóm hàng" [(ngModel)]="selectedCities"></p-checkbox></div>
                        </div>
                        <div class="ui-g-12 ui-md-9">
                            <p-dropdown [options]="cities" [autoWidth]="false"></p-dropdown>
                        </div>
                        <div class="ui-g-12 ui-md-12">
                             <div class="ui-g-12"><p-checkbox name="group1" value="New York" label="Áp dụng cho nhóm khách hàng" [(ngModel)]="selectedCities"></p-checkbox></div>
                        </div>
                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-g" style="margin-left: 50px">
                                <div class="ui-g-12 ui-md-3">
                                    Giới tính
                                </div>
                                <div class="ui-g-12 ui-md-9">
                                    <p-dropdown [options]="cities" [autoWidth]="false"></p-dropdown>
                                </div>
                                <div class="ui-g-12 ui-md-3">
                                    Nghề nghiệp
                                </div>
                                <div class="ui-g-12 ui-md-9">
                                    <p-dropdown [options]="cities" [autoWidth]="false"></p-dropdown>
                                </div>
                                <div class="ui-g-12 ui-md-3">
                                    Số lần mua
                                </div>
                                <div class="ui-g-12 ui-md-9">
                                   <input style="width: 100px" type="text" name="name" pInputText/> Đến
                                   <input style="width: 100px" type="text" name="name" pInputText/>
                                </div>
                                <div class="ui-g-12 ui-md-3">
                                    Số tiền mua
                                </div>
                                <div class="ui-g-12 ui-md-9">
                                    <input style="width: 100px" type="text" name="name" pInputText/> Đến
                                   <input style="width: 100px" type="text" name="name" pInputText/>
                                </div>
                            </div>
                        </div>
                         <div class="ui-g-12 ui-md-12">
                             <div class="ui-g-12"><p-checkbox name="group1" value="New York" label="Khu vực siêu thị" [(ngModel)]="selectedCities"></p-checkbox></div>
                        </div>
                        
                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-g" style="margin-left: 50px">
                                <div class="ui-g-12 ui-md-3">
                                    Thành phố
                                </div>
                                <div class="ui-g-12 ui-md-9">
                                    <p-dropdown [options]="cities" [autoWidth]="false"></p-dropdown>
                                </div>
                                
                            </div>
                        </div>
                        <p-pickList [style]="{'margin-top': '20px'}" [source]="sourceCars" [target]="targetCars" sourceHeader="Danh sách" targetHeader="Đã chọn"
                            [responsive]="true" [sourceStyle]="{'height':'300px', 'width': '400px'}" [targetStyle]="{'height':'300px', 'width': '400px'}">
                            <template let-item pTemplate="item">
                                <div class="ui-helper-clearfix">
                                    {{item.name}}
                                </div>
                            </template>
                            </p-pickList>
                            <div class="ui-g-12 ui-md-3">
                            </div>
                            <div class="ui-g-12 ui-md-6">
                                <button type="button" (click)="display_add=false" pButton icon="fa-external-link-square" label="Hủy"></button>
                                <button type="submit" pButton icon="fa-external-link-square" label="Sửa"></button>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>