<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Dân số</h1>
      
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
                
    
                <div class="toolbox">
                    <div class="filter fsearch">
                        <label>Từ khóa</label>
                        <div class="ui-g">
                            <input [(ngModel)]="search" style="width: auto" placeholder="" type="text" pInputText>
                            <button style="width: 50px" type="button" label="Tìm" class="ui-button-primary" (click)="loadPopulation()" pButton></button>
                            <button style="width: 50px" type="button" label="Hủy" class="ui-button-primary" (click)="change()" pButton></button>
                        </div>
                    </div>


                    
                </div>
                <div class="clearfix"></div>
                <p-dataTable [lazy]="true" [value]="items" [totalRecords]="totalRecords" (onLazyLoad)="loadLazy($event)" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                    <p-column  [style]="{'width':'50px'}" field="" header="STT">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column field="payAreaCode" header="PayAreaCode"></p-column>
                    <p-column field="name" header="Địa chỉ"></p-column>
                    <p-column field="fullName" header="Địa chỉ chi tiết"></p-column>
                    <p-column field="parentCode" header="Parent code"></p-column>
                    <p-column field="population" header="Số dân">
                        <template let-cus="rowData" pTemplate="body">
                            {{ cus.population |  number: '.0-2'}}
                        </template>
                    </p-column>
                    <p-column styleClass="text-center col-1" header="Chức năng">
                        <template let-cus="rowData" pTemplate="body">
                            <button style="width: 25px" type="button" pButton (click)="update(cus)" icon="fa-eye"></button>
                        </template>
                    </p-column>
                    
                </p-dataTable>
            </div>
        </div>
    </div>
</div>
<p-dialog header="{{title}}" [(visible)]="displayForm">
    <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form" style="margin-bottom: 100px">
        <div class="ui-g form-group">
            <input type="hidden" pInputText formControlName="id"/>
            <div class="ui-g-12 ui-md-2">
                <label>Tên</label>
            </div>
            <div class="ui-g-12 ui-md-10">
                {{form.controls['name'].value}}
            </div>
            <div class="ui-g-12 ui-md-2">
                <label>Số dân *</label>
            </div>
            <div class="ui-g-12 ui-md-10">
                <input type="number" min="1" pInputText formControlName="population"/>
                <div *ngIf = "form.controls['population'].touched">
                    <div *ngIf="form.controls['population'].hasError('required')" class="alert-error">Bạn cần nhập dân số</div>
                </div>
            </div>

            <div class="ui-g-12 ui-md-2">
            </div>
            <div class="ui-g-12 ui-md-10">
                <button class="ui-button-success" [disabled]="!form.valid" type="submit" pButton icon="fa-check" label="{{title}}"></button>
                <button type="text" (click)="displayForm=false" pButton icon="fa-close" label="Thoát"></button>
            </div>
        </div>
    </form>
</p-dialog>