<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Kết quả chỉ tiêu của nhân viên</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
                
                <button *ngIf ="chodieuchinh==true" class="ui-button-success" style="margin-top:15px; float:left" type="text" (click)="dieuchinh()" pButton icon="fa-plus" label="Điều chỉnh"></button>
                <button style="float:left; margin-top:15px" class="ui-button-success" (click)="baocao()" pButton label="Xuất báo cáo"></button>
                <div class="toolbox">
                    <div style="margin-top:25px;margin-left: 50px; float:left">
                        Thân tiết {{oldTotalLoyalCus}} - {{newTotalLoyalCus}}
                        Mới {{oldTotalOldCus}} - {{newTotalOldCus}}
                    </div>
                    <div class="filter fsearch">
                        <label>Từ khóa</label>
                        <div class="ui-g">
                            <input #gb type="text" pInputText>
                        </div>
                    </div>
 
                </div>
                <div class="clearfix"></div>
                <p-dataTable [value]="items" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                    <p-headerColumnGroup>
                        <p-row>
                            <p-column styleClass="stt" header="STT" rowspan="2"></p-column>
                            <p-column header="Mã địa bàn" rowspan="2"></p-column>
                            <p-column header="Loại địa bàn" rowspan="2"></p-column>
                            <p-column header="Địa chỉ" rowspan="2"></p-column>
                            <p-column header="Nhân viên" rowspan="2"></p-column>
                            <p-column header="Khách thân thiết" colspan="3"></p-column>
                            <p-column header="Khách mới" colspan="3"></p-column>
                           
                        </p-row>
                        <p-row>
                            <p-column header="SL giao"></p-column>
                            <p-column header="SL hoàn thành"></p-column>
                            <p-column header="%"></p-column>
                            <p-column header="SL giao"></p-column>
                            <p-column header="SL hoàn thành"></p-column>
                            <p-column header="%"></p-column>
                        </p-row>

                    </p-headerColumnGroup>
                    <p-column styleClass="stt" header="STT">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column field="payAreaCode" header="Mã địa bàn"></p-column>
                    <p-column field="shopFriendly" header="Loại địa bàn">
                        <template pTemplate="body" let-cus="rowData">
                            {{cus.shopFriendly | status : 'area'}}
                        </template>
                    </p-column>
                    <p-column field="address" header="Địa chỉ"></p-column>
                    <p-column field="staffName" header="Nhân viên"></p-column>
                    <p-column field="targetLoyalCus" header="SL giao">
                        <template pTemplate="body" let-cus="rowData">
                            {{cus.targetLoyalCus}}
                            <button *ngIf ="chodieuchinh==true" type="button" style="float:right; width: 25px" pButton (click)="updateLoyal(cus)" icon="fa-edit"></button>
                        </template>
                    </p-column>
                    <p-column field="curLoyalCusNo" header="SL hoàn thành"></p-column>
                    <p-column header="%">
                        <template pTemplate="body" let-cus="rowData">
                            <span *ngIf="cus.targetLoyalCus > 0">{{(cus.curLoyalCusNo/cus.targetLoyalCus)*100 | round}}%</span>
                        </template>
                    </p-column>
                    <p-column field="targetOldCus" header="SL giao">
                        <template pTemplate="body" let-cus="rowData">
                            {{cus.targetOldCus}}
                            <button *ngIf ="chodieuchinh==true" type="button" style="float:right; width: 25px" pButton (click)="updateOld(cus)" icon="fa-edit"></button>
                        </template>
                    </p-column>
                    <p-column field="curOldCusNo" header="SL hoàn thành"></p-column>
                    <p-column header="%">
                        <template pTemplate="body" let-cus="rowData">
                            {{(cus.curOldCusNo/cus.targetOldCus)*100 | round}}%
                        </template>
                    </p-column>
                    
                    

                </p-dataTable>
            </div>
        </div>
    </div>
</div>


<p-dialog header="Chỉnh sửa" [(visible)]="displayLoyalForm">
    <form (ngSubmit)="onLoyalSubmit(formLoyal.value)" [formGroup]="formLoyal">
        <div class="ui-g form-group">
            <input type="hidden" pInputText formControlName="id"/>
            <div class="ui-g-12 ui-md-2">
                <label>Số lượng</label>
            </div>
            <div class="ui-g-12 ui-md-10">
                <input type="text" pInputText formControlName="targetLoyalCus"/>
                <div *ngIf="formLoyal.controls['targetLoyalCus'].hasError('pattern') && formLoyal.controls['targetLoyalCus'].touched" class="alert-error">Số lượng phải là số</div>
            </div>
             <div class="ui-g-12 ui-md-2">
            </div>
            <div class="ui-g-12 ui-md-10">
                <button class="ui-button-success" [disabled]="!formLoyal.valid" type="submit" pButton icon="fa-check" label="Chỉnh sửa"></button>
                <button type="text" (click)="displayLoyalForm=false" pButton icon="fa-close" label="Thoát"></button>
            </div>
        </div>
    </form>
</p-dialog>


<p-dialog header="Chỉnh sửa" [(visible)]="displayOldForm">
    <form (ngSubmit)="onOldSubmit(formOld.value)" [formGroup]="formOld">
        <div class="ui-g form-group">
            <input type="hidden" pInputText formControlName="id"/>
            <div class="ui-g-12 ui-md-2">
                <label>Số lượng</label>
            </div>
            <div class="ui-g-12 ui-md-10">
                <input type="text" pInputText formControlName="targetOldCus"/>
                <div *ngIf="formOld.controls['targetOldCus'].hasError('pattern') && formOld.controls['targetOldCus'].touched" class="alert-error">Số lượng phải là số</div>
            </div>
             <div class="ui-g-12 ui-md-2">
            </div>
            <div class="ui-g-12 ui-md-10">
                <button class="ui-button-success" [disabled]="!formOld.valid" type="submit" pButton icon="fa-check" label="Chỉnh sửa"></button>
                <button type="text" (click)="displayOldForm=false" pButton icon="fa-close" label="Thoát"></button>
            </div>
        </div>
    </form>
</p-dialog>