<div class="ui-fluid"> 
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Quản lý chiến dịch</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
                
                <div class="toolbox">
                    <div class="filter fsearch">
                        <label>Từ khóa</label>
                        <div class="ui-g">
                            <input placeholder="" #gb type="text" pInputText>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                 
                <p-dataTable resizableColumns="true" [value]="items" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                    <p-headerColumnGroup>
                        <p-row>
                            <p-column styleClass="stt" header="STT" rowspan="2"></p-column>
                            <p-column header="Chiến dịch" rowspan="2"></p-column>
                            <p-column header="Ngày bắt đầu" rowspan="2"></p-column>
                            <p-column header="Ngày kết thúc" rowspan="2"></p-column>
                            <!--<p-column header="Ngày tạo" rowspan="2"></p-column>
                            <p-column header="Ngày duyệt" rowspan="2"></p-column>-->
                            <p-column header="Chỉ tiêu" rowspan="2"></p-column>
                            <p-column header="Đã chăm sóc" rowspan="2"></p-column>
                            <p-column header="Cảnh báo" colspan="3"></p-column>
                            <!--<p-column header="Survey" rowspan="2"></p-column>-->
                            <p-column header="Trạng thái" rowspan="2"></p-column>
                            <p-column header="Chức năng" rowspan="2"></p-column>
                        </p-row>
                        <p-row>
                            <p-column header="GĐ 1"></p-column>
                            <p-column header="GĐ 2"></p-column>
                            <p-column header="GĐ 3"></p-column>
                        </p-row>
                    </p-headerColumnGroup>

                    <p-column styleClass="stt" field="" header="STT">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion" let-cus="rowData">
                            <div [ngClass]="{'endclass': cus.campaignStatus == 6 }">
                                {{rowIndex + 1}}
                            </div>
                        </template>
                    </p-column>
                    <p-column field="campaignName" header="Chiến dịch">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion" let-cus="rowData">
                            <div [ngClass]="{'endclass': cus.campaignStatus == 6 }">
                                {{cus.campaignName}}
                            </div>
                        </template>
                    </p-column>
                    <p-column field="startDate" header="Ngày bắt dầu">
                        <template pTemplate="body" let-cus="rowData">
                            <div [ngClass]="{'endclass': cus.campaignStatus == 6 }">
                            {{cus.startDate | date:'dd-MM-y'}}
                            </div>
                        </template>
                    </p-column>
                    <p-column field="endDate" header="Ngày kết thúc">
                        <template pTemplate="body" let-cus="rowData">
                            <div [ngClass]="{'endclass': cus.campaignStatus == 6 }">
                            {{cus.endDate | date:'dd-MM-y'}}
                            </div>
                        </template>
                    </p-column>
                    <!--<p-column field="createDate" header="Ngày tạo">
                        <template pTemplate="body" let-cus="rowData">
                            {{cus.createDate | date:'dd-MM-y'}}
                        </template>
                    </p-column>
                    <p-column field="endDate" header="Ngày duyệt">
                        <template pTemplate="body" let-cus="rowData">
                            {{cus.verifyDate | date:'dd-MM-y'}}
                        </template>
                    </p-column>-->
                    <p-column field="targetNumber" header="Số khách">
                        <template pTemplate="body" let-cus="rowData">
                            <div [ngClass]="{'endclass': cus.campaignStatus == 6 }">
                                {{cus.targetNumber}}
                            </div>
                        </template>
                    </p-column>
                    <p-column field="resultNumber" header="Đã chăm sóc">
                        <template pTemplate="body" let-cus="rowData">
                            <div [ngClass]="{'endclass': cus.campaignStatus == 6 }">
                                {{cus.resultNumber}}
                            </div>
                        </template>
                    </p-column>

                    <p-column field="" header="GĐ 1">
                        <template pTemplate="body" let-item="rowData">
                            <span *ngIf="item.alarm1 == 1" class="blue" style="display: block">{{item.result1}}</span>
                            <span *ngIf="item.alarm1 == 0">{{item.result1}}</span>
                        </template>
                    </p-column>
                    <p-column field="" header="GĐ 2">
                        <template pTemplate="body" let-item="rowData">
                            <span *ngIf="item.alarm2 == 1" class="yellow" style="display: block">{{item.result2}}</span>
                            <span *ngIf="item.alarm2 == 0">{{item.result2}}</span>
                        </template>
                    </p-column>
                    <p-column field="" header="GĐ 3">
                        <template pTemplate="body" let-item="rowData">
                            <span *ngIf="item.alarm3 == 1" class="red" style="display: block">{{item.result3}}</span>
                            <span *ngIf="item.alarm3== 0">{{item.result3}}</span>
                        </template>
                    </p-column>

                    <!--<p-column styleClass="text-center" field="surveyId" header="Survey">
                        <template pTemplate="body" let-item="rowData">
                            <a *ngIf="item.surveyId != null" pButton [routerLink]="['/fill-survey',item.surveyId]" label="Xem"></a> 
                        </template>
                    </p-column>-->
                    <p-column styleClass="text-center" field="campaignStatus" header="Trạng thái">
                        <template pTemplate="body" let-cus="rowData">
                            <div [innerHTML]="cus.campaignStatus | status: 'campaign'"></div>
                        </template>
                    </p-column>
                    
                    <p-column field="status text-center" header="Chức năng">
                        <template pTemplate="body" let-c="rowData">
                           <button *ngIf="c.surveyId == null" type="button" pButton label="Chăm sóc" [routerLink]="['/campaign-staff-customer', c.campaignId]"></button>
                           <button *ngIf="c.surveyId != null" type="button" pButton label="Chăm sóc" [routerLink]="['/campaign-staff-customer-survey', c.campaignId]"></button>
                           <a pButton [routerLink]="['/view-campaign', c.campaignId]" label="Chi tiết"></a>
                        </template>
                    </p-column>
                    
                </p-dataTable>
            </div>
        </div>
    </div>
</div>
