<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Thông báo</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
                <div class="ui-g-4 ui-md-4 ui-xs-4 ch" *ngIf="datas[0].name != null">
                    <p-chart type="doughnut" #chart1 [(data)]="datas[0]"></p-chart>
                    <div style="text-align: center">{{datas[0].name}}</div>
                    <div style="text-align: center">{{datas[0].startDate | date:'dd-MM-y' }} - {{datas[0].endDate | date:'dd-MM-y' }}</div>
                </div>
                <div class="ui-g-4 ui-md-4 ui-xs-4 ch" *ngIf="datas[1].name != null">
                    <p-chart type="doughnut" #chart2 [(data)]="datas[1]"></p-chart>
                    <div style="text-align: center">{{datas[1].name}}</div>
                    <div style="text-align: center">{{datas[1].startDate | date:'dd-MM-y' }} - {{datas[1].endDate | date:'dd-MM-y' }}</div>
                </div>
                <div class="ui-g-4 ui-md-4 ui-xs-4 ch" *ngIf="datas[2].name != null">
                    <p-chart type="doughnut" #chart3 [(data)]="datas[2]"></p-chart>
                    <div style="text-align: center">{{datas[2].name}}</div>
                    <div style="text-align: center">{{datas[2].startDate | date:'dd-MM-y' }} - {{datas[2].endDate | date:'dd-MM-y' }}
                    </div>
                </div>
                <div class="ui-g-4 ui-md-4 ui-xs-4 ch" *ngIf="datas[3].name != null">
                    <p-chart type="doughnut" #chart4 [(data)]="datas[3]"></p-chart>
                    <div style="text-align: center">{{datas[3].name}}</div>
                    <div style="text-align: center">{{datas[3].startDate | date:'dd-MM-y' }} - {{datas[3].endDate | date:'dd-MM-y' }}</div>
                    
                </div>
                <div class="ui-g-4 ui-md-4 ui-xs-4" *ngIf="datas[4].name != null">
                    <p-chart type="doughnut" #chart5 [(data)]="datas[4]"></p-chart>
                    <div style="text-align: center">{{datas[4].name}}</div>
                    <div style="text-align: center">{{datas[4].startDate | date:'dd-MM-y' }} - {{datas[4].endDate | date:'dd-MM-y' }}</div>
                </div>
                <div class="ui-g-4 ui-md-4 ui-xs-4" *ngIf="datas[5].name != null">
                    <p-chart type="doughnut" #chart6 [(data)]="datas[5]"></p-chart>
                    <div style="text-align: center">{{datas[5].name}}</div>
                    <div style="text-align: center">{{datas[5].startDate | date:'dd-MM-y' }} - {{datas[5].endDate | date:'dd-MM-y' }}</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
