<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Danh sách chỉ tiêu</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
                
                <div class="toolbox">

                    
                    <div class="filter fsearch">
                        <label>Từ khóa</label>
                        <div class="ui-g">
                            <input #gb type="text" pInputText>
                        </div>
                    </div>
                    
                </div>
                <div class="clearfix"></div>

                <p-dataTable [value]="items" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                  <!--<p-headerColumnGroup>
                        <p-row>
                            <p-column styleClass="stt" header="STT" rowspan="2"></p-column>
                            <p-column header="Tên" rowspan="2"></p-column>
                            <p-column header="Bắt đầu" rowspan="2"></p-column>
                            <p-column header="Kết thúc" rowspan="2"></p-column>
                            <p-column header="Địa chỉ" rowspan="2"></p-column>
                            <p-column header="Khách thân thiết" colspan="3"></p-column>
                            <p-column header="Khách mới" colspan="3"></p-column>
                            <p-column header="Trạng thái" rowspan="2"></p-column>
                        </p-row>
                        <p-row>
                            <p-column header="SL giao" ></p-column>
                            <p-column header="SL hoàn thành"></p-column>
                            <p-column header="% hoàn thành"></p-column>
                            <p-column header="SL giao"></p-column>
                            <p-column header="SL hoàn thành"></p-column>
                            <p-column header="% hoàn thành"></p-column>
                        </p-row>

                    </p-headerColumnGroup>-->

                   <p-column header="STT" styleClass="stt" [sortable]="true">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion" let-cus="rowData">
                            <div [ngClass]="{'endclass': cus.targetStatus == 6 }">
                                {{rowIndex + 1}}
                            </div>
                        </template>
                    </p-column>
                    <p-column field="bdkhTargetName" header="Tên" [sortable]="true">
                        <template pTemplate="body" let-cus="rowData">
                            <div [ngClass]="{'endclass': cus.targetStatus == 6 }">
                                {{cus.bdkhTargetName}}
                            </div>
                        </template>
                    </p-column>
                    <p-column field="targetStartDate" header="Bắt đầu" [sortable]="true">
                        <template pTemplate="body" let-cus="rowData">
                            <div [ngClass]="{'endclass': cus.targetStatus == 6 }">
                            {{cus.targetStartDate | date:'dd-MM-y'}}
                            </div>
                        </template>
                    </p-column>
                    <p-column field="targetEndDate" header="Kết thúc" [sortable]="true">
                        <template pTemplate="body" let-cus="rowData">
                            <div [ngClass]="{'endclass': cus.targetStatus == 6 }">
                            {{cus.targetEndDate | date:'dd-MM-y'}}
                            </div>
                        </template>
                    </p-column>
        
                    
   
                    <p-column field="targetLoyalCus" header="SL giao (TT)" [sortable]="true">
                        <template pTemplate="body" let-cus="rowData">
                            <div [ngClass]="{'endclass': cus.targetStatus == 6 }">
                            {{ cus.targetLoyalCus}} 
                            </div>
                        </template>
                    </p-column>
                    <p-column field="curLoyalCusNo" header="SL hoàn thành (TT)" [sortable]="true">
                        <template pTemplate="body" let-cus="rowData">
                            <div [ngClass]="{'endclass': cus.targetStatus == 6 }">
                                {{ cus.curLoyalCusNo}} 
                            </div>
                        </template>
                    </p-column>
                    <p-column header="% (TT)" [sortable]="true">
                        <template pTemplate="body" let-cus="rowData">
                            <div [ngClass]="{'endclass': cus.targetStatus == 6 }">
                                {{(cus.curLoyalCusNo/cus.targetLoyalCusNo)*100 | round}}%
                            </div>
                        </template>
                    </p-column>
                    <p-column field="targetOldCusNo" header="SL giao (M)" [sortable]="true">
                        <template pTemplate="body" let-cus="rowData">
                            <div [ngClass]="{'endclass': cus.targetStatus == 6 }">
                                {{ cus.targetOldCus}} 
                            </div>
                        </template>
                    </p-column>
                    <p-column field="curOldCusNo" header="SL hoàn thành (M)" [sortable]="true">
                        <template pTemplate="body" let-cus="rowData">
                            <div [ngClass]="{'endclass': cus.targetStatus == 6 }">
                                {{ cus.curOldCusNo}} 
                            </div>
                        </template>
                    </p-column>
                    <p-column header="% (M)" [sortable]="true">
                        <template pTemplate="body" let-cus="rowData">
                            <div [ngClass]="{'endclass': cus.targetStatus == 6 }">
                            {{(cus.curOldCusNo/cus.targetOldCusNo)*100 | round}}%
                            </div>
                        </template>
                    </p-column>
                    <p-column styleClass="text-center col-status" field="stats" header="Trạng thái">
                        <template pTemplate="body" let-cus="rowData">
                            <div [innerHTML]="cus.targetStatus | status: 'target'"></div>
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>