<div class="ui-fluid"> 
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Danh sách nhân viên</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>

                <button *ngIf="user.staffRole == 'NVTT'" class="ui-button-success" style="margin-top:15px; float:left" type="text" (click)="displayFormUpload=true" pButton icon="fa-plus" label="Import file"></button> 

                <a *ngIf="user.staffRole != 'TTT'" class="ui-button-success" style="margin-top:15px; float:left" type="text" href="{{host}}/file/import_staff.xlsx" pButton icon="fa-download" label="Tải file mẫu"></a>

                <div class="toolbox">
                    <div class="filter fsearch">
                        <label>Từ khóa</label>
                        <div class="ui-g">
                            <input [(ngModel)]="search" style="width: auto" placeholder="tên, cmtnd, sdt..." type="text" pInputText>
                            <button style="width: 50px" type="button" label="Tìm" class="ui-button-primary" (click)="loadStaffs()" pButton></button>
                            <button style="width: 50px" type="button" label="Hủy" class="ui-button-primary" (click)="change()" pButton></button>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <p-dataTable [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadLazy($event)" [value]="staffs" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                    <p-column  [style]="{'width':'50px'}" field="" header="STT">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column field="shopCode" header="Shop code"></p-column>
                    <p-column field="staffCode" header="Mã"></p-column>
                    <p-column field="name" header="Họ tên"></p-column>
                    
                    <p-column field="mobile" header="SĐT"></p-column>
                    <p-column field="email" header="Email"></p-column>
                    <p-column field="staffRole" header="Staff Role"></p-column>
                    
                    <p-column styleClass="text-center col-2" field="" header="Chức năng">
                        <template let-cus="rowData" pTemplate="body"> 
                            <a style="width: 25px" (click)="update(cus)" pButton icon="fa-eye"></a>
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Cập nhật thông tin" [(visible)]="displayForm">
    <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form" style="margin-bottom: 100px">
        <div class="ui-g form-group">
            <!--<div class="ui-g-12 ui-md-3 ui-xs-12">
                <label>Mã siêu thị</label>
            </div>
            <div class="ui-g-12 ui-md-9 ui-xs-12">
                {{form.controls['shopCode'].value}}
            </div>-->
            
            <div class="ui-g-12 ui-md-3 ui-xs-12">
                <label>Mã nhân viên</label>
            </div>
            <div class="ui-g-12 ui-md-9 ui-xs-12">
                {{form.controls['staffCode'].value}}
            </div>
            <div class="ui-g-12 ui-md-3 ui-xs-12">
                <label>Họ tên</label>
            </div>
            <div class="ui-g-12 ui-md-9 ui-xs-12">
                {{form.controls['name'].value}}
            </div>
            <div class="ui-g-12 ui-md-3 ui-xs-12">
                <label>Email</label>
            </div>
            <div class="ui-g-12 ui-md-9 ui-xs-12">
                <input type="text" formControlName="email" pInputText/>
            </div>
            <div class="ui-g-12 ui-md-3 ui-xs-12">
                <label>SĐT</label>
            </div>
            <div class="ui-g-12 ui-md-9 ui-xs-12">
                <input type="text" formControlName="mobile" pInputText/>
            </div>

            <div class="ui-g-12 ui-md-3 ui-xs-12">
                <label for="input">Staff Role</label>
            </div>
            <div class="ui-g-12 ui-md-9 ui-xs-12">
                <p-dropdown [options]="roles" formControlName="staffRole" [style]="{'width':'100%'}"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-3 ui-xs-12">
                <label for="input">Siêu thị</label>
            </div>
            <div class="ui-g-12 ui-md-9 ui-xs-12">
                <p-dropdown [options]="shopOptions" formControlName="shopId" [style]="{'width':'100%'}" filter="filter"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-3">
            </div>
            <div class="ui-g-12 ui-md-6">
                <button class="ui-button-success" type="submit" pButton icon="fa-check" label="Cập nhập"></button>
                <button type="button" (click)="displayForm=false" pButton icon="fa-close" label="Hủy"></button>
                
            </div>
        </div>
        <div style="margin-bottom:150px"></div>
    </form>
</p-dialog>

 <p-dialog header="Tải file lên" [(visible)]="displayFormUpload">
    <div class="ui-g-12 ui-md-12">
        <p-fileUpload #upfile name="file" (onBeforeSend)="onBeforeSend($event)" (onSelect)="onSelect($event)" (onBeforeUpload)="onBeforeUpload($event)" url="{{api}}staff/uploadfile" (onUpload)="onUpload($event)"></p-fileUpload>
    </div>
    <div class="ui-g-12 ui-md-6">
        <button type="text" (click)="displayFormUpload=false" pButton icon="fa-close" label="Thoát"></button>
    </div>
</p-dialog>