<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Quản lý chiến dịch</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>
                <div class="toolbox">
                    <div class="filter fsearch">
                        <label>Từ khóa</label>
                        <div class="ui-g">
                            <input placeholder="" #gb type="text" pInputText>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
               
                <p-dataTable [value]="items" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                    

                    <p-column styleClass="stt" field="" header="STT">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion" let-c="rowData">
                            <div [ngClass]="{'endclass': c.campaignStatus == 6 }">
                                {{rowIndex + 1}}
                            </div>
                        </template>
                    </p-column>
                    <p-column field="campaignName" header="Chiến dịch">
                        <template pTemplate="body" let-c="rowData">
                            <div [ngClass]="{'endclass': c.campaignStatus == 6 }">
                                {{c.campaignName}}
                            </div>
                        </template>
                    </p-column>
                    <p-column field="startDate" header="Ngày bắt dầu">
                        <template pTemplate="body" let-c="rowData">
                            <div [ngClass]="{'endclass': c.campaignStatus == 6 }">
                                {{c.startDate | date:'dd-MM-y'}}
                            </div>
                        </template>
                    </p-column>
                    <p-column field="endDate" header="Ngày kết thúc">
                        <template pTemplate="body" let-c="rowData">
                            <div [ngClass]="{'endclass': c.campaignStatus == 6 }">
                                {{c.endDate | date:'dd-MM-y'}}
                            </div>
                        </template>
                    </p-column>
                    <p-column field="createDate" header="Ngày tạo">
                        <template pTemplate="body" let-c="rowData">
                            <div [ngClass]="{'endclass': c.campaignStatus == 6 }">
                            {{c.createDate | date:'dd-MM-y'}}
                            </div>
                        </template>
                    </p-column>
                    <p-column field="targetNumber" header="Chỉ tiêu">
                        <template pTemplate="body" let-c="rowData">
                            <div [ngClass]="{'endclass': c.campaignStatus == 6 }">
                            {{c.targetNumber}}
                            </div>
                        </template>
                    </p-column>
                    <p-column field="resultNumber" header="Đã đạt">
                        <template pTemplate="body" let-c="rowData">
                            <div [ngClass]="{'endclass': c.campaignStatus == 6 }">
                            {{c.resultNumber}}
                            </div>
                        </template>
                    </p-column>
                    
                    

                    <p-column styleClass="text-center" field="surveyId" header="Survey">
                        <template pTemplate="body" let-item="rowData">
                            <a *ngIf="item.surveyId != null" pButton [routerLink]="['/fill-survey',item.surveyId]" label="Xem"></a> 
                        </template>
                    </p-column>
                    <p-column styleClass="status text-center" field="status" header="Trạng thái">
                        <template pTemplate="body" let-cus="rowData">
                            <div [innerHTML]="cus.campaignStatus | status: 'campaign'"></div>
                        </template>
                    </p-column>
                    
                    <p-column field="func" styleClass="text-center" header="Chức năng" [style]="{'width':'250px'}">
                        <template let-item="rowData" pTemplate="body">
                    
                            <button *ngIf="item.status == 1 && item.campaignStatus != 6" type="button" [routerLink]="['/campaign-assign', item.campaignId, item.targetNumber, item.id]" pButton label="Phân công"></button>
                            <button *ngIf="item.status == 2 && item.campaignStatus != 6" type="button" [routerLink]="['/campaign-assign-again', item.campaignId, item.targetNumber, item.id]" pButton label="Phân công lại"></button>

                            <button class="ui-button-success" *ngIf="item.status != 1" type="button" [routerLink]="['/campaign-result', item.campaignId]" pButton label="Xem kết quả"></button>

                            <a pButton [routerLink]="['/view-campaign', item.campaignId]" label="Chi tiết"></a>
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>
<p-dialog header="Thông báo" [(visible)]="display_reject">
    <div class="ui-g form-group">
        <div class="ui-g-12 ui-md-12">
            <label>Lý do</label>
        </div>
        <div class="ui-g-12 ui-md-12">
            <textarea pInputTextarea autoResize="autoResize" [style]="{'width':'100%'}"></textarea>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-check" (click)="display=false" label="Đồng ý"></button>
            <button type="button" pButton icon="fa-close" (click)="display_reject=false" label="Bỏ qua"></button>
        </div>
    </p-footer>
</p-dialog>