.ui-dialog-content{
    width: 500px;
}

.fullWidth
{
    width: 100%;
}
.alert-error{
    font-size: 11px;
    color: #d9534f;
    padding-top: 2px;
}

.ui-fluid .ui-button{
    width: fit-content;
}
.text-center{
    text-align: center;
}
.stt{
    width: 50px;
}
.ui-multiselect .ui-multiselect-label{
    height: 23px;
}
.col-2{
    width: 100px;
}
.col-3{
    width: 130px;
}
.filter{
    float:right;
    padding: 3px;
}
.fsearch{
    width: 300px;
}
.fdate{
    width: 150px;
}
.fbutton{
    margin-top:15px;
}
.toolbox{
   margin-left: 50px;
}
.clearfix{
    clear: both;
    margin-bottom: 10px;
}
.fsearch input{
    
    float:left; margin-right: 5px;
}
.col-2 a, .col-3 a{
    width: 25px !important;
}
.col-2 button, .col-3 button{ 
    width: 25px !important;
}
.col-1{
    width: 100px !important;
}

.o-load{
    background: rgba(0, 0, 0, 0.1);
    z-index: 1000000;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 900px;
}
.o-load img {
    left: 50%;
    position: fixed;
    top: 50%;
}
p-dialog input{
    width: 100%;
}
.max-width{
    width: 100%;
}
.pleft{
    margin-top:0px;
    margin-bottom: 0px;
    padding-left: 0px;
}
.pright{
    margin-top:0px;
    margin-bottom: 0px;
    padding-right: 0px;
}
.ui-state-disabled{
    opacity: 1;
}
.fulla{
    width: 80% !important;
}
.fulla .ui-dropdown-filter-container{
    width: 100% !important;
}
.green{
    background: #1f9e53;
}
.yellow{
    background: #f0ad4e;
}
.red{
    background: #b8312e;
}
.blue{
    background: #2399e5;
}
.xam{
    background: #736f6f;
}
.orange{
    background: #fd6c00;
}
.green, .yellow, .red, .blue, .xam, .orange{
    color: white;
    padding:5px;
    border-radius: 3px;
    text-align: center;
}
.col-status{
    width: 150px;
}
.text-right{
    text-align: right;
}
.ui-state-disabled, .ui-widget:disabled{
    
}
.wrapper .main{
    min-height: 850px;
}

legend{
    font-weight: bold;
    color: #333;
}
.ui-cell-data{
    word-wrap: break-word;
    white-space: normal;
}
.atb:hover{
    color: blue;
}
.color-red{
    color: red;
    font-weight: bold;
}
th{
    font-weight: bold !important;
}
td .ui-button{
    margin-bottom: 5px;
}
.ui-widget{
    font-family: "latoregular", "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.endclass{
    color: #ccc !important;
}
.ch{
    min-height: 250px;
}
.card-w-title{
    overflow: hidden;
    min-height: 500px;
}
.select-all{
    float: left;
    margin-top:27px;
}
.h2tit{
    float:left;
    margin-top:20px;
}