<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Danh sách nhân viên</h1>
                <p-growl [value]="mes"></p-growl>
				<loading-overlay [isLoading]="isLoading"></loading-overlay>
                <!--<button class="ui-button-success" style="margin-top:15px; float:left" type="text" (click)="create()" pButton icon="fa-plus" label="Thêm"></button>-->

                <div class="toolbox">


                    <!--<div class="filter fsearch">
                        <label>Từ khóa</label>
                        <div class="ui-g">
                            <input [(ngModel)]="search" style="width: auto" placeholder="tên, cmtnd, sdt..." type="text" pInputText>
                            <button style="width: 50px" type="button" label="Tìm" class="ui-button-primary" (click)="loadItems()" pButton></button>
                            <button style="width: 50px" type="button" label="Hủy" class="ui-button-primary" (click)="change()" pButton></button>
                        </div>
                    </div>-->
                    
                </div>
                <div class="clearfix"></div>
                <p-dataTable [value]="staffs" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                    <p-column styleClass="stt" header="STT">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column field="name" header="Họ tên"></p-column>
                    <p-column field="mobile" header="SĐT"></p-column>
                    <p-column field="email" header="Email"></p-column>
                    <p-column field="staffCode" header="Mã"></p-column>
                    <p-column field="staffRole" header="Chức vụ"></p-column>
                    <!--<p-column field="CMTND" header="Chức danh"></p-column>-->
                    <p-column field="birthday" header="Ngày sinh">
                        <template pTemplate="body" let-cus="rowData">
                            {{cus.birthday | date:'dd-MM-y'}}
                        </template>
                    </p-column>
                    <p-column styleClass="text-center col-2" field="" header="Chức năng">
                        <template let-cus="rowData" pTemplate="body"> 
                            <a style="width: 25px" (click)="update(cus)" pButton icon="fa-eye"></a>
                        </template>
                    </p-column>
                    
                </p-dataTable>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Cập nhật thông tin" [(visible)]="displayForm">
    <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form" style="margin-bottom: 100px">
        <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-3 ui-xs-12">
                <label>Mã nhân viên</label>
            </div>
            <div class="ui-g-12 ui-md-9 ui-xs-12">
                {{form.controls['staffCode'].value}}
            </div>
            <div class="ui-g-12 ui-md-3 ui-xs-12">
                <label>Họ tên</label>
            </div>
            <div class="ui-g-12 ui-md-9 ui-xs-12">
                {{form.controls['name'].value}}
            </div>
            <div class="ui-g-12 ui-md-3 ui-xs-12">
                <label>Email</label>
            </div>
            <div class="ui-g-12 ui-md-9 ui-xs-12">
                <input type="text" formControlName="email" pInputText/>
            </div>
            <div class="ui-g-12 ui-md-3 ui-xs-12">
                <label>SĐT</label>
            </div>
            <div class="ui-g-12 ui-md-9 ui-xs-12">
                <input type="text" formControlName="mobile" pInputText/>
            </div>

            <div class="ui-g-12 ui-md-3 ui-xs-12">
                <label for="input">Staff Role</label>
            </div>
            <div class="ui-g-12 ui-md-9 ui-xs-12">
                <p-dropdown [options]="roles" formControlName="staffRole" [style]="{'width':'100%'}"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-3">
            </div>
            <div class="ui-g-12 ui-md-6">
                <button class="ui-button-success" type="submit" pButton icon="fa-check" label="Cập nhập"></button>
                <button type="button" (click)="displayForm=false" pButton icon="fa-close" label="Hủy"></button>
            </div>
        </div>
        <div style="margin-bottom:150px"></div>
    </form>
    
</p-dialog>

<p-dialog header="Thông báo" [(visible)]="displayDel">
    <p>Bạn có chắc muốn xóa nhân viên này?</p>
    <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="displayDel=false" label="Thoát"></button>
                <button class="ui-button-danger" type="button" pButton icon="fa-check" (click)="acceptDel()" label="Đồng ý"></button>
            </div>
        </p-footer>
</p-dialog>