<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Danh sách khách hàng của siêu thị A chiến dịch b do nhân viên c chăm sóc</h1>
                <p-growl [value]="msgs"></p-growl>
                <!--<div class="ui-g form-group">
                    <div class="ui-g-1 ui-md-1">
                        <label>Tuổi</label>
                        <div class="ui-g">
                            <input style="width: 50%" pInputText placeholder="Từ">
                            <input style="width: 50%" pInputText placeholder="Đến">
                        </div>
                    </div>
                    <div class="ui-g-1 ui-md-1">
                        <label>Giới tính</label>
                        <p-dropdown [options]="cities" [(ngModel)]="selectedCity1" [autoWidth]="false"></p-dropdown>
                    </div>
                    <div class="ui-g-1 ui-md-1">
                        <label>Nghề</label>
                        <p-dropdown [options]="cities" [(ngModel)]="selectedCity1" [autoWidth]="false"></p-dropdown>
                    </div>
                    <div class="ui-g-1 ui-md-1">
                        <label>Sở thích</label>
                        <p-dropdown [options]="cities" [(ngModel)]="selectedCity1" [autoWidth]="false"></p-dropdown>
                    </div>
                    <div class="ui-g-3 ui-md-3" style="padding-top:0px">
                        <div class="ui-g">
                            <div class="ui-g-6 ui-md-6">
                                <label>Từ ngày</label>
                                <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" id="showIcon" [showIcon]="false"></p-calendar>
                            </div>
                            <div class="ui-g-6 ui-md-6">
                                <label>Đến ngày</label>
                                <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" id="showIcon" [showIcon]="false"></p-calendar>
                            </div>
                        </div>
                    </div>
                    
                    <div class="ui-g-3 ui-md-3">
                        <label>Từ khóa</label>
                        <div class="ui-g">
                            <input style="width: 150px; float:left; margin-right: 5px;" type="email" pInputText>
                            <button style="width: 50px" type="button" label="Tìm" class="ui-button-primary" pButton></button>
                        </div>
                    </div>
                    <div class="ui-g-1 ui-md-1">
                        <label></label>
                        <div class="ui-g">
                            <button style="margin-top:15px" type="text" (click)="showAdd()" pButton icon="fa-check" label="Thêm"></button>
                        </div>
                    </div>
                </div>-->
                <p-dataTable [value]="customers">
                    <p-column header="STT">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column [sortable]="true" field="name" header="Họ tên"></p-column>
                    <p-column [sortable]="true" field="fullName" header="SĐT"></p-column>
                    <p-column field="phoneNo" header="Thời gian"></p-column>
                    <p-column field="phoneNo" header="Nội dung"></p-column>
                    <p-column field="phoneNo" header="Kết quả"></p-column>
                    <p-column field="phoneNo" header="Yêu cầu"></p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>
