<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <h1>Danh sách câu hỏi</h1>
                <p-growl [value]="mes"></p-growl>
                <loading-overlay [isLoading]="isLoading"></loading-overlay>

                <p-dropdown *ngIf="user.staffRole == 'NVTT'" styleClass="fulla" [options]="questions" [(ngModel)]="selectedQuestionId" filter="filter"></p-dropdown>
                <button *ngIf="user.staffRole == 'NVTT'" style="float:right; width: 100px" type="button" pButton icon="fa-plus" (click)="add()" label="Thêm"></button>

                <div class="clearfix"></div>
                <p-dataTable [value]="selectedQuestions" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,50,100]" [globalFilter]="gb" #dt>
                    <p-column header="STT" styleClass="stt">
                        <template let-rowIndex="rowIndex" pTemplate="rowexpansion">
                            {{rowIndex + 1}}
                        </template>
                    </p-column>
                    <p-column field="questionText" header="Nội dung"></p-column>
                    <p-column *ngIf="user.staffRole == 'NVTT'" styleClass="text-center col-1" field="func" header="Chức năng">
                        <template let-cus="rowData" pTemplate="body">
                            <button class="ui-button-danger" style="width: 25px" type="button" pButton (click)="delete(cus)" icon="fa-trash-o"></button>
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Thông báo" [(visible)]="displayDel">
    <p>Loại bỏ câu hỏi này?</p>
    <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="displayDel=false" label="Thoát"></button>
                <button class="ui-button-danger" type="button" pButton icon="fa-check" (click)="acceptDel()" label="Đồng ý"></button>
                
            </div>
        </p-footer>
</p-dialog>
